// Name:            Accordion
// Description:     Component to create accordions
//
// ========================================================================


// Variables
// ========================================================================

$accordion-default-item-margin-top:             $global-margin;

$accordion-default-title-gap:                   15px;
$accordion-default-title-font-size:             $global-medium-font-size;
$accordion-default-title-line-height:           1.4;
$accordion-default-title-color:                 $global-emphasis-color;
$accordion-default-title-hover-color:           $global-color;

$accordion-default-content-margin-top:          $global-margin;


// Set custom properties
// ========================================================================

:root {

    --accordion-default-item-margin-top: $accordion-default-item-margin-top;

    --accordion-default-title-gap: $accordion-default-title-gap;
    --accordion-default-title-font-size: $accordion-default-title-font-size;
    --accordion-default-title-line-height: $accordion-default-title-line-height;
    --accordion-default-title-color: $accordion-default-title-color;
    --accordion-default-title-hover-color: $accordion-default-title-hover-color;

    --accordion-default-content-margin-top: $accordion-default-content-margin-top;

}