// Name:            Accordion
// Description:     Component to create accordions
//
// Component:       `uk-accordion`
//
// Sub-objects:     `uk-accordion-title`
//                  `uk-accordion-content`
//
// States:          `uk-open`
//
// ========================================================================


// Variables
// ========================================================================

:where([class*='uk-accordion']) {

    --accordion-item-margin-top:                     var(--global-margin);

    --accordion-title-font-size:                     var(--global-medium-font-size);
    --accordion-title-line-height:                   1.4;
    --accordion-title-color:                         hsl( var(--theme-emphasis-color, var(--global-emphasis-color) ) ); // hsl(var(--global-emphasis-color));
    --accordion-title-hover-color:                   hsl( var(--theme-color, var(--global-color) ) ); // hsl(var(--global-color));

    --accordion-content-margin-top:                  var(--global-margin);

}


/* ========================================================================
   Component: Accordion
 ========================================================================== */

.uk-accordion {
    padding: 0;
    list-style: none;
}


/* Item
 ========================================================================== */

.uk-accordion > :nth-child(n+2) {
    margin-block-start: var(--accordion-item-margin-top);
}


/* Title
 ========================================================================== */

.uk-accordion-title {
    display: block;
    font-size: var(--accordion-title-font-size);
    line-height: var(--accordion-title-line-height);
    color: var(--accordion-title-color);
}

/* Hover */
.uk-accordion-title:hover {
    color: var(--accordion-title-hover-color);
    text-decoration: none;
}


/* Content
 ========================================================================== */

.uk-accordion-content {
    display: flow-root;
    margin-block-start: var(--accordion-content-margin-top);
}

/*
 * Remove margin from the last-child
 */

.uk-accordion-content > :last-child { margin-block-end: 0; }
