// Name:            Alert
// Description:     Component to create alert messages
//
// ========================================================================


// Variables
// ========================================================================

$alert-margin-vertical:                         $global-margin;
$alert-padding:                                 15px;
$alert-padding-right:                           $alert-padding + 14px;
$alert-background:                              $global-muted-background;
$alert-color:                                   $global-color;

$alert-close-top:                               $alert-padding + 5px;
$alert-close-right:                             $alert-padding;

$alert-primary-background:                      color-mix(in oklab, var(--theme-primary-background, var(--global-primary-background)), transparent 85%);
$alert-primary-color:                           var(--theme-primary-background, var(--global-primary-background) );

$alert-success-background:                      color-mix(in oklab, var(--theme-success-background, var(--global-success-background)), transparent 90%);
$alert-success-color:                           var(--theme-success-background, var(--global-success-background) );

$alert-warning-background:                      color-mix(in oklab, var(--theme-warning-background, var(--global-warning-background)), transparent 90%);
$alert-warning-color:                           var(--theme-warning-background, var(--global-warning-background) );

$alert-danger-background:                       color-mix(in oklab, var(--theme-danger-background, var(--global-danger-background)), transparent 90%);
$alert-danger-color:                            var(--theme-danger-background, var(--global-danger-background) );


// Set custom properties
// ========================================================================

:root {

    --alert-margin-vertical: #{$alert-margin-vertical};
    --alert-padding: #{$alert-padding};
    --alert-padding-right: #{$alert-padding-right};
    --alert-background: #{$alert-background};
    --alert-color: #{$alert-color};

    --alert-close-top: #{$alert-close-top};
    --alert-close-right: #{$alert-close-right};

    --alert-primary-background: #{$alert-primary-background};
    --alert-primary-color: #{$alert-primary-color};

    --alert-success-background: #{$alert-success-background};
    --alert-success-color: #{$alert-success-color};

    --alert-warning-background: #{$alert-warning-background};
    --alert-warning-color: #{$alert-warning-color};

    --alert-danger-background: #{$alert-danger-background};
    --alert-danger-color: #{$alert-danger-color};

}
