// Name:            Align
// Description:     Utilities to align embedded content
//
// ========================================================================


// Variables
// ========================================================================

$align-margin-horizontal:                       var(--global-gutter);
$align-margin-vertical:                         var(--global-gutter);

$align-margin-horizontal-l:                     var(--global-medium-gutter);


:root {

    --align-margin-horizontal: #{$align-margin-horizontal};
    --align-margin-vertical: #{$align-margin-vertical};

    @media (min-width: $breakpoint-medium) {

        --align-margin-horizontal: #{$align-margin-horizontal-l};

    }

}
