// Name:            Align
// Description:     Utilities to align embedded content
//
// ========================================================================


// Variables
// ========================================================================

$align-margin-horizontal: var(--align-margin-horizontal);
$align-margin-vertical: var(--align-margin-vertical);

$align-margin-horizontal-l: var(--align-margin-horizontal);


:root {

    --align-margin-horizontal:                       var(--global-gutter);
    --align-margin-vertical:                         var(--global-gutter);

    @media (min-width: $breakpoint-medium) {

        --align-margin-horizontal:                   var(--global-medium-gutter);

    }

}
