// Name:            Animation
// Description:     Utilities for keyframe animations
//
// ========================================================================


// Variables
// ========================================================================

$animation-duration: var(--animation-duration);
$animation-fade-duration: var(--animation-fade-duration);
$animation-stroke-duration: var(--animation-stroke-duration);
$animation-kenburns-duration: var(--animation-kenburns-duration);
$animation-fast-duration: var(--animation-fast-duration);

$animation-slide-small-translate: var(--animation-slide-small-translate);
$animation-slide-medium-translate: var(--animation-slide-medium-translate);


// Set custom properties
// ========================================================================

:where([class*='uk-animation-']) {

    --animation-duration:                            0.5s;
    --animation-fade-duration:                       0.8s;
    --animation-stroke-duration:                     2s;
    --animation-kenburns-duration:                   15s;
    --animation-fast-duration:                       0.1s;

    --animation-slide-small-translate:               10px;
    --animation-slide-medium-translate:              50px;

}


// Mixins and overrides
// ========================================================================

@mixin hook-animation-misc() {

    /*
    * Slide Small
    */

    @keyframes uk-slide-top-small {
        0% { transform: translateY( calc( var(--animation-slide-small-translate) * -1 ) ); }
    }

    @keyframes uk-slide-left-small {
        0% { transform: translateX( calc( var(--animation-slide-small-translate) * -1 ) ); }
    }

    /*
    * Slide Medium
    */

    @keyframes uk-slide-top-medium {
        0% { transform: translateY( calc( var(--animation-slide-medium-translate) * -1 ) ); }
    }

    @keyframes uk-slide-left-medium {
        0% { transform: translateX( calc( var(--animation-slide-medium-translate) * -1 ) ); }
    }

}
