// Name:            Article
// Description:     Component to create articles
//
// ========================================================================


// Variables
// ========================================================================

$article-margin-top:                            $global-large-margin;

$article-title-font-size-m:                     $global-2xlarge-font-size;
$article-title-font-size:                       $article-title-font-size-m * 0.85;
$article-title-line-height:                     1.2;

$article-meta-font-size:                        $global-small-font-size;
$article-meta-line-height:                      1.4;
$article-meta-color:                            $global-muted-color;


// Set custom properties
// ========================================================================

:root {

    --article-margin-top: $article-margin-top;

    --article-title-font-size-m: $article-title-font-size-m;
    --article-title-font-size: $article-title-font-size;
    --article-title-line-height: $article-title-line-height;

    --article-meta-font-size: $article-meta-font-size;
    --article-meta-line-height: $article-meta-line-height;
    --article-meta-color: $article-meta-color;

}