// Name:            Background
// Description:     Utilities for backgrounds
//
// ========================================================================


// Variables
// ========================================================================

$background-default-background: var(--background-default-background);
$background-muted-background: var(--background-muted-background);
$background-primary-background: var(--background-primary-background);
$background-secondary-background: var(--background-secondary-background);


// Set custom properties
// ========================================================================

:root {

    --background-default-background:                 var(--global-background);
    --background-muted-background:                   var(--global-muted-background);
    --background-primary-background:                 var(--global-primary-background);
    --background-secondary-background:               var(--global-secondary-background);

}
