// Name:            Background
// Description:     Utilities for backgrounds
//
// Component:       `uk-background-*`
//
// ========================================================================


// Variables
// ========================================================================

$background-default-background:                 $global-background;
$background-muted-background:                   $global-muted-background;
$background-primary-background:                 $global-primary-background;
$background-secondary-background:               $global-secondary-background;


// Set custom properties
// ========================================================================

:root {

    --background-default-background: $background-default-background;
    --background-muted-background: $background-muted-background;
    --background-primary-background: $background-primary-background;
    --background-secondary-background: $background-secondary-background;

}
