// Name:            Badge
// Description:     Component to create notification badges
//
// ========================================================================


// Variables
// ========================================================================

$badge-size:                                    18px;
$badge-padding-vertical:                        0;
$badge-padding-horizontal:                      5px;
$badge-border-radius:                           500px;
$badge-background:                              $global-primary-background;
$badge-color:                                   $global-inverse-color;
$badge-font-size:                               11px;


// Set custom properties
// ========================================================================

:root {

    --badge-size: $badge-size;
    --badge-padding-vertical: $badge-padding-vertical;
    --badge-padding-horizontal: $badge-padding-horizontal;
    --badge-border-radius: $badge-border-radius;
    --badge-background: $badge-background;
    --badge-color: $badge-color;
    --badge-font-size: $badge-font-size;

}