// Name:            Badge
// Description:     Component to create notification badges
//
// Component:       `uk-badge`
//
// ========================================================================


// Variables
// ========================================================================

:where([class*='uk-badge']) {

    --badge-size:                                     18px;
    --badge-padding-vertical:                         0;
    --badge-padding-horizontal:                       5px;
    --badge-border-radius:                            500px;
    --badge-background:                               hsl( var(--theme-primary-background, var(--global-primary-background) ) ); // hsl(var(--global-primary-background));
    --badge-color:                                    hsl( var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color) ) ); // hsl(var(--global-inverse-color));
    --badge-font-size:                                11px;

}


/* ========================================================================
   Component: Badge
 ========================================================================== */

/*
 * 1. Style
 * 2. Center child vertically and horizontally
 */

:where(.uk-badge) {
    box-sizing: border-box;
    min-inline-size: var(--badge-size);
    block-size: var(--badge-size);
    padding: var(--badge-padding-vertical) var(--badge-padding-horizontal);
    border-radius: var(--badge-border-radius);
    vertical-align: middle;
    /* 1 */
    background: var(--badge-background);
    color: var(--badge-color) !important;
    font-size: var(--badge-font-size);
    /* 2 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

/*
 * Required for `a`
 */

.uk-badge:hover {
    text-decoration: none;
}
