// Name:            Badge
// Description:     Component to create notification badges
//
// ========================================================================


// Variables
// ========================================================================

$badge-size: var(--badge-size);
$badge-padding-vertical: var(--badge-padding-vertical);
$badge-padding-horizontal: var(--badge-padding-horizontal);
$badge-border-radius: var(--badge-border-radius);
$badge-background: var(--badge-background);
$badge-color: var(--badge-color);
$badge-font-size: var(--badge-font-size);


// Set custom properties
// ========================================================================

:root {

    --badge-size:                                    18px;
    --badge-padding-vertical:                        0;
    --badge-padding-horizontal:                      5px;
    --badge-border-radius:                           500px;
    --badge-background:                              var(--theme-primary-background, var(--global-primary-background));
    --badge-color:                                   var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --badge-font-size:                               11px;

}