// Name:            Button
// Description:     Styles for buttons
//
// ========================================================================


// Variables
// ========================================================================

$button-line-height:                            $global-control-height;
$button-small-line-height:                      $global-control-small-height;
$button-large-line-height:                      $global-control-large-height;

$button-font-size:                              $global-font-size;
$button-small-font-size:                        $global-small-font-size;
$button-large-font-size:                        $global-medium-font-size;

$button-padding-horizontal:                     $global-gutter;
$button-small-padding-horizontal:               $global-small-gutter;
$button-large-padding-horizontal:               $global-medium-gutter;

$button-default-background:                     $global-muted-background;
$button-default-color:                          $global-emphasis-color;
$button-default-hover-background:               color-mix(in srgb, $button-default-background 95%, black);
$button-default-hover-color:                    $global-emphasis-color;
$button-default-active-background:              color-mix(in srgb, $button-default-background 90%, black);
$button-default-active-color:                   $global-emphasis-color;

$button-primary-background:                     $global-primary-background;
$button-primary-color:                          $global-inverse-color;
$button-primary-hover-background:               color-mix(in srgb, $button-primary-background 95%, black);
$button-primary-hover-color:                    $global-inverse-color;
$button-primary-active-background:              color-mix(in srgb, $button-primary-background 90%, black);
$button-primary-active-color:                   $global-inverse-color;

$button-secondary-background:                   $global-secondary-background;
$button-secondary-color:                        $global-inverse-color;
$button-secondary-hover-background:             color-mix(in srgb, $button-secondary-background 95%, black);
$button-secondary-hover-color:                  $global-inverse-color;
$button-secondary-active-background:            color-mix(in srgb, $button-secondary-background 90%, black);
$button-secondary-active-color:                 $global-inverse-color;

$button-danger-background:                      $global-danger-background;
$button-danger-color:                           $global-inverse-color;
$button-danger-hover-background:                color-mix(in srgb, $button-danger-background 95%, black);
$button-danger-hover-color:                     $global-inverse-color;
$button-danger-active-background:               color-mix(in srgb, $button-danger-background 90%, black);
$button-danger-active-color:                    $global-inverse-color;

$button-disabled-background:                    $global-muted-background;
$button-disabled-color:                         $global-muted-color;

$button-text-line-height:                       $global-line-height;
$button-text-color:                             $global-emphasis-color;
$button-text-hover-color:                       $global-muted-color;
$button-text-disabled-color:                    $global-muted-color;

$button-link-line-height:                       $global-line-height;
$button-link-color:                             $global-emphasis-color;
$button-link-hover-color:                       $global-muted-color;
$button-link-hover-text-decoration:             none;
$button-link-disabled-color:                    $global-muted-color;


// Set custom properties
// ========================================================================

:root {

    --button-line-height: $button-line-height;
    --button-small-line-height: $button-small-line-height;
    --button-large-line-height: $button-large-line-height;

    --button-font-size: $button-font-size;
    --button-small-font-size: $button-small-font-size;
    --button-large-font-size: $button-large-font-size;

    --button-padding-horizontal: $button-padding-horizontal;
    --button-small-padding-horizontal: $button-small-padding-horizontal;
    --button-large-padding-horizontal: $button-large-padding-horizontal;

    --button-default-background: $button-default-background;
    --button-default-color: $button-default-color;
    --button-default-hover-background: $button-default-hover-background;
    --button-default-hover-color: $button-default-hover-color;
    --button-default-active-background: $button-default-active-background;
    --button-default-active-color: $button-default-active-color;

    --button-primary-background: $button-primary-background;
    --button-primary-color: $button-primary-color;
    --button-primary-hover-background: $button-primary-hover-background;
    --button-primary-hover-color: $button-primary-hover-color;
    --button-primary-active-background: $button-primary-active-background;
    --button-primary-active-color: $button-primary-active-color;

    --button-secondary-background: $button-secondary-background;
    --button-secondary-color: $button-secondary-color;
    --button-secondary-hover-background: $button-secondary-hover-background;
    --button-secondary-hover-color: $button-secondary-hover-color;
    --button-secondary-active-background: $button-secondary-active-background;
    --button-secondary-active-color: $button-secondary-active-color;

    --button-danger-background: $button-danger-background;
    --button-danger-color: $button-danger-color;
    --button-danger-hover-background: $button-danger-hover-background;
    --button-danger-hover-color: $button-danger-hover-color;
    --button-danger-active-background: $button-danger-active-background;
    --button-danger-active-color: $button-danger-active-color;

    --button-disabled-background: $button-disabled-background;
    --button-disabled-color: $button-disabled-color;

    --button-text-line-height: $button-text-line-height;
    --button-text-color: $button-text-color;
    --button-text-hover-color: $button-text-hover-color;
    --button-text-disabled-color: $button-text-disabled-color;

    --button-link-line-height: $button-link-line-height;
    --button-link-color: $button-link-color;
    --button-link-hover-color: $button-link-hover-color;
    --button-link-hover-text-decoration: $button-link-hover-text-decoration;
    --button-link-disabled-color: $button-link-disabled-color;

}
