// Name:            Button
// Description:     Styles for buttons
//
// ========================================================================


// Variables
// ========================================================================

$button-line-height: var(--button-line-height);
$button-small-line-height: var(--button-small-line-height);
$button-large-line-height: var(--button-large-line-height);

$button-font-size: var(--button-font-size);
$button-small-font-size: var(--button-small-font-size);
$button-large-font-size: var(--button-large-font-size);

$button-padding-horizontal: var(--button-padding-horizontal);
$button-small-padding-horizontal: var(--button-small-padding-horizontal);
$button-large-padding-horizontal: var(--button-large-padding-horizontal);

$button-default-background: var(--button-default-background);
$button-default-color: var(--button-default-color);
$button-default-hover-background: var(--button-default-hover-background);
$button-default-hover-color: var(--button-default-hover-color);
$button-default-active-background: var(--button-default-active-background);
$button-default-active-color: var(--button-default-active-color);

$button-primary-background: var(--button-primary-background);
$button-primary-color: var(--button-primary-color);
$button-primary-hover-background: var(--button-primary-hover-background);
$button-primary-hover-color: var(--button-primary-hover-color);
$button-primary-active-background: var(--button-primary-active-background);
$button-primary-active-color: var(--button-primary-active-color);

$button-secondary-background: var(--button-secondary-background);
$button-secondary-color: var(--button-secondary-color);
$button-secondary-hover-background: var(--button-secondary-hover-background);
$button-secondary-hover-color: var(--button-secondary-hover-color);
$button-secondary-active-background: var(--button-secondary-active-background);
$button-secondary-active-color: var(--button-secondary-active-color);

$button-danger-background: var(--button-danger-background);
$button-danger-color: var(--button-danger-color);
$button-danger-hover-background: var(--button-danger-hover-background);
$button-danger-hover-color: var(--button-danger-hover-color);
$button-danger-active-background: var(--button-danger-active-background);
$button-danger-active-color: var(--button-danger-active-color);

$button-disabled-background: var(--button-disabled-background);
$button-disabled-color: var(--button-disabled-color);

$button-text-line-height: var(--button-text-line-height);
$button-text-color: var(--button-text-color);
$button-text-hover-color: var(--button-text-hover-color);
$button-text-disabled-color: var(--button-text-disabled-color);

$button-link-line-height: var(--button-link-line-height);
$button-link-color: var(--button-link-color);
$button-link-hover-color: var(--button-link-hover-color);
$button-link-hover-text-decoration: var(--button-link-hover-text-decoration);
$button-link-disabled-color: var(--button-link-disabled-color);


// Set custom properties
// ========================================================================

:where([class*='uk-button']) {

    --button-line-height:                            var(--global-control-height);
    --button-small-line-height:                      var(--global-control-small-height);
    --button-large-line-height:                      var(--global-control-large-height);

    --button-font-size:                              var(--global-font-size);
    --button-small-font-size:                        var(--global-small-font-size);
    --button-large-font-size:                        var(--global-medium-font-size);

    --button-padding-horizontal:                     var(--global-gutter);
    --button-small-padding-horizontal:               var(--global-small-gutter);
    --button-large-padding-horizontal:               var(--global-medium-gutter);

    --button-default-background:                     var(--theme-muted-background, var(--global-muted-background));
    --button-default-color:                          var(--theme-emphasis-color, var(--global-emphasis-color));
    --button-default-hover-background:               color-mix(in oklab, var(--theme-muted-background, var(--global-muted-background)), transparent 15%);
    --button-default-hover-color:                    var(--theme-emphasis-color, var(--global-emphasis-color));
    --button-default-active-background:              color-mix(in oklab, var(--theme-muted-background, var(--global-muted-background)), transparent 30%);
    --button-default-active-color:                   var(--theme-emphasis-color, var(--global-emphasis-color));

    --button-primary-background:                     var(--theme-primary-background, var(--global-primary-background));
    --button-primary-color:                          var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-primary-hover-background:               color-mix(in oklab, var(--theme-primary-background, var(--global-primary-background)), transparent 10%);
    --button-primary-hover-color:                    var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-primary-active-background:              color-mix(in oklab, var(--theme-primary-background, var(--global-primary-background)), transparent 20%);
    --button-primary-active-color:                   var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));

    --button-secondary-background:                   var(--theme-secondary-background, var(--global-secondary-background));
    --button-secondary-color:                        var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-secondary-hover-background:             color-mix(in oklab, var(--theme-secondary-background, var(--global-secondary-background)), transparent 10%);
    --button-secondary-hover-color:                  var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-secondary-active-background:            color-mix(in oklab, var(--theme-secondary-background, var(--global-secondary-background)), transparent 20%);
    --button-secondary-active-color:                 var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));

    --button-danger-background:                      var(--theme-danger-background, var(--global-danger-background));
    --button-danger-color:                           var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-danger-hover-background:                color-mix(in oklab, var(--theme-danger-background, var(--global-danger-background)), transparent 10%);
    --button-danger-hover-color:                     var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --button-danger-active-background:               color-mix(in oklab, var(--theme-danger-background, var(--global-danger-background)), transparent 20%);
    --button-danger-active-color:                    var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));

    --button-disabled-background:                    var(--theme-muted-background, var(--global-muted-background));
    --button-disabled-color:                         var(--theme-muted-color, var(--global-muted-color));

    --button-text-line-height:                       var(--global-line-height);
    --button-text-color:                             var(--theme-emphasis-color, var(--global-emphasis-color));
    --button-text-hover-color:                       var(--theme-muted-color, var(--global-muted-color));
    --button-text-disabled-color:                    var(--theme-muted-color, var(--global-muted-color));

    --button-link-line-height:                       var(--global-line-height);
    --button-link-color:                             var(--theme-emphasis-color, var(--global-emphasis-color));
    --button-link-hover-color:                       var(--theme-muted-color, var(--global-muted-color));
    --button-link-hover-text-decoration:             none;
    --button-link-disabled-color:                    var(--theme-muted-color, var(--global-muted-color));

}
