// Name:            Card
// Description:     Component to create boxed content containers
//
// ========================================================================


// Variables
// ========================================================================

$card-body-padding-horizontal: var(--card-body-padding-horizontal);
$card-body-padding-vertical: var(--card-body-padding-vertical);

$card-body-padding-horizontal-l: var(--card-body-padding-horizontal);
$card-body-padding-vertical-l: var(--card-body-padding-vertical);

$card-header-padding-horizontal: var(--card-header-padding-horizontal);
$card-header-padding-vertical: var(--card-header-padding-vertical);

$card-header-padding-horizontal-l: var(--card-header-padding-horizontal);
$card-header-padding-vertical-l: var(--card-header-padding-vertical);

$card-footer-padding-horizontal: var(--card-footer-padding-horizontal);
$card-footer-padding-vertical: var(--card-footer-padding-vertical);

$card-footer-padding-horizontal-l: var(--card-footer-padding-horizontal);
$card-footer-padding-vertical-l: var(--card-footer-padding-vertical);

$card-title-font-size: var(--card-title-font-size);
$card-title-line-height: var(--card-title-line-height);

$card-badge-top: var(--card-badge-top);
$card-badge-right: var(--card-badge-right);
$card-badge-height: var(--card-badge-height);
$card-badge-padding-horizontal: var(--card-badge-padding-horizontal);
$card-badge-background: var(--card-badge-background);
$card-badge-color: var(--card-badge-color);
$card-badge-font-size: var(--card-badge-font-size);

$card-hover-background: var(--card-hover-background);

$card-default-background: var(--card-default-background);
$card-default-color: var(--card-default-color);
$card-default-title-color: var(--card-default-title-color);
$card-default-hover-background: var(--card-default-hover-background);
$card-default-color-mode: var(--card-default-color-mode);

$card-primary-background: var(--card-primary-background);
$card-primary-color: var(--card-primary-color);
$card-primary-title-color: var(--card-primary-title-color);
$card-primary-hover-background: var(--card-primary-hover-background);
$card-primary-color-mode: var(--card-primary-color-mode);

$card-secondary-background: var(--card-secondary-background);
$card-secondary-color: var(--card-secondary-color);
$card-secondary-title-color: var(--card-secondary-title-color);
$card-secondary-hover-background: var(--card-secondary-hover-background);
$card-secondary-color-mode: var(--card-secondary-color-mode);

$card-overlay-background: var(--card-overlay-background);
$card-overlay-color: var(--card-overlay-color);
$card-overlay-title-color: var(--card-overlay-title-color);
$card-overlay-hover-background: var(--card-overlay-hover-background);
$card-overlay-color-mode: var(--card-overlay-color-mode);

$card-small-body-padding-horizontal: var(--card-small-body-padding-horizontal);
$card-small-body-padding-vertical: var(--card-small-body-padding-vertical);
$card-small-header-padding-horizontal: var(--card-small-header-padding-horizontal);
$card-small-header-padding-vertical: var(--card-small-header-padding-vertical);
$card-small-footer-padding-horizontal: var(--card-small-footer-padding-horizontal);
$card-small-footer-padding-vertical: var(--card-small-footer-padding-vertical);

$card-large-body-padding-horizontal-l: var(--card-large-body-padding-horizontal);
$card-large-body-padding-vertical-l: var(--card-large-body-padding-vertical);
$card-large-header-padding-horizontal-l: var(--card-large-header-padding-horizontal);
$card-large-header-padding-vertical-l: var(--card-large-header-padding-vertical);
$card-large-footer-padding-horizontal-l: var(--card-large-footer-padding-horizontal);
$card-large-footer-padding-vertical-l: var(--card-large-footer-padding-vertical);


// Set custom properties
// ========================================================================

:where([class*='uk-card']) {

    --card-body-padding-horizontal:                 var(--global-gutter);
    --card-body-padding-vertical:                   var(--global-gutter);

    --card-header-padding-horizontal:               var(--global-gutter);
    --card-header-padding-vertical:                 calc(var(--global-gutter) / 2);

    --card-footer-padding-horizontal:               var(--global-gutter);
    --card-footer-padding-vertical:                 calc(var(--global-gutter) / 2);

    --card-title-font-size:                         var(--global-large-font-size);
    --card-title-line-height:                       1.4;

    --card-badge-top:                               15px;
    --card-badge-right:                             15px;
    --card-badge-height:                            22px;
    --card-badge-padding-horizontal:                10px;
    --card-badge-background:                        var(--theme-primary-background, var(--global-primary-background));
    --card-badge-color:                             var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --card-badge-font-size:                         var(--global-small-font-size);

    --card-hover-background:                        var(--theme-muted-background, var(--global-muted-background));

    --card-default-background:                      var(--theme-muted-background, var(--global-muted-background));
    --card-default-color:                           var(--theme-color, var(--global-color));
    --card-default-title-color:                     var(--theme-emphasis-color, var(--global-emphasis-color));
    --card-default-hover-background:                color-mix(in oklab, var(--theme-muted-background, var(--global-muted-background)), transparent 20%);
    --card-default-color-mode:                      dark;

    --card-primary-background:                      var(--theme-primary-background, var(--global-primary-background));
    --card-primary-color:                           var(--theme-color, var(--inverse-global-color));
    --card-primary-title-color:                     var(--theme-emphasis-color, var(--inverse-global-emphasis-color));
    --card-primary-hover-background:                color-mix(in oklab, var(--theme-primary-background, var(--global-primary-background)), transparent 10%);
    --card-primary-color-mode:                      light;

    --card-secondary-background:                    var(--theme-secondary-background, var(--global-secondary-background));
    --card-secondary-color:                         var(--theme-color, var(--inverse-global-color));
    --card-secondary-title-color:                   var(--theme-emphasis-color, var(--inverse-global-emphasis-color));
    --card-secondary-hover-background:              color-mix(in oklab, var(--theme-secondary-background, var(--global-secondary-background)), transparent 10%);
    --card-secondary-color-mode:                    light;

    --card-overlay-background:                      color-mix(in oklab, var(--theme-background, var(--global-background)), transparent 10%);
    --card-overlay-color:                           var(--theme-color, var(--global-color));
    --card-overlay-title-color:                     var(--theme-emphasis-color, var(--global-emphasis-color));
    --card-overlay-hover-background:                var(--theme-background, var(--global-background));
    --card-overlay-color-mode:                      dark;

    --card-small-body-padding-horizontal:           var(--global-margin);
    --card-small-body-padding-vertical:             var(--global-margin);
    --card-small-header-padding-horizontal:         var(--global-margin);
    --card-small-header-padding-vertical:           calc(var(--global-margin) / 1.5);
    --card-small-footer-padding-horizontal:         var(--global-margin);
    --card-small-footer-padding-vertical:           calc(var(--global-margin) / 1.5);

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        --card-body-padding-horizontal:               var(--global-medium-gutter);
        --card-body-padding-vertical:                 var(--global-medium-gutter);

        --card-header-padding-horizontal:             var(--global-medium-gutter);
        --card-header-padding-vertical:               calc(var(--global-medium-gutter) / 2);

        --card-footer-padding-horizontal:             var(--global-medium-gutter);
        --card-footer-padding-vertical:               calc(var(--global-medium-gutter) / 2);

        --card-large-body-padding-horizontal:         var(--global-large-gutter);
        --card-large-body-padding-vertical:           var(--global-large-gutter);
        --card-large-header-padding-horizontal:       var(--global-large-gutter);
        --card-large-header-padding-vertical:         calc(var(--global-large-gutter) / 2);
        --card-large-footer-padding-horizontal:       var(--global-large-gutter);
        --card-large-footer-padding-vertical:         calc(var(--global-large-gutter) / 2);

    }

}
