// Name:            Card
// Description:     Component to create boxed content containers
//
// ========================================================================


// Variables
// ========================================================================

$card-body-padding-horizontal:                 $global-gutter;
$card-body-padding-vertical:                   $global-gutter;

$card-body-padding-horizontal-l:               $global-medium-gutter;
$card-body-padding-vertical-l:                 $global-medium-gutter;

$card-header-padding-horizontal:               $global-gutter;
$card-header-padding-vertical:                 round(($global-gutter / 2));

$card-header-padding-horizontal-l:             $global-medium-gutter;
$card-header-padding-vertical-l:               round(($global-medium-gutter / 2));

$card-footer-padding-horizontal:               $global-gutter;
$card-footer-padding-vertical:                 ($global-gutter / 2);

$card-footer-padding-horizontal-l:             $global-medium-gutter;
$card-footer-padding-vertical-l:               round(($global-medium-gutter / 2));

$card-title-font-size:                         $global-large-font-size;
$card-title-line-height:                       1.4;

$card-badge-top:                               15px;
$card-badge-right:                             15px;
$card-badge-height:                            22px;
$card-badge-padding-horizontal:                10px;
$card-badge-background:                        $global-primary-background;
$card-badge-color:                             $global-inverse-color;
$card-badge-font-size:                         $global-small-font-size;

$card-hover-background:                        $global-muted-background;

$card-default-background:                      $global-muted-background;
$card-default-color:                           $global-color;
$card-default-title-color:                     $global-emphasis-color;
$card-default-hover-background:                color-mix(in srgb, $card-default-background 95%, black);
$card-default-color-mode:                      dark;

$card-primary-background:                      $global-primary-background;
$card-primary-color:                           $global-inverse-color;
$card-primary-title-color:                     $card-primary-color;
$card-primary-hover-background:                color-mix(in srgb, $card-primary-background 95%, black);
$card-primary-color-mode:                      light;

$card-secondary-background:                    $global-secondary-background;
$card-secondary-color:                         $global-inverse-color;
$card-secondary-title-color:                   $card-secondary-color;
$card-secondary-hover-background:              color-mix(in srgb, $card-primary-background 95%, black);
$card-secondary-color-mode:                    light;

$card-overlay-background:                      fade($global-background, 90%);
$card-overlay-color:                           $global-color;
$card-overlay-title-color:                     $global-emphasis-color;
$card-overlay-hover-background:                fadein($card-overlay-background, 10%);
$card-overlay-color-mode:                      dark;

$card-small-body-padding-horizontal:           $global-margin;
$card-small-body-padding-vertical:             $global-margin;
$card-small-header-padding-horizontal:         $global-margin;
$card-small-header-padding-vertical:           round(($global-margin / 1.5));
$card-small-footer-padding-horizontal:         $global-margin;
$card-small-footer-padding-vertical:           round(($global-margin / 1.5));

$card-large-body-padding-horizontal-l:         $global-large-gutter;
$card-large-body-padding-vertical-l:           $global-large-gutter;
$card-large-header-padding-horizontal-l:       $global-large-gutter;
$card-large-header-padding-vertical-l:         round(($global-large-gutter / 2));
$card-large-footer-padding-horizontal-l:       $global-large-gutter;
$card-large-footer-padding-vertical-l:         round(($global-large-gutter / 2));


// Set custom properties
// ========================================================================

:root {

    --card-body-padding-horizontal: #{$card-body-padding-horizontal};
    --card-body-padding-vertical: #{$card-body-padding-vertical};

    --card-body-padding-horizontal-l: #{$card-body-padding-horizontal-l};
    --card-body-padding-vertical-l: #{$card-body-padding-vertical-l};

    --card-header-padding-horizontal: #{$card-header-padding-horizontal};
    --card-header-padding-vertical: #{$card-header-padding-vertical};

    --card-header-padding-horizontal-l: #{$card-header-padding-horizontal-l};
    --card-header-padding-vertical-l: #{$card-header-padding-vertical-l};

    --card-footer-padding-horizontal: #{$card-footer-padding-horizontal};
    --card-footer-padding-vertical: #{$card-footer-padding-vertical};

    --card-footer-padding-horizontal-l: #{$card-footer-padding-horizontal-l};
    --card-footer-padding-vertical-l: #{$card-footer-padding-vertical-l};

    --card-title-font-size: #{$card-title-font-size};
    --card-title-line-height: #{$card-title-line-height};

    --card-badge-top: #{$card-badge-top};
    --card-badge-right: #{$card-badge-right};
    --card-badge-height: #{$card-badge-height};
    --card-badge-padding-horizontal: #{$card-badge-padding-horizontal};
    --card-badge-background: #{$card-badge-background};
    --card-badge-color: #{$card-badge-color};
    --card-badge-font-size: #{$card-badge-font-size};

    --card-hover-background: #{$card-hover-background};

    --card-default-background: #{$card-default-background};
    --card-default-color: #{$card-default-color};
    --card-default-title-color: #{$card-default-title-color};
    --card-default-hover-background: #{$card-default-hover-background};
    --card-default-color-mode: #{$card-default-color-mode};

    --card-primary-background: #{$card-primary-background};
    --card-primary-color: #{$card-primary-color};
    --card-primary-title-color: #{$card-primary-title-color};
    --card-primary-hover-background: #{$card-primary-hover-background};
    --card-primary-color-mode: #{$card-primary-color-mode};

    --card-secondary-background: #{$card-secondary-background};
    --card-secondary-color: #{$card-secondary-color};
    --card-secondary-title-color: #{$card-secondary-title-color};
    --card-secondary-hover-background: #{$card-secondary-hover-background};
    --card-secondary-color-mode: #{$card-secondary-color-mode};

    --card-overlay-background: #{$card-overlay-background};
    --card-overlay-color: #{$card-overlay-color};
    --card-overlay-title-color: #{$card-overlay-title-color};
    --card-overlay-hover-background: #{$card-overlay-hover-background};
    --card-overlay-color-mode: #{$card-overlay-color-mode};

    --card-small-body-padding-horizontal: #{$card-small-body-padding-horizontal};
    --card-small-body-padding-vertical: #{$card-small-body-padding-vertical};
    --card-small-header-padding-horizontal: #{$card-small-header-padding-horizontal};
    --card-small-header-padding-vertical: #{$card-small-header-padding-vertical};
    --card-small-footer-padding-horizontal: #{$card-small-footer-padding-horizontal};
    --card-small-footer-padding-vertical: #{$card-small-footer-padding-vertical};

    --card-large-body-padding-horizontal-l: #{$card-large-body-padding-horizontal-l};
    --card-large-body-padding-vertical-l: #{$card-large-body-padding-vertical-l};
    --card-large-header-padding-horizontal-l: #{$card-large-header-padding-horizontal-l};
    --card-large-header-padding-vertical-l: #{$card-large-header-padding-vertical-l};
    --card-large-footer-padding-horizontal-l: #{$card-large-footer-padding-horizontal-l};
    --card-large-footer-padding-vertical-l: #{$card-large-footer-padding-vertical-l};

}