// Name:            Close
// Description:     Component to create a close button
//
// ========================================================================


// Variables
// ========================================================================

$close-color:                                   var(--theme-muted-color, var(--global-muted-color));
$close-hover-color:                             var(--theme-color, var(--global-color));


// Set custom properties
// ========================================================================

:root {

    --close-color: #{$close-color};
    --close-hover-color: #{$close-hover-color};

}
