// Name:            Close
// Description:     Component to create a close button
//
// ========================================================================


// Variables
// ========================================================================

$close-color:                                   $global-muted-color;
$close-hover-color:                             $global-color;


// Set custom properties
// ========================================================================

:root {

    --close-color: #{$close-color};
    --close-hover-color: #{$close-hover-color};

}
