// Name:            Close
// Description:     Component to create a close button
//
// Component:       `uk-close`
//
// ========================================================================


// Variables
// ========================================================================

.uk-close,
[class*='uk-close-'] {

    --close-color:                                    var(--theme-muted-color, var(--global-muted-color) );
    --close-hover-color:                              var(--theme-color, var(--global-color) );

}


/* ========================================================================
   Component: Close
 ========================================================================== */

/*
 * Adopts `uk-icon`
 */

.uk-close {
    color: var(--close-color);
}

/* Hover */
.uk-close:hover {
    color: var(--close-hover-color);
}
