// Name:            Column
// Description:     Utilities for text columns
//
// ========================================================================


// Variables
// ========================================================================

$column-gutter: 30px;
$column-gutter-l: 40px;

$column-divider-rule-color: var(--column-divider-rule-color);
$column-divider-rule-width: var(--column-divider-rule-width);


// Set custom properties
// ========================================================================

:root {

    --column-gutter:                                 var(--global-gutter);

    --column-divider-rule-color:                     var(--theme-border, var(--global-border));
    --column-divider-rule-width:                     1px;

    /* Large screen and bigger */
    @media (min-width: $breakpoint-large) {

        --column-gutter:                             var(--global-medium-gutter);

    }

}


// Overrides
// ========================================================================

.uk-column-divider { column-gap: calc( var(--column-gutter) * 2 ); }
