// Name:            Column
// Description:     Utilities for text columns
//
// ========================================================================


// Variables
// ========================================================================

// Must use Sass variables due to calc in vendor file.
$column-gutter:                                 $global-gutter;
$column-gutter-l:                               $global-medium-gutter;

$column-divider-rule-color:                     var(--theme-border, var(--global-border));
$column-divider-rule-width:                     1px;


// Set custom properties
// ========================================================================

:root {

    --column-gutter: #{$column-gutter};

    --column-divider-rule-color: #{$column-divider-rule-color};
    --column-divider-rule-width: #{$column-divider-rule-width};

    /* Large screen and bigger */
    @media (min-width: $breakpoint-large) {

        --column-gutter: #{$column-gutter-l};

    }

}
