// Name:            Comment
// Description:     Component to create nested comments
//
// ========================================================================


// Variables
// ========================================================================

$comment-header-margin-bottom:                  $global-margin;

$comment-title-font-size:                       $global-medium-font-size;
$comment-title-line-height:                     1.4;

$comment-meta-font-size:                        $global-small-font-size;
$comment-meta-line-height:                      1.4;
$comment-meta-color:                            $global-muted-color;

$comment-list-margin-top:                       $global-large-margin;
$comment-list-padding-left:                     30px;
$comment-list-padding-left-m:                   100px;


// Set custom properties
// ========================================================================

:root {

    --comment-header-margin-bottom: #{$comment-header-margin-bottom};

    --comment-title-font-size: #{$comment-title-font-size};
    --comment-title-line-height: #{$comment-title-line-height};

    --comment-meta-font-size: #{$comment-meta-font-size};
    --comment-meta-line-height: #{$comment-meta-line-height};
    --comment-meta-color: #{$comment-meta-color};

    --comment-list-margin-top: #{$comment-list-margin-top};
    --comment-list-padding-left: #{$comment-list-padding-left};
    --comment-list-padding-left-m: #{$comment-list-padding-left-m};

}