// Name:            Comment
// Description:     Component to create nested comments
//
// ========================================================================


// Variables
// ========================================================================

$comment-header-margin-bottom: var(--comment-header-margin-bottom);

$comment-title-font-size: var(--comment-title-font-size);
$comment-title-line-height: var(--comment-title-line-height);

$comment-meta-font-size: var(--comment-meta-font-size);
$comment-meta-line-height: var(--comment-meta-line-height);
$comment-meta-color: var(--comment-meta-color);

$comment-list-margin-top: var(--comment-list-margin-top);
$comment-list-padding-left: var(--comment-list-padding-left);
$comment-list-padding-left-m: var(--comment-list-padding-left);


// Set custom properties
// ========================================================================

:root {

    --comment-header-margin-bottom:                  --global-margin;

    --comment-title-font-size:                       --global-medium-font-size;
    --comment-title-line-height:                     1.4;

    --comment-meta-font-size:                        --global-small-font-size;
    --comment-meta-line-height:                      1.4;
    --comment-meta-color:                            --global-muted-color;

    --comment-list-margin-top:                       --global-large-margin;
    --comment-list-padding-left:                     30px;

    /* Tablet landscape and bigger */
    @media (min-width: $breakpoint-medium) {

        --comment-list-padding-left:                 100px;

    }

}