// Name:            Countdown
// Description:     Component to create countdown timers
//
// ========================================================================


// Variables
// ========================================================================

$countdown-separator-line-height: var(--countdown-separator-line-height);
$countdown-separator-font-size: var(--countdown-separator-font-size);


// Set custom properties
// ========================================================================

:root {

    --countdown-separator-line-height:               2;
    --countdown-separator-font-size:                 0.5em;

}
