// Name:            Countdown
// Description:     Component to create countdown timers
//
// ========================================================================


// Variables
// ========================================================================

$countdown-separator-line-height:               2;
$countdown-separator-font-size:                 0.5em;


// Set custom properties
// ========================================================================

:root {

    --countdown-separator-line-height: #{$countdown-separator-line-height};
    --countdown-separator-font-size: #{$countdown-separator-font-size};

}
