// Name:            Description list
// Description:     Styles for description lists
//
// ========================================================================


// Variables
// ========================================================================

$description-list-term-color:                   var(--theme-emphasis-color, var(--global-emphasis-color));
$description-list-term-margin-top:              var(--global-margin);

$description-list-divider-term-margin-top:      var(--global-margin);
$description-list-divider-term-border-width:    var(--global-border-width);
$description-list-divider-term-border:          var(--theme-border, var(--global-border));


// Set custom properties
// ========================================================================

:root {

    --description-list-term-color: #{$description-list-term-color};
    --description-list-term-margin-top: #{$description-list-term-margin-top};

    --description-list-divider-term-margin-top: #{$description-list-divider-term-margin-top};
    --description-list-divider-term-border-width: #{$description-list-divider-term-border-width};
    --description-list-divider-term-border: #{$description-list-divider-term-border};

}
