// Name:            Description list
// Description:     Styles for description lists
//
// ========================================================================


// Variables
// ========================================================================

$description-list-term-color:                   $global-emphasis-color;
$description-list-term-margin-top:              $global-margin;

$description-list-divider-term-margin-top:      $global-margin;
$description-list-divider-term-border-width:    $global-border-width;
$description-list-divider-term-border:          $global-border;


// Set custom properties
// ========================================================================

:root {

    --description-list-term-color: $description-list-term-color;
    --description-list-term-margin-top: $description-list-term-margin-top;

    --description-list-divider-term-margin-top: $description-list-divider-term-margin-top;
    --description-list-divider-term-border-width: $description-list-divider-term-border-width;
    --description-list-divider-term-border: $description-list-divider-term-border;

}
