// Name:            Divider
// Description:     Styles for dividers
//
// Component:       `uk-divider-icon`
//                  `uk-divider-small`
//                  `uk-divider-vertical`
//
// ========================================================================


// Variables
// ========================================================================

:where([class*='uk-divider']) {

    --divider-margin-vertical:                        var(--global-margin);

    --divider-small-width:                            100px;
    --divider-small-border-width:                     var(--global-border-width);
    --divider-small-border:                           var(--theme-border, var(--global-border));

    --divider-vertical-height:                        100px;
    --divider-vertical-border-width:                  var(--global-border-width);
    --divider-vertical-border:                        var(--theme-border, var(--global-border));

}


/* ========================================================================
   Component: Divider
 ========================================================================== */

/*
 * 1. Reset default `hr`
 * 2. Set margin if a `div` is used for semantical reason
 */

[class*='uk-divider'] {
    /* 1 */
    border: none;
    /* 2 */
    margin-block-end: var(--divider-margin-vertical);
}

/* Add margin if adjacent element */
* + [class*='uk-divider'] { margin-block-start: var(--divider-margin-vertical); }


/* Small
 ========================================================================== */

/*
 * 1. Fix height because of `inline-block`
 * 2. Using ::after and inline-block to make `text-align` work
 */

/* 1 */
.uk-divider-small { line-height: 0; }

/* 2 */
.uk-divider-small::after {
    content: "";
    display: inline-block;
    inline-size: var(--divider-small-width);
    max-inline-size: 100%;
    border-block-start: var(--divider-small-border-width) solid var(--divider-small-border);
    vertical-align: top;
}


/* Vertical
 ========================================================================== */

.uk-divider-vertical {
    inline-size: max-content;
    block-size: var(--divider-vertical-height);
    margin-inline: auto;
    border-inline-start: var(--divider-vertical-border-width) solid var(--divider-vertical-border);
}
