// Name:            Dotnav
// Description:     Component to create dot navigations
//
// Component:       `uk-dotnav`
//
// Modifier:        `uk-dotnav-vertical`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$dotnav-margin-horizontal: var(--dotnav-margin-horizontal);
$dotnav-margin-vertical: var(--dotnav-margin-vertical);

$dotnav-item-width: var(--dotnav-item-width);
$dotnav-item-height: var(--dotnav-item-height);
$dotnav-item-border-radius: var(--dotnav-item-border-radius);

$dotnav-item-background: var(--dotnav-item-background);
$dotnav-item-hover-background: var(--dotnav-item-hover-background);
$dotnav-item-onclick-background: var(--dotnav-item-onclick-background);
$dotnav-item-active-background: var(--dotnav-item-active-background);


// Set custom properties
// ========================================================================

:root {

    --dotnav-margin-horizontal:                      12px;
    --dotnav-margin-vertical:                        var(--dotnav-margin-horizontal);

    --dotnav-item-width:                             10px;
    --dotnav-item-height:                            var(--dotnav-item-width);
    --dotnav-item-border-radius:                     50%;

    --dotnav-item-background:                        color-mix(in oklab, var(--inverse-theme-background, var(--inverse-global-background)), transparent 80%);
    --dotnav-item-hover-background:                  color-mix(in oklab, var(--inverse-theme-background, var(--inverse-global-background)), transparent 40%);
    --dotnav-item-onclick-background:                color-mix(in oklab, var(--inverse-theme-background, var(--inverse-global-background)), transparent 80%);
    --dotnav-item-active-background:                 color-mix(in oklab, var(--inverse-theme-background, var(--inverse-global-background)), transparent 40%);

}


// Mixin and overrides
// ========================================================================

@mixin hook-dotnav-misc() {

    .uk-dotnav-vertical { margin-top: calc( var(--dotnav-margin-vertical) * -1 ); }

}
