// Name:            Dropdown
// Description:     Component to create a dropdown based on Drop component
//
// Component:       `uk-dropdown`
//
// Adopted:         `uk-dropdown-nav`
//
// Modifiers:       `uk-dropdown-large`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$dropdown-margin:                               $global-small-margin;
$dropdown-viewport-margin:                      15px;
$dropdown-min-width:                            200px;
$dropdown-padding:                              15px;
$dropdown-background:                           $global-muted-background;
$dropdown-color:                                $global-color;
$dropdown-color-mode:                           dark;
$dropdown-focus-outline:                        $base-focus-outline;

$dropdown-large-padding:                        40px;

$dropdown-dropbar-margin:                       $dropdown-margin;
$dropdown-dropbar-padding-top:                  $dropdown-padding;
$dropdown-dropbar-padding-bottom:               $dropdown-padding;
$dropdown-dropbar-viewport-margin:              15px;
$dropdown-dropbar-viewport-margin-s:            $global-gutter;
$dropdown-dropbar-viewport-margin-m:            $global-medium-gutter;

$dropdown-dropbar-large-padding-top:            $dropdown-large-padding;
$dropdown-dropbar-large-padding-bottom:         $dropdown-large-padding;

$dropdown-nav-item-color:                       $global-muted-color;
$dropdown-nav-item-hover-color:                 $global-color;
$dropdown-nav-subtitle-font-size:               $global-small-font-size;
$dropdown-nav-header-color:                     $global-emphasis-color;
$dropdown-nav-divider-border-width:             $global-border-width;
$dropdown-nav-divider-border:                   $global-border;
$dropdown-nav-sublist-item-color:               $global-muted-color;
$dropdown-nav-sublist-item-hover-color:         $global-color;


// Set custom properties
// ========================================================================

:root {

    --dropdown-margin: #{$dropdown-margin};
    --dropdown-viewport-margin: #{$dropdown-viewport-margin};
    --dropdown-min-width: #{$dropdown-min-width};
    --dropdown-padding: #{$dropdown-padding};
    --dropdown-background: #{$dropdown-background};
    --dropdown-color: #{$dropdown-color};
    --dropdown-color-mode: #{$dropdown-color-mode};
    --dropdown-focus-outline: #{$dropdown-focus-outline};

    --dropdown-large-padding: #{$dropdown-large-padding};

    --dropdown-dropbar-margin: #{$dropdown-dropbar-margin};
    --dropdown-dropbar-padding-top: #{$dropdown-dropbar-padding-top};
    --dropdown-dropbar-padding-bottom: #{$dropdown-dropbar-padding-bottom};
    --dropdown-dropbar-viewport-margin: #{$dropdown-dropbar-viewport-margin};
    --dropdown-dropbar-viewport-margin-s: #{$dropdown-dropbar-viewport-margin-s};
    --dropdown-dropbar-viewport-margin-m: #{$dropdown-dropbar-viewport-margin-m};

    --dropdown-dropbar-large-padding-top: #{$dropdown-dropbar-large-padding-top};
    --dropdown-dropbar-large-padding-bottom: #{$dropdown-dropbar-large-padding-bottom};

    --dropdown-nav-item-color: #{$dropdown-nav-item-color};
    --dropdown-nav-item-hover-color: #{$dropdown-nav-item-hover-color};
    --dropdown-nav-subtitle-font-size: #{$dropdown-nav-subtitle-font-size};
    --dropdown-nav-header-color: #{$dropdown-nav-header-color};
    --dropdown-nav-divider-border-width: #{$dropdown-nav-divider-border-width};
    --dropdown-nav-divider-border: #{$dropdown-nav-divider-border};
    --dropdown-nav-sublist-item-color: #{$dropdown-nav-sublist-item-color};
    --dropdown-nav-sublist-item-hover-color: #{$dropdown-nav-sublist-item-hover-color};

}
