// Name:            Dropbar
// Description:     Component to create a dropbar based on Drop component
//
// Component:       `uk-dropbar`
//
// Modifiers:       `uk-dropbar-large`
//                  `uk-dropbar-top`
//                  `uk-dropbar-bottom`
//                  `uk-dropbar-left`
//                  `uk-dropbar-right`
//
// ========================================================================


// Variables
// ========================================================================

$dropbar-margin:                                0;
$dropbar-padding-top:                           15px;
$dropbar-padding-bottom:                        var(--dropbar-padding-top);
$dropbar-padding-horizontal:                    15px;
$dropbar-padding-horizontal-s:                  var(--global-gutter);
$dropbar-padding-horizontal-m:                  var(--global-medium-gutter);
$dropbar-background:                            var(--theme-muted-background, var(--global-muted-background));
$dropbar-color:                                 var(--theme-color, var(--global-color));
$dropbar-color-mode:                            dark;
$dropbar-focus-outline:                         $base-focus-outline;

$dropbar-large-padding-top:                     40px;
$dropbar-large-padding-bottom:                  var(--dropbar-large-padding-top);


// Set custom properties
// ========================================================================

:root {

    --dropbar-margin: #{$dropbar-margin};
    --dropbar-padding-top: #{$dropbar-padding-top};
    --dropbar-padding-bottom: #{$dropbar-padding-bottom};
    --dropbar-padding-horizontal: #{$dropbar-padding-horizontal};
    --dropbar-background: #{$dropbar-background};
    --dropbar-color: #{$dropbar-color};
    --dropbar-color-mode: #{$dropbar-color-mode};
    --dropbar-focus-outline: #{$dropbar-focus-outline};

    --dropbar-large-padding-top: #{$dropbar-large-padding-top};
    --dropbar-large-padding-bottom: #{$dropbar-large-padding-bottom};

    /* Phone landscape and bigger */
    @media (min-width: $breakpoint-small) {

        --dropbar-padding-horizontal: #{$dropbar-padding-horizontal-s};

    }

    /* Tablet landscape and bigger */
    @media (min-width: $breakpoint-medium) {

        --dropbar-padding-horizontal: #{$dropbar-padding-horizontal-m};

    }

}
