// Name:            Drop
// Description:     Component to position any element next to any other element.
//
// Component:       `uk-drop`
//
// Sub-objects:     `uk-drop-parent-icon`
//
// Modifiers:       `uk-drop-stack`
//                  `uk-drop-grid`
//
// States:          `uk-open`
//
// Uses:            Animation
//
// ========================================================================


// Variables
// ========================================================================

$drop-z-index: var(--drop-z-index);
$drop-margin: var(--drop-margin);
$drop-viewport-margin: var(--drop-viewport-margin);
$drop-width: var(--drop-width);

$drop-parent-icon-margin-left: var(--drop-parent-icon-margin-left);


// Set custom properties
// ========================================================================

:root {

    --drop-z-index:                              calc(var(--global-z-index) + 20);
    --drop-margin:                               var(--global-margin);
    --drop-viewport-margin:                      15px;
    --drop-width:                                300px;

    --drop-parent-icon-margin-left:              0.25em;

}
