// Name:            Font
// Description:     Custom fonts
//
// ========================================================================


@font-face {
    font-family: 'Rubik';    
    font-weight: 100 999;
    src: url('fonts/Rubik[wght].woff2') format('woff2-variations');
    font-display: swap;
}
