// Name:            Font
// Description:     Custom fonts
//
// ========================================================================


@font-face {
    font-family: 'Rubik';
    font-weight: 100 999;
    src: url('fonts/Rubik[wght].woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Beastly';
    font-weight: 100 999;
    src: url('fonts/RubikBeastly-Regular.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Bubbles';
    font-weight: 100 999;
    src: url('fonts/RubikBubbles-Regular.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Dirt';
    font-weight: 100 999;
    src: url('fonts/RubikDirt-Regular.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Glitch';
    font-weight: 400;
    src: url('fonts/RubikGlitch-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik 80s Fade';
    font-weight: 400;
    src: url('fonts/Rubik80sFade-Regular.woff2') format('woff2');
    font-display: swap;
}
