// Name:            Form Range
// Description:     Styles for the range input type
//
// Component:       `uk-range`
//
// ========================================================================


// Variables
// ========================================================================

$form-range-track-height:                       3px;
$form-range-track-background:                   color-mix(in oklab, var(--theme-muted-background, var(--global-muted-background)), transparent 20%);
$form-range-track-focus-background:             var(--theme-muted-background, var(--global-muted-background));

$form-range-thumb-height:                       15px;
$form-range-thumb-width:                        var(--form-range-thumb-height);
$form-range-thumb-border-radius:                500px;
$form-range-thumb-background:                   var(--theme-color, var(--global-color));


// Set custom properties
// ========================================================================

:root {

    --form-range-track-height: #{$form-range-track-height};
    --form-range-track-background: #{$form-range-track-background};
    --form-range-track-focus-background: #{$form-range-track-focus-background};

    --form-range-thumb-height: #{$form-range-thumb-height};
    --form-range-thumb-width: #{$form-range-thumb-width};
    --form-range-thumb-border-radius: #{$form-range-thumb-border-radius};
    --form-range-thumb-background: #{$form-range-thumb-background};

}