// Name:            Form
// Description:     Styles for forms
//
// ========================================================================


// Variables
// ========================================================================

$form-height:                                   $global-control-height;
$form-line-height:                              $form-height;

$form-padding-horizontal:                       10px;
$form-multi-line-padding-horizontal:            $form-padding-horizontal;
$form-multi-line-padding-vertical:              round($form-multi-line-padding-horizontal * 0.6);

$form-background:                               $global-muted-background;
$form-color:                                    $global-color;

$form-focus-background:                         darken($form-background, 5%);
$form-focus-color:                              $global-color;

$form-disabled-background:                      $global-muted-background;
$form-disabled-color:                           $global-muted-color;

$form-placeholder-color:                        $global-muted-color;

$form-danger-color:                             $global-danger-background;
$form-success-color:                            $global-success-background;

$form-width-xsmall:                             50px;
$form-width-small:                              130px;
$form-width-medium:                             200px;
$form-width-large:                              500px;

$form-select-padding-right:                     20px;
$form-select-icon-color:                        $global-color;
$form-select-option-color:                      $global-color;
$form-select-disabled-icon-color:               $global-muted-color;

$form-datalist-padding-right:                   20px;
$form-datalist-icon-color:                      $global-color;

$form-radio-size:                               16px;
$form-radio-margin-top:                         -4px;
$form-radio-background:                         darken($global-muted-background, 5%);

$form-radio-focus-background:                   darken($form-radio-background, 5%);

$form-radio-checked-background:                 $global-primary-background;
$form-radio-checked-icon-color:                 $global-inverse-color;

$form-radio-checked-focus-background:           darken($global-primary-background, 10%);

$form-radio-disabled-background:                $global-muted-background;
$form-radio-disabled-icon-color:                $global-muted-color;

$form-small-font-size:                          $global-small-font-size;
$form-small-height:                             $global-control-small-height;
$form-small-padding-horizontal:                 8px;
$form-small-multi-line-padding-horizontal:      $form-small-padding-horizontal;
$form-small-multi-line-padding-vertical:        round($form-small-multi-line-padding-horizontal * 0.6);
$form-small-line-height:                        $form-small-height;
$form-small-radio-size:                         14px;

$form-large-font-size:                          $global-medium-font-size;
$form-large-height:                             $global-control-large-height;
$form-large-padding-horizontal:                 12px;
$form-large-multi-line-padding-horizontal:      $form-large-padding-horizontal;
$form-large-multi-line-padding-vertical:        round($form-large-multi-line-padding-horizontal * 0.6);
$form-large-line-height:                        $form-large-height;
$form-large-radio-size:                         22px;

$form-legend-font-size:                         $global-large-font-size;
$form-legend-line-height:                       1.4;

$form-stacked-margin-bottom:                    $global-small-margin;

$form-horizontal-label-width:                   200px;
$form-horizontal-label-margin-top:              7px;
$form-horizontal-controls-margin-left:          215px;
$form-horizontal-controls-text-padding-top:     7px;

$form-icon-width:                               $form-height;
$form-icon-color:                               $global-muted-color;
$form-icon-hover-color:                         $global-color;

$internal-form-select-image:                     "../../images/backgrounds/form-select.svg";
$internal-form-datalist-image:                   "../../images/backgrounds/form-datalist.svg";
$internal-form-radio-image:                      "../../images/backgrounds/form-radio.svg";
$internal-form-checkbox-image:                   "../../images/backgrounds/form-checkbox.svg";
$internal-form-checkbox-indeterminate-image:     "../../images/backgrounds/form-checkbox-indeterminate.svg";


// Set custom properties
// ========================================================================

:root {

    --form-height: #{$form-height};
    --form-line-height: #{$form-line-height};

    --form-padding-horizontal: #{$form-padding-horizontal};
    --form-multi-line-padding-horizontal: #{$form-multi-line-padding-horizontal};
    --form-multi-line-padding-vertical: #{$form-multi-line-padding-vertical};

    --form-background: #{$form-background};
    --form-color: #{$form-color};

    --form-focus-background: #{$form-focus-background};
    --form-focus-color: #{$form-focus-color};

    --form-disabled-background: #{$form-disabled-background};
    --form-disabled-color: #{$form-disabled-color};

    --form-placeholder-color: #{$form-placeholder-color};

    --form-danger-color: #{$form-danger-color};
    --form-success-color: #{$form-success-color};

    --form-width-xsmall: #{$form-width-xsmall};
    --form-width-small: #{$form-width-small};
    --form-width-medium: #{$form-width-medium};
    --form-width-large: #{$form-width-large};

    --form-select-padding-right: #{$form-select-padding-right};
    --form-select-icon-color: #{$form-select-icon-color};
    --form-select-option-color: #{$form-select-option-color};
    --form-select-disabled-icon-color: #{$form-select-disabled-icon-color};

    --form-datalist-padding-right: #{$form-datalist-padding-right};
    --form-datalist-icon-color: #{$form-datalist-icon-color};

    --form-radio-size: #{$form-radio-size};
    --form-radio-margin-top: #{$form-radio-margin-top};
    --form-radio-background: #{$form-radio-background};

    --form-radio-focus-background: #{$form-radio-focus-background};

    --form-radio-checked-background: #{$form-radio-checked-background};
    --form-radio-checked-icon-color: #{$form-radio-checked-icon-color};

    --form-radio-checked-focus-background: #{$form-radio-checked-focus-background};

    --form-radio-disabled-background: #{$form-radio-disabled-background};
    --form-radio-disabled-icon-color: #{$form-radio-disabled-icon-color};

    --form-small-font-size: #{$form-small-font-size};
    --form-small-height: #{$form-small-height};
    --form-small-padding-horizontal: #{$form-small-padding-horizontal};
    --form-small-multi-line-padding-horizontal: #{$form-small-multi-line-padding-horizontal};
    --form-small-multi-line-padding-vertical: #{$form-small-multi-line-padding-vertical};
    --form-small-line-height: #{$form-small-line-height};
    --form-small-radio-size: #{$form-small-radio-size};

    --form-large-font-size: #{$form-large-font-size};
    --form-large-height: #{$form-large-height};
    --form-large-padding-horizontal: #{$form-large-padding-horizontal};
    --form-large-multi-line-padding-horizontal: #{$form-large-multi-line-padding-horizontal};
    --form-large-multi-line-padding-vertical: #{$form-large-multi-line-padding-vertical};
    --form-large-line-height: #{$form-large-line-height};
    --form-large-radio-size: #{$form-large-radio-size};

    --form-legend-font-size: #{$form-legend-font-size};
    --form-legend-line-height: #{$form-legend-line-height};

    --form-stacked-margin-bottom: #{$form-stacked-margin-bottom};

    --form-horizontal-label-width: #{$form-horizontal-label-width};
    --form-horizontal-label-margin-top: #{$form-horizontal-label-margin-top};
    --form-horizontal-controls-margin-left: #{$form-horizontal-controls-margin-left};
    --form-horizontal-controls-text-padding-top: #{$form-horizontal-controls-text-padding-top};

    --form-icon-width: #{$form-icon-width};
    --form-icon-color: #{$form-icon-color};
    --form-icon-hover-color: #{$form-icon-hover-color};

    --internal-form-select-image: #{$internal-form-select-image};
    --internal-form-datalist-image: #{$internal-form-datalist-image};
    --internal-form-radio-image: #{$internal-form-radio-image};
    --internal-form-checkbox-image: #{$internal-form-checkbox-image};
    --internal-form-checkbox-indeterminate-image: #{$internal-form-checkbox-indeterminate-image};

}
