// Name:            Grid
// Description:     Component to create responsive, fluid and nestable grids
//
// Component:       `uk-grid`
//
// Modifiers:       `uk-grid-small`
//                  `uk-grid-medium`
//                  `uk-grid-large`
//                  `uk-grid-collapse`
//                  `uk-grid-divider`
//                  `uk-grid-match`
//                  `uk-grid-stack`
//                  `uk-grid-margin`
//                  `uk-grid-margin-small`
//                  `uk-grid-margin-medium`
//                  `uk-grid-margin-large`
//                  `uk-grid-margin-collapse`
//
// Sub-modifier:    `uk-grid-item-match`
//
// States:          `uk-first-column`
//
// ========================================================================


// Variables
// ========================================================================

.uk-grid,
[class*='uk-grid-']:not(.uk-grid-masonry) {

    --grid-gutter-horizontal:                         var(--global-gutter);
    --grid-gutter-vertical:                           var(--grid-gutter-horizontal);

    --grid-small-gutter-horizontal:                   var(--global-small-gutter);
    --grid-small-gutter-vertical:                     var(--grid-small-gutter-horizontal);

    --grid-medium-gutter-horizontal:                  var(--global-gutter);
    --grid-medium-gutter-vertical:                    var(--grid-medium-gutter-horizontal);

    --grid-large-gutter-horizontal:                   var(--global-medium-gutter);
    --grid-large-gutter-vertical:                     var(--grid-large-gutter-horizontal);

    --grid-divider-border-width:                      var(--global-border-width);
    --grid-divider-border:                            var(--theme-border, var(--global-border) );

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .uk-grid,
    [class*='uk-grid-']:not(.uk-grid-masonry) {

        --grid-gutter-horizontal:                     var(--global-medium-gutter);

        --grid-large-gutter-horizontal:               var(--global-large-gutter);

    }

}


/* ========================================================================
   Component: Grid
 ========================================================================== */


/*
 * 1. Allow cells to wrap into the next line
 * 2. Reset list
 */

.uk-grid {
    display: flex;
    /* 1 */
    flex-wrap: wrap;
    /* 2 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * Grid cell
 * Note: Space is allocated solely based on content dimensions, but shrinks: 0 1 auto
 * Reset margin for e.g. paragraphs
 */

.uk-grid > * { margin: 0; }

/*
 * Remove margin from the last-child
 */

.uk-grid > * > :last-child { margin-block-end: 0; }


/* Gutter
 ========================================================================== */

/*
 * Default
 */

/* Horizontal */
.uk-grid { margin-inline-start: calc( var(--grid-gutter-horizontal) * -1 ); }
.uk-grid > * { padding-inline-start: var(--grid-gutter-horizontal); }

/* Vertical */
.uk-grid + .uk-grid,
.uk-grid > .uk-grid-margin,
* + .uk-grid-margin { margin-block-start: var(--grid-gutter-vertical); }

/*
 * Small
 */

/* Horizontal */
.uk-grid-small,
.uk-grid-column-small { margin-inline-start: calc( var(--grid-small-gutter-horizontal) * -1 ); }
.uk-grid-small > *,
.uk-grid-column-small > * { padding-inline-start: var(--grid-small-gutter-horizontal); }

/* Vertical */
.uk-grid + .uk-grid-small,
.uk-grid + .uk-grid-row-small,
.uk-grid-small > .uk-grid-margin,
.uk-grid-row-small > .uk-grid-margin,
* + .uk-grid-margin-small { margin-block-start: var(--grid-small-gutter-vertical); }

/*
 * Medium
 */

/* Horizontal */
.uk-grid-medium,
.uk-grid-column-medium { margin-inline-start: calc( var(--grid-medium-gutter-horizontal) * -1 ); }
.uk-grid-medium > *,
.uk-grid-column-medium > * { padding-inline-start: var(--grid-medium-gutter-horizontal); }

/* Vertical */
.uk-grid + .uk-grid-medium,
.uk-grid + .uk-grid-row-medium,
.uk-grid-medium > .uk-grid-margin,
.uk-grid-row-medium > .uk-grid-margin,
* + .uk-grid-margin-medium { margin-block-start: var(--grid-medium-gutter-vertical); }

/*
 * Large
 */

/* Horizontal */
.uk-grid-large,
.uk-grid-column-large { margin-inline-start: calc( var(--grid-large-gutter-horizontal) * -1 ); }
.uk-grid-large > *,
.uk-grid-column-large > * { padding-inline-start: var(--grid-large-gutter-horizontal); }

/* Vertical */
.uk-grid + .uk-grid-large,
.uk-grid + .uk-grid-row-large,
.uk-grid-large > .uk-grid-margin,
.uk-grid-row-large > .uk-grid-margin,
* + .uk-grid-margin-large { margin-block-start: var(--grid-large-gutter-vertical); }

/*
 * Collapse
 */

/* Horizontal */
.uk-grid-collapse,
.uk-grid-column-collapse { margin-inline-start: 0; }
.uk-grid-collapse > *,
.uk-grid-column-collapse > * { padding-inline-start: 0; }

/* Vertical */
.uk-grid + .uk-grid-collapse,
.uk-grid + .uk-grid-row-collapse,
.uk-grid-collapse > .uk-grid-margin,
.uk-grid-row-collapse > .uk-grid-margin { margin-block-start: 0; }


/* Divider
 ========================================================================== */

.uk-grid-divider > * { position: relative; }

.uk-grid-divider > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    border-inline-start: var(--grid-divider-border-width) solid var(--grid-divider-border);
}

/* Vertical */
.uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    border-block-start: var(--grid-divider-border-width) solid var(--grid-divider-border);
}

/*
 * Default
 */

/* Horizontal */
.uk-grid-divider { margin-inline-start: calc(var(--grid-gutter-horizontal) * -2); }
.uk-grid-divider > * { padding-inline-start: calc(var(--grid-gutter-horizontal) * 2); }

.uk-grid-divider > :not(.uk-first-column)::before { inset-inline-start: var(--grid-gutter-horizontal); }

/* Vertical */
.uk-grid-divider.uk-grid-stack > .uk-grid-margin { margin-block-start: calc(var(--grid-gutter-vertical) * 2); }

.uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
    inset-block-start: calc(var(--grid-gutter-vertical) * -1);
    inset-inline-start: calc(var(--grid-gutter-horizontal) * 2);
}

/*
 * Small
 */

/* Horizontal */
.uk-grid-divider.uk-grid-small,
.uk-grid-divider.uk-grid-column-small { margin-inline-start: calc(var(--grid-small-gutter-horizontal) * -2); }

.uk-grid-divider.uk-grid-small > *,
.uk-grid-divider.uk-grid-column-small > * { padding-inline-start: calc(var(--grid-small-gutter-horizontal) * 2); }

.uk-grid-divider.uk-grid-small > :not(.uk-first-column)::before,
.uk-grid-divider.uk-grid-column-small > :not(.uk-first-column)::before { inset-inline-start: var(--grid-small-gutter-horizontal); }

/* Vertical */
.uk-grid-divider.uk-grid-small.uk-grid-stack > .uk-grid-margin,
.uk-grid-divider.uk-grid-row-small.uk-grid-stack > .uk-grid-margin { margin-block-start: calc(var(--grid-small-gutter-vertical) * 2); }

.uk-grid-divider.uk-grid-small.uk-grid-stack > .uk-grid-margin::before {
    inset-block-start: calc(var(--grid-small-gutter-vertical) * -1);
    inset-inline-start: calc(var(--grid-small-gutter-horizontal) * 2);
}

.uk-grid-divider.uk-grid-row-small.uk-grid-stack > .uk-grid-margin::before { inset-block-start: calc(var(--grid-small-gutter-vertical) * -1); }
.uk-grid-divider.uk-grid-column-small.uk-grid-stack > .uk-grid-margin::before { inset-inline-start: calc(var(--grid-small-gutter-horizontal) * 2); }

/*
 * Medium
 */

/* Horizontal */
.uk-grid-divider.uk-grid-medium,
.uk-grid-divider.uk-grid-column-medium { margin-inline-start: calc(var(--grid-medium-gutter-horizontal) * -2); }

.uk-grid-divider.uk-grid-medium > *,
.uk-grid-divider.uk-grid-column-medium > * { padding-inline-start: calc(var(--grid-medium-gutter-horizontal) * 2); }

.uk-grid-divider.uk-grid-medium > :not(.uk-first-column)::before,
.uk-grid-divider.uk-grid-column-medium > :not(.uk-first-column)::before { inset-inline-start: var(--grid-medium-gutter-horizontal); }

/* Vertical */
.uk-grid-divider.uk-grid-medium.uk-grid-stack > .uk-grid-margin,
.uk-grid-divider.uk-grid-row-medium.uk-grid-stack > .uk-grid-margin { margin-block-start: calc(var(--grid-medium-gutter-vertical) * 2); }

.uk-grid-divider.uk-grid-medium.uk-grid-stack > .uk-grid-margin::before {
    inset-block-start: calc(var(--grid-medium-gutter-vertical) * -1);
    inset-inline-start: calc(var(--grid-medium-gutter-horizontal) * 2);
}

.uk-grid-divider.uk-grid-row-medium.uk-grid-stack > .uk-grid-margin::before { inset-block-start: calc(var(--grid-medium-gutter-vertical) * -1); }
.uk-grid-divider.uk-grid-column-medium.uk-grid-stack > .uk-grid-margin::before { inset-inline-start: calc(var(--grid-medium-gutter-horizontal) * 2); }

/*
 * Large
 */

/* Horizontal */
.uk-grid-divider.uk-grid-large,
.uk-grid-divider.uk-grid-column-large { margin-inline-start: calc(var(--grid-large-gutter-horizontal) * -2); }

.uk-grid-divider.uk-grid-large > *,
.uk-grid-divider.uk-grid-column-large > * { padding-inline-start: calc(var(--grid-large-gutter-horizontal) * 2); }

.uk-grid-divider.uk-grid-large > :not(.uk-first-column)::before,
.uk-grid-divider.uk-grid-column-large > :not(.uk-first-column)::before { inset-inline-start: var(--grid-large-gutter-horizontal); }

/* Vertical */
.uk-grid-divider.uk-grid-large.uk-grid-stack > .uk-grid-margin,
.uk-grid-divider.uk-grid-row-large.uk-grid-stack > .uk-grid-margin { margin-block-start: calc(var(--grid-large-gutter-vertical) * 2); }

.uk-grid-divider.uk-grid-large.uk-grid-stack > .uk-grid-margin::before {
    inset-block-start: calc(var(--grid-large-gutter-vertical) * -1);
    inset-inline-start: calc(var(--grid-large-gutter-horizontal) * 2);
}

.uk-grid-divider.uk-grid-row-large.uk-grid-stack > .uk-grid-margin::before { inset-block-start: calc(var(--grid-large-gutter-vertical) * -1); }
.uk-grid-divider.uk-grid-column-large.uk-grid-stack > .uk-grid-margin::before { inset-inline-start: calc(var(--grid-large-gutter-horizontal) * 2); }


/* Match child of a grid cell
 ========================================================================== */

/*
 * Behave like a block element
 * 1. Wrap into the next line
 * 2. Take the full width, at least 100%. Only if no class from the Width component is set.
 * 3. Expand width even if larger than 100%, e.g. because of negative margin (Needed for nested grids)
 */

.uk-grid-match > *,
.uk-grid-item-match {
    display: flex;
    /* 1 */
    flex-wrap: wrap;
}

.uk-grid-match > * > :not([class*='uk-width']),
.uk-grid-item-match > :not([class*='uk-width']) {
    /* 2 */
    box-sizing: border-box;
    inline-size: 100%;
    /* 3 */
    flex: auto;
}
