// Name:            Grid
// Description:     Component to create responsive, fluid and nestable grids
//
// ========================================================================


// Variables
// Mostly stuck with Sass variables due to calc() in vendor files
// ========================================================================

$grid-gutter-horizontal:                        $global-gutter;
$grid-gutter-vertical:                          $grid-gutter-horizontal;
$grid-gutter-horizontal-l:                      $global-medium-gutter;
$grid-gutter-vertical-l:                        $grid-gutter-horizontal-l;

$grid-small-gutter-horizontal:                  $global-small-gutter;
$grid-small-gutter-vertical:                    $grid-small-gutter-horizontal;

$grid-medium-gutter-horizontal:                 $global-gutter;
$grid-medium-gutter-vertical:                   $grid-medium-gutter-horizontal;

$grid-large-gutter-horizontal:                  $global-medium-gutter;
$grid-large-gutter-vertical:                    $grid-large-gutter-horizontal;
$grid-large-gutter-horizontal-l:                $global-large-gutter;
$grid-large-gutter-vertical-l:                  $grid-large-gutter-horizontal-l;

$grid-divider-border-width:                     var(--global-border-width);
$grid-divider-border:                           var(--theme-border, var(--global-border));


// Set custom properties
// ========================================================================

:root {

    --grid-gutter-horizontal: #{$grid-gutter-horizontal};
    --grid-gutter-vertical: #{$grid-gutter-vertical};

    --grid-small-gutter-horizontal: #{$grid-small-gutter-horizontal};
    --grid-small-gutter-vertical: #{$grid-small-gutter-vertical};

    --grid-medium-gutter-horizontal: #{$grid-medium-gutter-horizontal};
    --grid-medium-gutter-vertical: #{$grid-medium-gutter-vertical};

    --grid-large-gutter-horizontal: #{$grid-large-gutter-horizontal};
    --grid-large-gutter-vertical: #{$grid-large-gutter-vertical};

    --grid-divider-border-width: #{$grid-divider-border-width};
    --grid-divider-border: #{$grid-divider-border};

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        --grid-gutter-horizontal: #{$grid-gutter-horizontal-l};
        --grid-gutter-vertical: #{$grid-gutter-vertical-l};

        --grid-large-gutter-horizontal: #{$grid-large-gutter-horizontal-l};
        --grid-large-gutter-vertical: #{$grid-large-gutter-vertical-l};

    }

}