// Name:            Height
// Description:     Utilities for heights
//
// Component:       `uk-height-*`
//
// ========================================================================


// Variables
// ========================================================================

$height-small-height:                           150px;
$height-medium-height:                          300px;
$height-large-height:                           450px;


// Set custom properties
// ========================================================================

:root {

    --height-small-height: #{$height-small-height};
    --height-medium-height: #{$height-medium-height};
    --height-large-height: #{$height-large-height};

}
