// Name:            Height
// Description:     Utilities for heights
//
// Component:       `uk-height-*`
//
// ========================================================================


// Variables
// ========================================================================

$height-small-height: var(--height-small-height);
$height-medium-height: var(--height-medium-height);
$height-large-height: var(--height-large-height);


// Set custom properties
// ========================================================================

:root {

    --height-small-height:                           150px;
    --height-medium-height:                          300px;
    --height-large-height:                           450px;

}
