// Name:            Iconnav
// Description:     Component to create icon navigations
//
// ========================================================================


// Variables
// ========================================================================

$iconnav-margin-horizontal: var(--iconnav-margin-horizontal);
$iconnav-margin-vertical: var(--iconnav-margin-vertical);

$iconnav-item-color: var(--iconnav-item-color);

$iconnav-item-hover-color: var(--iconnav-item-hover-color);

$iconnav-item-active-color: var(--iconnav-item-active-color);


// Set custom properties
// ========================================================================

:root {

    --iconnav-margin-horizontal:                      var(--global-small-margin);
    --iconnav-margin-vertical:                        var(--iconnav-margin-horizontal);

    --iconnav-item-color:                             var(--theme-muted-color, var(--global-muted-color));

    --iconnav-item-hover-color:                       var(--theme-color, var(--global-color));

    --iconnav-item-active-color:                      var(--theme-color, var(--global-color));

}


// Mixins and overrides
// ========================================================================

@mixin hook-iconnav() {
    margin-left: calc( var(--iconnav-margin-horizontal) * -1 );
}

@mixin hook-iconnav-misc() {

    .uk-iconnav-vertical {
        margin-top: calc( var(--iconnav-margin-vertical) * -1 );
    }

}