// Name:            Icon
// Description:     Component to create icons
//
// ========================================================================


// Variables
// ========================================================================

$icon-image-size:                               20px;

$icon-link-color:                               $global-muted-color;
$icon-link-hover-color:                         $global-color;
$icon-link-active-color:                        color-mix(in srgb, $global-color 95%, black);

$icon-button-size:                              36px;
$icon-button-border-radius:                     500px;
$icon-button-background:                        $global-muted-background;
$icon-button-color:                             $global-muted-color;

$icon-button-hover-background:                  color-mix(in srgb, $icon-button-background 95%, black);
$icon-button-hover-color:                       $global-color;

$icon-button-active-background:                 color-mix(in srgb, $icon-button-background 90%, black);
$icon-button-active-color:                      $global-color;

$icon-overlay-color:                            color-mix(in srgb, $global-emphasis-color 60%, transparent);
$icon-overlay-hover-color:                      $global-emphasis-color;


// Set custom properties
// ========================================================================

:root {

    --icon-image-size: $icon-image-size;

    --icon-link-color: $icon-link-color;
    --icon-link-hover-color: $icon-link-hover-color;
    --icon-link-active-color: $icon-link-active-color;

    --icon-button-size: $icon-button-size;
    --icon-button-border-radius: $icon-button-border-radius;
    --icon-button-background: $icon-button-background;
    --icon-button-color: $icon-button-color;

    --icon-button-hover-background: $icon-button-hover-background;
    --icon-button-hover-color: $icon-button-hover-color;

    --icon-button-active-background: $icon-button-active-background;
    --icon-button-active-color: $icon-button-active-color;

    --icon-overlay-color: $icon-overlay-color;
    --icon-overlay-hover-color: $icon-overlay-hover-color;

}
