// Name:            Iconnav
// Description:     Component to create icon navigations
//
// ========================================================================


// Variables
// ========================================================================

$iconnav-margin-horizontal:                      $global-small-margin;
$iconnav-margin-vertical:                        $iconnav-margin-horizontal;

$iconnav-item-color:                             $global-muted-color;

$iconnav-item-hover-color:                       $global-color;

$iconnav-item-active-color:                      $global-color;


// Set custom properties
// ========================================================================

:root {

    --iconnav-margin-horizontal: #{$iconnav-margin-horizontal};
    --iconnav-margin-vertical: #{$iconnav-margin-vertical};

    --iconnav-item-color: #{$iconnav-item-color};

    --iconnav-item-hover-color: #{$iconnav-item-hover-color};

    --iconnav-item-active-color: #{$iconnav-item-active-color};

}
