// Name:            Label
// Description:     Component to indicate important notes
//
// ========================================================================


// Variables
// ========================================================================

$label-padding-vertical:                        0;
$label-padding-horizontal:                      $global-small-margin;
$label-background:                              $global-primary-background;
$label-line-height:                             $global-line-height;
$label-font-size:                               $global-small-font-size;
$label-color:                                   $global-inverse-color;

$label-success-background:                      $global-success-background;
$label-success-color:                           $global-inverse-color;
$label-warning-background:                      $global-warning-background;
$label-warning-color:                           $global-inverse-color;
$label-danger-background:                       $global-danger-background;
$label-danger-color:                            $global-inverse-color;


// Set custom properties
// ========================================================================

:root {

    --label-padding-vertical: #{$label-padding-vertical};
    --label-padding-horizontal: #{$label-padding-horizontal};
    --label-background: #{$label-background};
    --label-line-height: #{$label-line-height};
    --label-font-size: #{$label-font-size};
    --label-color: #{$label-color};

    --label-success-background: #{$label-success-background};
    --label-success-color: #{$label-success-color};
    --label-warning-background: #{$label-warning-background};
    --label-warning-color: #{$label-warning-color};
    --label-danger-background: #{$label-danger-background};
    --label-danger-color: #{$label-danger-color};

}