// Name:            Label
// Description:     Component to indicate important notes
//
// ========================================================================


// Variables
// ========================================================================

$label-padding-vertical: var(--label-padding-vertical);
$label-padding-horizontal: var(--label-padding-horizontal);
$label-background: var(--label-background);
$label-line-height: var(--label-line-height);
$label-font-size: var(--label-font-size);
$label-color: var(--label-color);
$label-border-radius: var(--label-border-radius);
$label-text-transform: var(--label-text-transform);

$label-success-background: var(--label-success-background);
$label-success-color: var(--label-success-color);
$label-warning-background: var(--label-warning-background);
$label-warning-color: var(--label-warning-color);
$label-danger-background: var(--label-danger-background);
$label-danger-color: var(--label-danger-color);


// Set custom properties
// ========================================================================

:where([class*='uk-label']) {

    --label-padding-vertical:                        2px;
    --label-padding-horizontal:                      calc( ( var(--global-xsmall-margin) + var(--global-small-margin) ) / 2);
    --label-background:                              var(--theme-secondary-background, var(--global-secondary-background));
    --label-line-height:                             var(--global-line-height);
    --label-font-size:                               var(--global-xsmall-font-size);
    --label-color:                                   var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --label-border-radius:                           2px;
    --label-text-transform:                          uppercase;

    --label-success-background:                      var(--theme-success-background, var(--global-success-background));
    --label-success-color:                           var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --label-warning-background:                      var(--theme-warning-background, var(--global-warning-background));
    --label-warning-color:                           var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));
    --label-danger-background:                       var(--theme-danger-background, var(--global-danger-background));
    --label-danger-color:                            var(--inverse-theme-emphasis-color, var(--inverse-global-emphasis-color));

}


// Mixins
// ========================================================================

@mixin hook-label() {
    border-radius: var(--label-border-radius);
    text-transform: var(--label-text-transform);
};