// Name:            Link
// Description:     Styles for links
//
// Component:       `uk-link-muted`
//                  `uk-link-text`
//                  `uk-link-heading`
//                  `uk-link-reset`
//
// Sub-objects:     `uk-link-toggle`
//
// ========================================================================


// Variables
// ========================================================================

$link-muted-color:                              $global-muted-color;
$link-muted-hover-color:                        $global-color;

$link-text-hover-color:                         $global-muted-color;

$link-heading-hover-color:                      $global-primary-background;
$link-heading-hover-text-decoration:            none;


// Set custom properties
// ========================================================================

:root {

    --link-muted-color: $link-muted-color;
    --link-muted-hover-color: $link-muted-hover-color;

    --link-text-hover-color: $link-text-hover-color;

    --link-heading-hover-color: $link-heading-hover-color;
    --link-heading-hover-text-decoration: $link-heading-hover-text-decoration;

}
