// Name:            Link
// Description:     Styles for links
//
// Component:       `uk-link-muted`
//                  `uk-link-text`
//                  `uk-link-heading`
//                  `uk-link-reset`
//
// Sub-objects:     `uk-link-toggle`
//
// ========================================================================


// Variables
// ========================================================================

$link-muted-color: var(--link-muted-color);
$link-muted-hover-color: var(--link-muted-hover-color);

$link-text-hover-color: var(--link-text-hover-color);

$link-heading-hover-color: var(--link-heading-hover-color);
$link-heading-hover-text-decoration: var(--link-heading-hover-text-decoration);


// Set custom properties
// ========================================================================

:where([class*='uk-link']) {

    --link-muted-color:                              var(--theme-muted-color, var(--global-muted-color));
    --link-muted-hover-color:                        var(--theme-color, var(--global-color));

    --link-text-hover-color:                         var(--theme-muted-color, var(--global-muted-color));

    --link-heading-hover-color:                      var(--theme-primary-background, var(--global-primary-background));
    --link-heading-hover-text-decoration:            none;

}
