// Name:            List
// Description:     Styles for lists
//
// ========================================================================


// Variables
// ========================================================================

$list-margin-top:                               $global-small-margin;

$list-padding-left:                             30px;

$list-marker-height:                            calc($global-line-height * 1em);

$list-muted-color:                              $global-muted-color;
$list-emphasis-color:                           $global-emphasis-color;
$list-primary-color:                            $global-primary-background;
$list-secondary-color:                          $global-secondary-background;

$list-bullet-icon-color:                        $global-color;

$list-divider-margin-top:                       $global-small-margin;
$list-divider-border-width:                     $global-border-width;
$list-divider-border:                           $global-border;

$list-striped-padding-vertical:                 $global-small-margin;
$list-striped-padding-horizontal:               $global-small-margin;
$list-striped-background:                       $global-muted-background;

$list-large-margin-top:                         $global-margin;
$list-large-divider-margin-top:                 $global-margin;
$list-large-striped-padding-vertical:           $global-margin;
$list-large-striped-padding-horizontal:         $global-small-margin;

$internal-list-bullet-image:                    "../../images/backgrounds/list-bullet.svg";


// Set custom properties
// ========================================================================

:root {

    --list-margin-top: $list-margin-top;

    --list-padding-left: $list-padding-left;

    --list-marker-height: $list-marker-height;

    --list-muted-color: $list-muted-color;
    --list-emphasis-color: $list-emphasis-color;
    --list-primary-color: $list-primary-color;
    --list-secondary-color: $list-secondary-color;

    --list-bullet-icon-color: $list-bullet-icon-color;

    --list-divider-margin-top: $list-divider-margin-top;
    --list-divider-border-width: $list-divider-border-width;
    --list-divider-border: $list-divider-border;

    --list-striped-padding-vertical: $list-striped-padding-vertical;
    --list-striped-padding-horizontal: $list-striped-padding-horizontal;
    --list-striped-background: $list-striped-background;

    --list-large-margin-top: $list-large-margin-top;
    --list-large-divider-margin-top: $list-large-divider-margin-top;
    --list-large-striped-padding-vertical: $list-large-striped-padding-vertical;
    --list-large-striped-padding-horizontal: $list-large-striped-padding-horizontal;

}
