// Name:            List
// Description:     Styles for lists
//
// ========================================================================


// Variables
// ========================================================================

$list-margin-top:                               var(--global-small-margin);

$list-padding-left:                             30px;

$list-marker-height:                            calc( var(--global-line-height) * 1em );

$list-muted-color:                              var(--theme-muted-color, var(--global-muted-color));
$list-emphasis-color:                           var(--theme-emphasis-color, var(--global-emphasis-color));
$list-primary-color:                            var(--theme-primary-background, var(--global-primary-background));
$list-secondary-color:                          var(--theme-secondary-background, var(--global-secondary-background));

$list-bullet-icon-color:                        var(--theme-color, var(--global-color));

$list-divider-margin-top:                       var(--global-small-margin);
$list-divider-border-width:                     var(--global-border-width);
$list-divider-border:                           var(--theme-border, var(--global-border));

$list-striped-padding-vertical:                 var(--global-small-margin);
$list-striped-padding-horizontal:               var(--global-small-margin);
$list-striped-background:                       var(--theme-muted-background, var(--global-muted-background));

$list-large-margin-top:                         var(--global-margin);
$list-large-divider-margin-top:                 var(--global-margin);
$list-large-striped-padding-vertical:           var(--global-margin);
$list-large-striped-padding-horizontal:         var(--global-small-margin);

$list-xlarge-margin-top:                        calc( ( var(--global-margin) + var(--global-medium-margin) ) / 2 );
$list-xlarge-divider-margin-top:                calc( ( var(--global-margin) + var(--global-medium-margin) ) / 2 );
$list-xlarge-striped-padding-vertical:          calc( ( var(--global-margin) + var(--global-medium-margin) ) / 2 );
$list-xlarge-striped-padding-horizontal:        var(--global-margin);

$internal-list-bullet-image:                    "../../images/backgrounds/list-bullet.svg";


// Set custom properties
// ========================================================================

:root {

    --list-margin-top: #{$list-margin-top};

    --list-padding-left: #{$list-padding-left};

    --list-marker-height: #{$list-marker-height};

    --list-muted-color: #{$list-muted-color};
    --list-emphasis-color: #{$list-emphasis-color};
    --list-primary-color: #{$list-primary-color};
    --list-secondary-color: #{$list-secondary-color};

    --list-bullet-icon-color: #{$list-bullet-icon-color};

    --list-divider-margin-top: #{$list-divider-margin-top};
    --list-divider-border-width: #{$list-divider-border-width};
    --list-divider-border: #{$list-divider-border};

    --list-striped-padding-vertical: #{$list-striped-padding-vertical};
    --list-striped-padding-horizontal: #{$list-striped-padding-horizontal};
    --list-striped-background: #{$list-striped-background};

    --list-large-margin-top: #{$list-large-margin-top};
    --list-large-divider-margin-top: #{$list-large-divider-margin-top};
    --list-large-striped-padding-vertical: #{$list-large-striped-padding-vertical};
    --list-large-striped-padding-horizontal: #{$list-large-striped-padding-horizontal};

    --list-xlarge-margin-top: #{$list-xlarge-margin-top};
    --list-xlarge-divider-margin-top: #{$list-xlarge-divider-margin-top};
    --list-xlarge-striped-padding-vertical: #{$list-xlarge-striped-padding-vertical};
    --list-xlarge-striped-padding-horizontal: #{$list-xlarge-striped-padding-horizontal};

}


// Mixins
// ========================================================================

@mixin hook-list-misc() {

    .uk-list-xlarge > :nth-child(n+2),
    .uk-list-xlarge > * > ul { margin-block-start: var(--list-xlarge-margin-top); }

    .uk-list-xlarge.uk-list-divider > :nth-child(n+2) {
        margin-block-start: var(--list-xlarge-divider-margin-top);
        padding-block-start: var(--list-xlarge-divider-margin-top);
    }

    .uk-list-xlarge.uk-list-striped > * { padding: var(--list-xlarge-striped-padding-vertical) var(--list-xlarge-striped-padding-horizontal); }

    .uk-list-xlarge.uk-list-striped > :nth-child(n+2) { margin-block-start: 0; }

};
