// Name:            Margin
// Description:     Utilities for margins
//
// ========================================================================


// Variables
// ========================================================================

$margin-margin:                                        var(--global-margin);

$margin-xsmall-margin:                                 var(--global-xsmall-margin);

$margin-small-margin:                                  var(--global-small-margin);

$margin-medium-margin:                                 var(--global-medium-margin);

$margin-large-margin:                                  var(--global-medium-margin);
$margin-large-margin-l:                                var(--global-large-margin);

$margin-xlarge-margin:                                 var(--global-large-margin);
$margin-xlarge-margin-l:                               var(--global-xlarge-margin);


// Set custom properties
// ========================================================================

:root {

    --margin-margin: #{$margin-margin};

    --margin-xsmall-margin: #{$margin-xsmall-margin};

    --margin-small-margin: #{$margin-small-margin};

    --margin-medium-margin: #{$margin-medium-margin};

    --margin-large-margin: #{$margin-large-margin};

    --margin-xlarge-margin: #{$margin-xlarge-margin};

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        --margin-large-margin: #{$margin-large-margin-l};
        --margin-xlarge-margin: #{$margin-xlarge-margin-l};

    }

}
