// Name:            Margin
// Description:     Utilities for margins
//
// ========================================================================


// Variables
// ========================================================================

$margin-margin: var(--margin-margin);

$margin-xsmall-margin: var(--margin-xsmall-margin);

$margin-small-margin: var(--margin-small-margin);

$margin-medium-margin: var(--margin-medium-margin);

$margin-large-margin: var(--margin-large-margin);
$margin-large-margin-l: var(--margin-large-margin);

$margin-xlarge-margin: var(--margin-xlarge-margin);
$margin-xlarge-margin-l: var(--margin-xlarge-margin);


// Set custom properties
// ========================================================================

:root {

    --margin-margin:                                        var(--global-margin);

    --margin-xsmall-margin:                                 var(--global-xsmall-margin);

    --margin-small-margin:                                  var(--global-small-margin);

    --margin-medium-margin:                                 var(--global-medium-margin);

    --margin-large-margin:                                  var(--global-medium-margin);

    --margin-xlarge-margin:                                 var(--global-large-margin);

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        --margin-large-margin:                              var(--global-large-margin);

        --margin-xlarge-margin:                             var(--global-xlarge-margin);

    }

}
