// Name:            Margin
// Description:     Utilities for margins
//
// ========================================================================


// Variables
// ========================================================================

$margin-margin:                                        $global-margin;

$margin-xsmall-margin:                                 5px;

$margin-small-margin:                                  $global-small-margin;

$margin-medium-margin:                                 $global-medium-margin;

$margin-large-margin:                                  $global-medium-margin;
$margin-large-margin-l:                                $global-large-margin;

$margin-xlarge-margin:                                 $global-large-margin;
$margin-xlarge-margin-l:                               $global-xlarge-margin;


// Set custom properties
// ========================================================================

:root {

    --margin-margin: $margin-margin;

    --margin-xsmall-margin: $margin-xsmall-margin;

    --margin-small-margin: $margin-small-margin;

    --margin-medium-margin: $margin-medium-margin;

    --margin-large-margin: $margin-large-margin;
    --margin-large-margin-l: $margin-large-margin-l;

    --margin-xlarge-margin: $margin-xlarge-margin;
    --margin-xlarge-margin-l: $margin-xlarge-margin-l;

}
