// Name:            Marker
// Description:     Component to create a marker icon
//
// ========================================================================


// Variables
// ========================================================================

$marker-padding: var(--marker-padding);
$marker-background: var(--marker-background);
$marker-color: var(--marker-color);

$marker-hover-color: var(--marker-hover-color);


// Set custom properties
// ========================================================================

:root {

    --marker-padding:                                 5px;
    --marker-background:                              var(--theme-secondary-background, var(--global-secondary-background));
    --marker-color:                                   var(--theme-background, var(--global-background));

    --marker-hover-color:                             var(--theme-background, var(--global-background));

}
