// Name:            Navbar
// Description:     Component to create horizontal navigation bars
//
// Component:       `uk-navbar`
//
// Sub-objects:     `uk-navbar-container`
//                  `uk-navbar-left`
//                  `uk-navbar-right`
//                  `uk-navbar-center`
//                  `uk-navbar-center-left`
//                  `uk-navbar-center-right`
//                  `uk-navbar-nav`
//                  `uk-navbar-item`
//                  `uk-navbar-toggle`
//                  `uk-navbar-subtitle`
//                  `uk-navbar-dropbar`
//
// Adopted:         `uk-navbar-dropdown` + Modifiers
//                  `uk-navbar-dropdown-nav`
//                  `uk-navbar-dropdown-grid`
//                  `uk-navbar-toggle-icon`
//
// Modifiers:       `uk-navbar-primary`
//                  `uk-navbar-transparent`
//                  `uk-navbar-sticky`
//                  `uk-navbar-dropdown-stack`
//
// States:          `uk-active`
//                  `uk-parent`
//                  `uk-open`
//
//
// ========================================================================


// Variables
// ========================================================================

:where(html) {

    --navbar-background:                              hsl(var(--global-muted-background));
    --navbar-gap:                                     0px; // Must have a unit because of `calc`

    --navbar-nav-gap:                                 0px; // Must have a unit because of `calc`

    --navbar-nav-item-height:                         80px;
    --navbar-nav-item-padding-horizontal:             12px;
    --navbar-nav-item-color:                          hsl(var(--global-muted-color));
    --navbar-nav-item-font-size:                      calc( var(--global-font-size) * 0.875 );
    --navbar-nav-item-font-family:                    var(--global-font-family);
    --navbar-nav-item-font-weight:                    400;
    --navbar-nav-item-letter-spacing:                 .05em;
    --navbar-nav-item-text-transform:                 uppercase;
    --navbar-nav-item-hover-color:                    hsl(var(--global-color));
    --navbar-nav-item-onclick-color:                  hsl(var(--global-emphasis-color));
    --navbar-nav-item-active-color:                   hsl(var(--global-emphasis-color));

    --navbar-parent-icon-margin-left:                 4px;

    --navbar-item-padding-horizontal:                 15px;
    --navbar-item-color:                              hsl(var(--global-color));

    --navbar-toggle-color:                            hsl(var(--global-muted-color));
    --navbar-toggle-hover-color:                      hsl(var(--global-color));

    --navbar-subtitle-font-size:                      var(--global-small-font-size);

    --navbar-dropdown-margin:                         0;
    --navbar-dropdown-shift-margin:                   0;
    --navbar-dropdown-viewport-margin:                15px;
    --navbar-dropdown-width:                          200px;
    --navbar-dropdown-padding:                        15px;
    --navbar-dropdown-background:                     hsl(var(--global-muted-background));
    --navbar-dropdown-color:                          hsl(var(--global-color));
    --navbar-dropdown-grid-gutter-horizontal:         var(--global-gutter);
    --navbar-dropdown-grid-gutter-vertical:           var(--navbar-dropdown-grid-gutter-horizontal);

    --navbar-dropdown-large-shift-margin:             0;
    --navbar-dropdown-large-padding:                  40px;

    --navbar-dropdown-dropbar-margin:                 0;
    --navbar-dropdown-dropbar-shift-margin:           0;
    --navbar-dropdown-dropbar-padding-top:            var(--navbar-dropdown-padding);
    --navbar-dropdown-dropbar-padding-bottom:         var(--navbar-dropdown-dropbar-padding-top);
    --navbar-dropdown-dropbar-viewport-margin:        15px;

    --navbar-dropdown-dropbar-large-shift-margin:     0;
    --navbar-dropdown-dropbar-large-padding-top:      var(--navbar-dropdown-large-padding);
    --navbar-dropdown-dropbar-large-padding-bottom:   var(--navbar-dropdown-dropbar-large-padding-top);

    --navbar-dropdown-nav-item-color:                 hsl(var(--global-muted-color));
    --navbar-dropdown-nav-item-hover-color:           hsl(var(--global-color));
    --navbar-dropdown-nav-item-active-color:          hsl(var(--global-emphasis-color));
    --navbar-dropdown-nav-subtitle-font-size:         var(--global-small-font-size);
    --navbar-dropdown-nav-header-color:               hsl(var(--global-emphasis-color));
    --navbar-dropdown-nav-divider-border-width:       var(--global-border-width);
    --navbar-dropdown-nav-divider-border:             hsl(var(--global-border));
    --navbar-dropdown-nav-sublist-item-color:         hsl(var(--global-muted-color));
    --navbar-dropdown-nav-sublist-item-hover-color:   hsl(var(--global-color));
    --navbar-dropdown-nav-sublist-item-active-color:  hsl(var(--global-emphasis-color));

}

@media (min-width: $breakpoint-small) {

    :where(.uk-navbar,[class*='uk-navbar']) {

        --navbar-dropdown-dropbar-viewport-margin:    var(--global-gutter);

    }

}

@media (min-width: $breakpoint-medium) {

    :where(.uk-navbar,[class*='uk-navbar']) {

        --navbar-dropdown-dropbar-viewport-margin:    var(--global-medium-gutter);

    }

}


/* ========================================================================
   Component: Navbar
 ========================================================================== */

/*
 * 1. Create position context to center navbar group
 */

.uk-navbar {
    display: flex;
    /* 1 */
    position: relative;
}


/* Container
 ========================================================================== */

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: var(--navbar-background);
}


/* Groups
 ========================================================================== */

/*
 * 1. Align navs and items vertically if they have a different height
 */

.uk-navbar-left,
.uk-navbar-right,
[class*='uk-navbar-center'] {
    display: flex;
    gap: var(--navbar-gap);
    /* 1 */
    align-items: center;
}

/*
 * Horizontal alignment
 * 1. Create position context for centered navbar with sub groups (left/right)
 * 2. Fix text wrapping if content is larger than 50% of the container.
 * 3. Needed for dropdowns because a new position context is created
 *    `z-index` must be smaller than off-canvas
 * 4. Align sub groups for centered navbar
 */

.uk-navbar-right { margin-inline-start: auto; }

.uk-navbar-center:only-child {
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* 1 */
    position: relative;
}

.uk-navbar-center:not(:only-child) {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%,-50%);
    /* 2 */
    width: max-content;
    box-sizing: border-box;
    /* 3 */
    z-index: calc( var(--global-z-index) - 10 );
}

/* 4 */
.uk-navbar-center-left,
.uk-navbar-center-right {
   position: absolute;
   inset-block-start: 0;
}

.uk-navbar-center-left { inset-inline-end: calc( 100% + var(--navbar-gap) ); }
.uk-navbar-center-right { inset-inline-start: calc( 100% + var(--navbar-gap) ); }

[class*='uk-navbar-center-'] {
    inline-size: max-content;
    box-sizing: border-box;
}


/* Nav
 ========================================================================== */

/*
 * 1. Reset list
 */

.uk-navbar-nav {
    display: flex;
    gap: var(--navbar-nav-gap);
    /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * Allow items to wrap into the next line
 * Only not `absolute` positioned groups
 */

.uk-navbar-left,
.uk-navbar-right,
.uk-navbar-center:only-child { flex-wrap: wrap; }

/*
 * Items
 * 1. Center content vertically and horizontally
 * 2. Imitate white space gap when using flexbox
 * 3. Dimensions
 * 4. Style
 * 5. Required for `a`
 */

.uk-navbar-nav > li > a,    // Nav item
.uk-navbar-item,            // Content item
.uk-navbar-toggle {         // Clickable item
    /* 1 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 2 */
    column-gap: 0.25em;
    /* 3 */
    box-sizing: border-box;
    min-block-size: var(--navbar-nav-item-height);
    /* 4 */
    font-size: var(--navbar-nav-item-font-size);
    font-family: var(--navbar-nav-item-font-family);
    /* 5 */
    text-decoration: none;
}

/*
 * Nav items
 */

.uk-navbar-nav > li > a {
    padding: 0 var(--navbar-nav-item-padding-horizontal);
    color: var(--navbar-nav-item-color);
}

/*
 * Hover
 * Apply hover style also if dropdown is opened
 */

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a[aria-expanded="true"] {
    color: var(--navbar-nav-item-hover-color);
}

/* OnClick */
.uk-navbar-nav > li > a:active {
    color: var(--navbar-nav-item-onclick-color);
}

/* Active */
.uk-navbar-nav > li.uk-active > a {
    color: var(--navbar-nav-item-active-color);
}


/* Parent icon modifier
 ========================================================================== */

.uk-navbar-parent-icon {
    margin-inline-start: var(--navbar-parent-icon-margin-left);
    transition: transform 0.3s ease-out;
}

.uk-navbar-nav > li > a[aria-expanded="true"] .uk-navbar-parent-icon { transform: rotateX(180deg); }


/* Item
 ========================================================================== */

.uk-navbar-item {
    padding: 0 var(--navbar-item-padding-horizontal);
    color: var(--navbar-item-color);
}

/*
 * Remove margin from the last-child
 */

.uk-navbar-item > :last-child { margin-block-end: 0; }


/* Toggle
 ========================================================================== */

.uk-navbar-toggle {
    padding: 0 var(--navbar-item-padding-horizontal);
    color: var(--navbar-toggle-color);
}

.uk-navbar-toggle:hover,
.uk-navbar-toggle[aria-expanded="true"] {
    color: var(--navbar-toggle-hover-color);
    text-decoration: none;
}

/*
 * Icon
 * Adopts `uk-icon`
 */

.uk-navbar-toggle-icon {}

/* Hover */
:hover > .uk-navbar-toggle-icon {}


/* Subtitle
 ========================================================================== */

.uk-navbar-subtitle {
    font-size: var(--navbar-subtitle-font-size);
}


/* Justify modifier
 ========================================================================== */

.uk-navbar-justify .uk-navbar-left,
.uk-navbar-justify .uk-navbar-right,
.uk-navbar-justify .uk-navbar-nav,
.uk-navbar-justify .uk-navbar-nav > li,        // Nav item
.uk-navbar-justify .uk-navbar-item,            // Content item
.uk-navbar-justify .uk-navbar-toggle { flex-grow: 1; }


/* Style modifiers
 ========================================================================== */

.uk-navbar-primary {}

.uk-navbar-transparent {}

.uk-navbar-sticky {}


/* Dropdown
 ========================================================================== */

/*
 * Adopts `uk-drop`
 * 1. Set a default width
 * 2. Style
 */

.uk-navbar-dropdown {
    --uk-position-offset: var(--navbar-dropdown-margin);
    --uk-position-shift-offset: var(--navbar-dropdown-shift-margin);
    --uk-position-viewport-offset: var(--navbar-dropdown-viewport-margin);
    /* 1 */
    inline-size: var(--navbar-dropdown-width);
    /* 2 */
    padding: var(--navbar-dropdown-padding);
    background: var(--navbar-dropdown-background);
    color: var(--navbar-dropdown-color);
}

/*
 * Remove margin from the last-child
 */

 .uk-navbar-dropdown > :last-child { margin-block-end: 0; }

/*
 * Grid
 * Adopts `uk-grid`
 */

/* Gutter Horizontal */
.uk-navbar-dropdown .uk-drop-grid { margin-inline-start: calc( -1 * var(--navbar-dropdown-grid-gutter-horizontal) ); }
.uk-navbar-dropdown .uk-drop-grid > * { padding-inline-start: var(--navbar-dropdown-grid-gutter-horizontal); }

/* Gutter Vertical */
.uk-navbar-dropdown .uk-drop-grid > .uk-grid-margin { margin-block-start: var(--navbar-dropdown-grid-gutter-vertical); }

/*
 * Width modifier
 */

.uk-navbar-dropdown-width-2:not(.uk-drop-stack) { inline-size: calc( var(--navbar-dropdown-width) * 2 ); }
.uk-navbar-dropdown-width-3:not(.uk-drop-stack) { inline-size: calc( var(--navbar-dropdown-width) * 3 ); }
.uk-navbar-dropdown-width-4:not(.uk-drop-stack) { inline-size: calc( var(--navbar-dropdown-width) * 4 ); }
.uk-navbar-dropdown-width-5:not(.uk-drop-stack) { inline-size: calc( var(--navbar-dropdown-width) * 5 ); }

/*
 * Size modifier
 */

.uk-navbar-dropdown-large {
    --uk-position-shift-offset: var(--navbar-dropdown-large-shift-margin);
    padding: var(--navbar-dropdown-large-padding);
}

/*
 * Dropbar modifier
 * 1. Reset dropdown width to prevent to early shifting
 * 2. Reset style
 * 3. Padding
 */

.uk-navbar-dropdown-dropbar {
    /* 1 */
    inline-size: auto;
    /* 2 */
    background: transparent;
    /* 3 */
    padding: var(--navbar-dropdown-dropbar-padding-top) 0 var(--navbar-dropdown-dropbar-padding-bottom) 0;
    --uk-position-offset: var(--navbar-dropdown-dropbar-margin);
    --uk-position-shift-offset: var(--navbar-dropdown-dropbar-shift-margin);
    --uk-position-viewport-offset: var(--navbar-dropdown-dropbar-viewport-margin);
}

.uk-navbar-dropdown-dropbar-large {
    --uk-position-shift-offset: var(--navbar-dropdown-dropbar-large-shift-margin);
    padding-block-start: var(--navbar-dropdown-dropbar-large-padding-top);
    padding-block-end: var(--navbar-dropdown-dropbar-large-padding-bottom);
}


/* Dropdown Nav
 * Adopts `uk-nav`
 ========================================================================== */

.uk-navbar-dropdown-nav {}

/*
 * Items
 */

.uk-navbar-dropdown-nav > li > a {
    color: var(--navbar-dropdown-nav-item-color);
}

/* Hover */
.uk-navbar-dropdown-nav > li > a:hover {
    color: var(--navbar-dropdown-nav-item-hover-color);
}

/* Active */
.uk-navbar-dropdown-nav > li.uk-active > a {
    color: var(--navbar-dropdown-nav-item-active-color);
}

/*
 * Subtitle
 */

.uk-navbar-dropdown-nav .uk-nav-subtitle {
    font-size: var(--navbar-dropdown-nav-subtitle-font-size);
}

/*
 * Header
 */

.uk-navbar-dropdown-nav .uk-nav-header {
    color: var(--navbar-dropdown-nav-header-color);
}

/*
 * Divider
 */

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-block-start: var(--navbar-dropdown-nav-divider-border-width) solid var(--navbar-dropdown-nav-divider-border);
}

/*
 * Sublists
 */

.uk-navbar-dropdown-nav .uk-nav-sub a { color: var(--navbar-dropdown-nav-sublist-item-color); }

.uk-navbar-dropdown-nav .uk-nav-sub a:hover { color: var(--navbar-dropdown-nav-sublist-item-hover-color); }

.uk-navbar-dropdown-nav .uk-nav-sub li.uk-active > a { color: var(--navbar-dropdown-nav-sublist-item-active-color); }


/* Dropbar
 ========================================================================== */

/*
 * Adopts `uk-dropnav-dropbar`
 */

.uk-navbar-dropbar {}
