// Name:            Nav
// Description:     Defines styles for list navigations
//
// Component:       `uk-nav`
//
// Sub-objects:     `uk-nav-parent-icon`
//                  `uk-nav-header`
//                  `uk-nav-divider`
//                  `uk-nav-subtitle`
//                  `uk-nav-sub`
//
// Modifiers:       `uk-nav-default`
//                  `uk-nav-primary`
//                  `uk-nav-secondary`
//                  `uk-nav-medium`
//                  `uk-nav-large`
//                  `uk-nav-xlarge`
//                  `uk-nav-center`,
//                  `uk-nav-divider`
//
// States:          `uk-active`
//                  `uk-parent`
//                  `uk-open`
//                  `uk-touch`
//
// ========================================================================


// Variables
// ========================================================================

$nav-item-padding-vertical:                     5px;
$nav-item-padding-horizontal:                   0;

$nav-sublist-padding-vertical:                  5px;
$nav-sublist-padding-left:                      15px;
$nav-sublist-deeper-padding-left:               15px;
$nav-sublist-item-padding-vertical:             2px;

$nav-parent-icon-margin-left:                   0.25em;

$nav-header-padding-vertical:                   $nav-item-padding-vertical;
$nav-header-padding-horizontal:                 $nav-item-padding-horizontal;
$nav-header-font-size:                          $global-small-font-size;
$nav-header-text-transform:                     uppercase;
$nav-header-margin-top:                         $global-margin;

$nav-divider-margin-vertical:                   5px;
$nav-divider-margin-horizontal:                 0;

$nav-default-font-size:                         $global-font-size;
$nav-default-line-height:                       $global-line-height;
$nav-default-item-color:                        $global-muted-color;
$nav-default-item-hover-color:                  $global-color;
$nav-default-item-active-color:                 $global-emphasis-color;
$nav-default-subtitle-font-size:                $global-small-font-size;
$nav-default-header-color:                      $global-emphasis-color;
$nav-default-divider-border-width:              $global-border-width;
$nav-default-divider-border:                    $global-border;
$nav-default-sublist-font-size:                 $nav-default-font-size;
$nav-default-sublist-line-height:               $nav-default-line-height;
$nav-default-sublist-item-color:                $global-muted-color;
$nav-default-sublist-item-hover-color:          $global-color;
$nav-default-sublist-item-active-color:         $global-emphasis-color;

$nav-primary-font-size:                         $global-large-font-size;
$nav-primary-line-height:                       $global-line-height;
$nav-primary-item-color:                        $global-muted-color;
$nav-primary-item-hover-color:                  $global-color;
$nav-primary-item-active-color:                 $global-emphasis-color;
$nav-primary-subtitle-font-size:                $global-medium-font-size;
$nav-primary-header-color:                      $global-emphasis-color;
$nav-primary-divider-border-width:              $global-border-width;
$nav-primary-divider-border:                    $global-border;
$nav-primary-sublist-font-size:                 $global-medium-font-size;
$nav-primary-sublist-line-height:               $global-line-height;
$nav-primary-sublist-item-color:                $global-muted-color;
$nav-primary-sublist-item-hover-color:          $global-color;
$nav-primary-sublist-item-active-color:         $global-emphasis-color;

$nav-secondary-font-size:                       $global-font-size;
$nav-secondary-line-height:                     $global-line-height;
$nav-secondary-item-color:                      $global-emphasis-color;
$nav-secondary-item-hover-color:                $global-emphasis-color;
$nav-secondary-item-active-color:               $global-emphasis-color;
$nav-secondary-subtitle-font-size:              $global-small-font-size;
$nav-secondary-subtitle-color:                  $global-muted-color;
$nav-secondary-subtitle-hover-color:            $global-color;
$nav-secondary-subtitle-active-color:           $global-emphasis-color;
$nav-secondary-header-color:                    $global-emphasis-color;
$nav-secondary-divider-border-width:            $global-border-width;
$nav-secondary-divider-border:                  $global-border;
$nav-secondary-sublist-font-size:               $global-small-font-size;
$nav-secondary-sublist-line-height:             $global-line-height;
$nav-secondary-sublist-item-color:              $global-muted-color;
$nav-secondary-sublist-item-hover-color:        $global-color;
$nav-secondary-sublist-item-active-color:       $global-emphasis-color;

$nav-medium-line-height:                        1;
$nav-medium-font-size:                          2.5rem;    // 40px 0.714
$nav-medium-font-size-m:                        3.5rem;    // 3.5rem / 56px
$nav-medium-font-size-l:                        4rem; // 64px

$nav-large-line-height:                         1;
$nav-large-font-size:                           3rem;      // 50px 0.78
$nav-large-font-size-m:                         4rem; // 64px
$nav-large-font-size-l:                         6rem; // 96px

$nav-xlarge-line-height:                        1;
$nav-xlarge-font-size:                          4rem; // 64px
$nav-xlarge-font-size-m:                        6rem; // 96px
$nav-xlarge-font-size-l:                        8rem; // 128px

$nav-dividers-margin-top:                       5px;
$nav-dividers-border-width:                     $global-border-width;
$nav-dividers-border:                           $global-border;


// Set custom properties
// ========================================================================

:root {

    --nav-item-padding-vertical: #{$nav-item-padding-vertical};
    --nav-item-padding-horizontal: #{$nav-item-padding-horizontal};

    --nav-sublist-padding-vertical: #{$nav-sublist-padding-vertical};
    --nav-sublist-padding-left: #{$nav-sublist-padding-left};
    --nav-sublist-deeper-padding-left: #{$nav-sublist-deeper-padding-left};
    --nav-sublist-item-padding-vertical: #{$nav-sublist-item-padding-vertical};

    --nav-parent-icon-margin-left: #{$nav-parent-icon-margin-left};

    --nav-header-padding-vertical: #{$nav-header-padding-vertical};
    --nav-header-padding-horizontal: #{$nav-header-padding-horizontal};
    --nav-header-font-size: #{$nav-header-font-size};
    --nav-header-text-transform: #{$nav-header-text-transform};
    --nav-header-margin-top: #{$nav-header-margin-top};

    --nav-divider-margin-vertical: #{$nav-divider-margin-vertical};
    --nav-divider-margin-horizontal: #{$nav-divider-margin-horizontal};

    --nav-default-font-size: #{$nav-default-font-size};
    --nav-default-line-height: #{$nav-default-line-height};
    --nav-default-item-color: #{$nav-default-item-color};
    --nav-default-item-hover-color: #{$nav-default-item-hover-color};
    --nav-default-item-active-color: #{$nav-default-item-active-color};
    --nav-default-subtitle-font-size: #{$nav-default-subtitle-font-size};
    --nav-default-header-color: #{$nav-default-header-color};
    --nav-default-divider-border-width: #{$nav-default-divider-border-width};
    --nav-default-divider-border: #{$nav-default-divider-border};
    --nav-default-sublist-font-size: #{$nav-default-sublist-font-size};
    --nav-default-sublist-line-height: #{$nav-default-sublist-line-height};
    --nav-default-sublist-item-color: #{$nav-default-sublist-item-color};
    --nav-default-sublist-item-hover-color: #{$nav-default-sublist-item-hover-color};
    --nav-default-sublist-item-active-color: #{$nav-default-sublist-item-active-color};

    --nav-primary-font-size: #{$nav-primary-font-size};
    --nav-primary-line-height: #{$nav-primary-line-height};
    --nav-primary-item-color: #{$nav-primary-item-color};
    --nav-primary-item-hover-color: #{$nav-primary-item-hover-color};
    --nav-primary-item-active-color: #{$nav-primary-item-active-color};
    --nav-primary-subtitle-font-size: #{$nav-primary-subtitle-font-size};
    --nav-primary-header-color: #{$nav-primary-header-color};
    --nav-primary-divider-border-width: #{$nav-primary-divider-border-width};
    --nav-primary-divider-border: #{$nav-primary-divider-border};
    --nav-primary-sublist-font-size: #{$nav-primary-sublist-font-size};
    --nav-primary-sublist-line-height: #{$nav-primary-sublist-line-height};
    --nav-primary-sublist-item-color: #{$nav-primary-sublist-item-color};
    --nav-primary-sublist-item-hover-color: #{$nav-primary-sublist-item-hover-color};
    --nav-primary-sublist-item-active-color: #{$nav-primary-sublist-item-active-color};

    --nav-secondary-font-size: #{$nav-secondary-font-size};
    --nav-secondary-line-height: #{$nav-secondary-line-height};
    --nav-secondary-item-color: #{$nav-secondary-item-color};
    --nav-secondary-item-hover-color: #{$nav-secondary-item-hover-color};
    --nav-secondary-item-active-color: #{$nav-secondary-item-active-color};
    --nav-secondary-subtitle-font-size: #{$nav-secondary-subtitle-font-size};
    --nav-secondary-subtitle-color: #{$nav-secondary-subtitle-color};
    --nav-secondary-subtitle-hover-color: #{$nav-secondary-subtitle-hover-color};
    --nav-secondary-subtitle-active-color: #{$nav-secondary-subtitle-active-color};
    --nav-secondary-header-color: #{$nav-secondary-header-color};
    --nav-secondary-divider-border-width: #{$nav-secondary-divider-border-width};
    --nav-secondary-divider-border: #{$nav-secondary-divider-border};
    --nav-secondary-sublist-font-size: #{$nav-secondary-sublist-font-size};
    --nav-secondary-sublist-line-height: #{$nav-secondary-sublist-line-height};
    --nav-secondary-sublist-item-color: #{$nav-secondary-sublist-item-color};
    --nav-secondary-sublist-item-hover-color: #{$nav-secondary-sublist-item-hover-color};
    --nav-secondary-sublist-item-active-color: #{$nav-secondary-sublist-item-active-color};

    --nav-medium-line-height: #{$nav-medium-line-height};
    --nav-medium-font-size: #{$nav-medium-font-size};
    --nav-medium-font-size-m: #{$nav-medium-font-size-m};
    --nav-medium-font-size-l: #{$nav-medium-font-size-l};

    --nav-large-line-height: #{$nav-large-line-height};
    --nav-large-font-size: #{$nav-large-font-size};
    --nav-large-font-size-m: #{$nav-large-font-size-m};
    --nav-large-font-size-l: #{$nav-large-font-size-l};

    --nav-xlarge-line-height: #{$nav-xlarge-line-height};
    --nav-xlarge-font-size: #{$nav-xlarge-font-size};
    --nav-xlarge-font-size-m: #{$nav-xlarge-font-size-m};
    --nav-xlarge-font-size-l: #{$nav-xlarge-font-size-l};

    --nav-dividers-margin-top: #{$nav-dividers-margin-top};
    --nav-dividers-border-width: #{$nav-dividers-border-width};
    --nav-dividers-border: #{$nav-dividers-border};

}
