// Name:            Nav
// Description:     Defines styles for list navigations
//
// Component:       `uk-nav`
//
// Sub-objects:     `uk-nav-parent-icon`
//                  `uk-nav-header`
//                  `uk-nav-divider`
//                  `uk-nav-subtitle`
//                  `uk-nav-sub`
//
// Modifiers:       `uk-nav-default`
//                  `uk-nav-primary`
//                  `uk-nav-secondary`
//                  `uk-nav-medium`
//                  `uk-nav-large`
//                  `uk-nav-xlarge`
//                  `uk-nav-center`,
//                  `uk-nav-divider`
//
// States:          `uk-active`
//                  `uk-parent`
//                  `uk-open`
//                  `uk-touch`
//
// ========================================================================


// Variables
// ========================================================================

$nav-item-padding-vertical: var(--nav-item-padding-vertical);
$nav-item-padding-horizontal: var(--nav-item-padding-horizontal);

$nav-sublist-padding-vertical: var(--nav-sublist-padding-vertical);
$nav-sublist-padding-left: var(--nav-sublist-padding-left);
$nav-sublist-deeper-padding-left: var(--nav-sublist-deeper-padding-left);
$nav-sublist-item-padding-vertical: var(--nav-sublist-item-padding-vertical);

$nav-parent-icon-margin-left: var(--nav-parent-icon-margin-left);

$nav-header-padding-vertical: var(--nav-header-padding-vertical);
$nav-header-padding-horizontal: var(--nav-header-padding-horizontal);
$nav-header-font-size: var(--nav-header-font-size);
$nav-header-font-weight: var(--nav-header-font-weight);
$nav-header-text-transform: var(--nav-header-text-transform);
$nav-header-margin-top: var(--nav-header-margin-top);

$nav-divider-margin-vertical: var(--nav-divider-margin-vertical);
$nav-divider-margin-horizontal: var(--nav-divider-margin-horizontal);

$nav-default-font-size: var(--nav-default-font-size);
$nav-default-line-height: var(--nav-default-line-height);
$nav-default-item-color: var(--nav-default-item-color);
$nav-default-item-hover-color: var(--nav-default-item-hover-color);
$nav-default-item-active-color: var(--nav-default-item-active-color);
$nav-default-subtitle-font-size: var(--nav-default-subtitle-font-size);
$nav-default-header-color: var(--nav-default-header-color);
$nav-default-divider-border-width: var(--nav-default-divider-border-width);
$nav-default-divider-border: var(--nav-default-divider-border);
$nav-default-sublist-font-size: var(--nav-default-sublist-font-size);
$nav-default-sublist-line-height: var(--nav-default-sublist-line-height);
$nav-default-sublist-item-color: var(--nav-default-sublist-item-color);
$nav-default-sublist-item-hover-color: var(--nav-default-sublist-item-hover-color);
$nav-default-sublist-item-active-color: var(--nav-default-sublist-item-active-color);

$nav-primary-font-size: var(--nav-primary-font-size);
$nav-primary-line-height: var(--nav-primary-line-height);
$nav-primary-item-color: var(--nav-primary-item-color);
$nav-primary-item-hover-color: var(--nav-primary-item-hover-color);
$nav-primary-item-active-color: var(--nav-primary-item-active-color);
$nav-primary-subtitle-font-size: var(--nav-primary-subtitle-font-size);
$nav-primary-header-color: var(--nav-primary-header-color);
$nav-primary-divider-border-width: var(--nav-primary-divider-border-width);
$nav-primary-divider-border: var(--nav-primary-divider-border);
$nav-primary-sublist-font-size: var(--nav-primary-sublist-font-size);
$nav-primary-sublist-line-height: var(--nav-primary-sublist-line-height);
$nav-primary-sublist-item-color: var(--nav-primary-sublist-item-color);
$nav-primary-sublist-item-hover-color: var(--nav-primary-sublist-item-hover-color);
$nav-primary-sublist-item-active-color: var(--nav-primary-sublist-item-active-color);

$nav-secondary-font-size: var(--nav-secondary-font-size);
$nav-secondary-line-height: var(--nav-secondary-line-height);
$nav-secondary-item-color: var(--nav-secondary-item-color);
$nav-secondary-item-hover-color: var(--nav-secondary-item-hover-color);
$nav-secondary-item-active-color: var(--nav-secondary-item-active-color);
$nav-secondary-subtitle-font-size: var(--nav-secondary-subtitle-font-size);
$nav-secondary-subtitle-color: var(--nav-secondary-subtitle-color);
$nav-secondary-subtitle-hover-color: var(--nav-secondary-subtitle-hover-color);
$nav-secondary-subtitle-active-color: var(--nav-secondary-subtitle-active-color);
$nav-secondary-header-color: var(--nav-secondary-header-color);
$nav-secondary-divider-border-width: var(--nav-secondary-divider-border-width);
$nav-secondary-divider-border: var(--nav-secondary-divider-border);
$nav-secondary-sublist-font-size: var(--nav-secondary-sublist-font-size);
$nav-secondary-sublist-line-height: var(--nav-secondary-sublist-line-height);
$nav-secondary-sublist-item-color: var(--nav-secondary-sublist-item-color);
$nav-secondary-sublist-item-hover-color: var(--nav-secondary-sublist-item-hover-color);
$nav-secondary-sublist-item-active-color: var(--nav-secondary-sublist-item-active-color);

$nav-medium-line-height: var(--nav-medium-line-height);
$nav-medium-font-size: var(--nav-medium-font-size);
$nav-medium-font-size-m: var(--nav-medium-font-size);
$nav-medium-font-size-l: var(--nav-medium-font-size);

$nav-large-line-height: var(--nav-large-line-height);
$nav-large-font-size: var(--nav-large-font-size);
$nav-large-font-size-m: var(--nav-large-font-size);
$nav-large-font-size-l: var(--nav-large-font-size);

$nav-xlarge-line-height: var(--nav-xlarge-line-height);
$nav-xlarge-font-size: var(--nav-xlarge-font-size);
$nav-xlarge-font-size-m: var(--nav-xlarge-font-size);
$nav-xlarge-font-size-l: var(--nav-xlarge-font-size);

$nav-dividers-margin-top: var(--nav-dividers-margin-top);
$nav-dividers-border-width: var(--nav-dividers-border-width);
$nav-dividers-border: var(--nav-dividers-border);


// Set custom properties
// ========================================================================

:where(.uk-nav) {

    --nav-item-padding-vertical:                     5px;
    --nav-item-padding-horizontal:                   0;

    --nav-sublist-padding-vertical:                  5px;
    --nav-sublist-padding-left:                      15px;
    --nav-sublist-deeper-padding-left:               15px;
    --nav-sublist-item-padding-vertical:             2px;

    --nav-parent-icon-margin-left:                   0.25em;

    --nav-header-padding-vertical:                   var(--nav-item-padding-vertical);
    --nav-header-padding-horizontal:                 var(--nav-item-padding-horizontal);
    --nav-header-font-size:                          var(--global-small-font-size);
    --nav-header-font-weight:                        500;
    --nav-header-text-transform:                     uppercase;
    --nav-header-margin-top:                         var(--global-margin);

    --nav-divider-margin-vertical:                   5px;
    --nav-divider-margin-horizontal:                 0;

    --nav-default-font-size:                         var(--global-font-size);
    --nav-default-line-height:                       var(--global-line-height);
    --nav-default-item-color:                        var(--theme-muted-color, var(--global-muted-color));
    --nav-default-item-hover-color:                  var(--theme-color, var(--global-color));
    --nav-default-item-active-color:                 var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-default-subtitle-font-size:                var(--global-small-font-size);
    --nav-default-header-color:                      var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-default-divider-border-width:              var(--global-border-width);
    --nav-default-divider-border:                    var(--theme-border, var(--global-border));
    --nav-default-sublist-font-size:                 var(--nav-default-font-size);
    --nav-default-sublist-line-height:               var(--nav-default-line-height);
    --nav-default-sublist-item-color:                var(--theme-muted-color, var(--global-muted-color));
    --nav-default-sublist-item-hover-color:          var(--theme-color, var(--global-color));
    --nav-default-sublist-item-active-color:         var(--theme-emphasis-color, var(--global-emphasis-color));

    --nav-primary-font-size:                         var(--global-large-font-size);
    --nav-primary-line-height:                       var(--global-line-height);
    --nav-primary-item-color:                        var(--theme-muted-color, var(--global-muted-color));
    --nav-primary-item-hover-color:                  var(--theme-color, var(--global-color));
    --nav-primary-item-active-color:                 var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-primary-subtitle-font-size:                var(--global-medium-font-size);
    --nav-primary-header-color:                      var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-primary-divider-border-width:              var(--global-border-width);
    --nav-primary-divider-border:                    var(--theme-border, var(--global-border));
    --nav-primary-sublist-font-size:                 var(--global-medium-font-size);
    --nav-primary-sublist-line-height:               var(--global-line-height);
    --nav-primary-sublist-item-color:                var(--theme-muted-color, var(--global-muted-color));
    --nav-primary-sublist-item-hover-color:          var(--theme-color, var(--global-color));
    --nav-primary-sublist-item-active-color:         var(--theme-emphasis-color, var(--global-emphasis-color));

    --nav-secondary-font-size:                       var(--global-font-size);
    --nav-secondary-line-height:                     var(--global-line-height);
    --nav-secondary-item-color:                      var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-secondary-item-hover-color:                var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-secondary-item-active-color:               var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-secondary-subtitle-font-size:              var(--global-small-font-size);
    --nav-secondary-subtitle-color:                  var(--theme-muted-color, var(--global-muted-color));
    --nav-secondary-subtitle-hover-color:            var(--theme-color, var(--global-color));
    --nav-secondary-subtitle-active-color:           var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-secondary-header-color:                    var(--theme-emphasis-color, var(--global-emphasis-color));
    --nav-secondary-divider-border-width:            var(--global-border-width);
    --nav-secondary-divider-border:                  var(--theme-border, var(--global-border));
    --nav-secondary-sublist-font-size:               var(--global-small-font-size);
    --nav-secondary-sublist-line-height:             var(--global-line-height);
    --nav-secondary-sublist-item-color:              var(--theme-muted-color, var(--global-muted-color));
    --nav-secondary-sublist-item-hover-color:        var(--theme-color, var(--global-color));
    --nav-secondary-sublist-item-active-color:       var(--theme-emphasis-color, var(--global-emphasis-color));

    --nav-medium-line-height:                        1;
    --nav-medium-font-size:                          2.5rem; // 40px 0.714

    --nav-large-line-height:                         1;
    --nav-large-font-size:                           3rem; // 50px 0.78

    --nav-xlarge-line-height:                        1;
    --nav-xlarge-font-size:                          4rem; // 64px

    --nav-dividers-margin-top:                       5px;
    --nav-dividers-border-width:                     var(--global-border-width);
    --nav-dividers-border:                           var(--theme-border, var(--global-border));

    @media (min-width: $breakpoint-medium) {

        --nav-medium-font-size:                      3.5rem; // 3.5rem / 56px

        --nav-large-font-size:                       4rem; // 64px

        --nav-xlarge-font-size:                      6rem; // 96px

    }

    @media (min-width: $breakpoint-large) {

        --nav-medium-font-size:                      4rem; // 64px

        --nav-large-font-size:                       6rem; // 96px

        --nav-xlarge-font-size:                      8rem; // 128px

    }

}
