// Name:            Off-canvas
// Description:     Component to create an off-canvas sidebar
//
// ========================================================================


// Variables
// ========================================================================

$offcanvas-z-index: var(--offcanvas-z-index);

$offcanvas-bar-width: var(--offcanvas-bar-width);
$offcanvas-bar-padding-vertical: var(--offcanvas-bar-padding-vertical);
$offcanvas-bar-padding-horizontal: var(--offcanvas-bar-padding-horizontal);
$offcanvas-bar-background: var(--offcanvas-bar-background);
$offcanvas-bar-color-mode: var(--offcanvas-bar-color-mode);

$offcanvas-bar-width-s: var(--offcanvas-bar-width);
$offcanvas-bar-padding-vertical-s: var(--offcanvas-bar-padding-vertical);
$offcanvas-bar-padding-horizontal-s: var(--offcanvas-bar-padding-horizontal);

$offcanvas-close-position: var(--offcanvas-close-position);
$offcanvas-close-padding: var(--offcanvas-close-padding);

$offcanvas-close-position-s: var(--offcanvas-close-position);

$offcanvas-overlay-background: var(--offcanvas-overlay-background);


// Set custom properties
// ========================================================================

:root {

    --offcanvas-z-index:                             var(--global-z-index);

    --offcanvas-bar-width:                           270px;
    --offcanvas-bar-padding-vertical:                20px;
    --offcanvas-bar-padding-horizontal:              20px;
    --offcanvas-bar-background:                      var(--global-secondary-background);
    --offcanvas-bar-color-mode:                      light;

    --offcanvas-close-position:                      5px;
    --offcanvas-close-padding:                       5px;

    --offcanvas-overlay-background:                  rgba(0,0,0,0.1);

    @media (min-width: $breakpoint-small) {

        --offcanvas-bar-width:                       350px;
        --offcanvas-bar-padding-vertical:            var(--global-medium-gutter);
        --offcanvas-bar-padding-horizontal:          var(--global-medium-gutter);

        --offcanvas-close-position:                  10px;

    }

}


// Mixins and overrides
// ========================================================================

@mixin hook-offcanvas-misc() {

    .uk-offcanvas-bar { left: calc( var(--offcanvas-bar-width) * -1 ); }

    /* Phone landscape and bigger */
    @media (min-width: $breakpoint-small) {

        .uk-offcanvas-bar { left: calc( var(--offcanvas-bar-width) * -1 ); }

    }


    /* Flip modifier */
    .uk-offcanvas-flip .uk-offcanvas-bar { right: calc( var(--offcanvas-bar-width) * -1 ); }

    /* Phone landscape and bigger */
    @media (min-width: $breakpoint-small) {

        .uk-offcanvas-flip .uk-offcanvas-bar { right: calc( var(--offcanvas-bar-width) * -1); }

    }

    .uk-offcanvas-flip.uk-offcanvas-container-animation { left: calc( var(--offcanvas-bar-width) * -1 ); }

    /* Phone landscape and bigger */
    @media (min-width: $breakpoint-small) {

        .uk-offcanvas-flip.uk-offcanvas-container-animation { left: calc( var(--offcanvas-bar-width) * -1 ); }

    }

};