// Name:            Off-canvas
// Description:     Component to create an off-canvas sidebar
//
// ========================================================================


// Variables
// ========================================================================

$offcanvas-z-index:                             var(--global-z-index);

$offcanvas-bar-width:                           270px;
$offcanvas-bar-padding-vertical:                20px;
$offcanvas-bar-padding-horizontal:              20px;
$offcanvas-bar-background:                      var(--global-secondary-background);
$offcanvas-bar-color-mode:                      light;

$offcanvas-bar-width-s:                         350px;
$offcanvas-bar-padding-vertical-s:              var(--global-medium-gutter);
$offcanvas-bar-padding-horizontal-s:            var(--global-medium-gutter);

$offcanvas-close-position:                      5px;
$offcanvas-close-padding:                       5px;

$offcanvas-close-position-s:                    10px;

$offcanvas-overlay-background:                  rgba(0,0,0,0.1);


// Set custom properties
// ========================================================================

:root {

    --offcanvas-z-index: #{$offcanvas-z-index};

    --offcanvas-bar-width: #{$offcanvas-bar-width};
    --offcanvas-bar-padding-vertical: #{$offcanvas-bar-padding-vertical};
    --offcanvas-bar-padding-horizontal: #{$offcanvas-bar-padding-horizontal};
    --offcanvas-bar-background: #{$offcanvas-bar-background};
    --offcanvas-bar-color-mode: #{$offcanvas-bar-color-mode};

    --offcanvas-close-position: #{$offcanvas-close-position};
    --offcanvas-close-padding: #{$offcanvas-close-padding};

    --offcanvas-overlay-background: #{$offcanvas-overlay-background};

    @media (min-width: $breakpoint-small) {

        --offcanvas-bar-width: #{$offcanvas-bar-width-s};
        --offcanvas-bar-padding-vertical: #{$offcanvas-bar-padding-vertical-s};
        --offcanvas-bar-padding-horizontal: #{$offcanvas-bar-padding-horizontal-s};

        --offcanvas-close-position: #{$offcanvas-close-position-s};

    }

}