// Name:            Overlay
// Description:     Component to create content areas overlaying an image
//
// ========================================================================


// Variables
// ========================================================================

$overlay-padding-horizontal:                    $global-gutter;
$overlay-padding-vertical:                      $global-gutter;

$overlay-default-background:                    color-mix(in srgb, $global-background 10%, transparent);
$overlay-default-color-mode:                    dark;

$overlay-primary-background:                    color-mix(in srgb, $global-secondary-background 10%, transparent);
$overlay-primary-color-mode:                    light;


// Set custom properties
// ========================================================================

:root {

    --overlay-padding-horizontal: #{$overlay-padding-horizontal};
    --overlay-padding-vertical: #{$overlay-padding-vertical};

    --overlay-default-background: #{$overlay-default-background};

    --overlay-primary-background: #{$overlay-primary-background};

}