// Name:            Pagination
// Description:     Component to create a page navigation
//
// Component:       `uk-pagination`
//
// Adopted:         `uk-pagination-next`
//                  `uk-pagination-previous`
//
// States:          `uk-active`
//                  `uk-disabled`
//
// ========================================================================


// Variables
// ========================================================================

$pagination-margin-horizontal:                  0;

$pagination-item-padding-vertical:              5px;
$pagination-item-padding-horizontal:            10px;
$pagination-item-color:                         $global-muted-color;
$pagination-item-hover-color:                   $global-color;
$pagination-item-hover-text-decoration:         none;
$pagination-item-active-color:                  $global-color;
$pagination-item-disabled-color:                $global-muted-color;


// Set custom properties
// ========================================================================

:root {

    --pagination-margin-horizontal: $pagination-margin-horizontal;

    --pagination-item-padding-vertical: $pagination-item-padding-vertical;
    --pagination-item-padding-horizontal: $pagination-item-padding-horizontal;
    --pagination-item-color: $pagination-item-color;
    --pagination-item-hover-color: $pagination-item-hover-color;
    --pagination-item-hover-text-decoration: $pagination-item-hover-text-decoration;
    --pagination-item-active-color: $pagination-item-active-color;
    --pagination-item-disabled-color: $pagination-item-disabled-color;

}
