// Name:            Placeholder
// Description:     Component to create placeholder boxes
//
// Component:       `uk-placeholder`
//
// ========================================================================


// Variables
// ========================================================================

$placeholder-margin-vertical: var(--placeholder-margin-vertical);
$placeholder-padding-vertical: var(--placeholder-padding-vertical);
$placeholder-padding-horizontal: var(--placeholder-padding-horizontal);
$placeholder-background: var(--placeholder-background);


// Set custom properties
// ========================================================================

:root {

    --placeholder-margin-vertical:                   var(--global-margin);
    --placeholder-padding-vertical:                  var(--global-gutter);
    --placeholder-padding-horizontal:                var(--global-gutter);
    --placeholder-background:                        var(--theme-muted-background, var(--global-muted-background));

}
