// Name:            Position
// Description:     Utilities to position content
//
// Component:       `uk-position-absolute`
//                  `uk-position-relative`
//                  `uk-position-z-index`
//                  `uk-position-top`
//                  `uk-position-bottom`
//                  `uk-position-left`
//                  `uk-position-right`
//                  `uk-position-top-left`
//                  `uk-position-top-center`
//                  `uk-position-top-right`
//                  `uk-position-bottom-left`
//                  `uk-position-bottom-center`
//                  `uk-position-bottom-right`
//                  `uk-position-center`
//                  `uk-position-center-left`
//                  `uk-position-center-right`
//                  `uk-position-cover`
//
// Modifiers:       `uk-position-small`
//                  `uk-position-medium`
//                  `uk-position-large`
//
// ========================================================================


// Variables
// ========================================================================

$position-small-margin:                                $global-small-gutter;
$position-medium-margin:                               $global-gutter;
$position-large-margin:                                $global-gutter;
$position-large-margin-l:                              50px;


// Set custom properties
// ========================================================================

:root {

    --uk-position-margin-offset: 0px;

    --position-small-margin: #{$position-small-margin};
    --position-medium-margin: #{$position-medium-margin};
    --position-large-margin: #{$position-large-margin};
    --position-large-margin-l: #{$position-large-margin-l};

}
