// Name:            Position
// Description:     Utilities to position content
//
// Component:       `uk-position-absolute`
//                  `uk-position-relative`
//                  `uk-position-z-index`
//                  `uk-position-top`
//                  `uk-position-bottom`
//                  `uk-position-left`
//                  `uk-position-right`
//                  `uk-position-top-left`
//                  `uk-position-top-center`
//                  `uk-position-top-right`
//                  `uk-position-bottom-left`
//                  `uk-position-bottom-center`
//                  `uk-position-bottom-right`
//                  `uk-position-center`
//                  `uk-position-center-left`
//                  `uk-position-center-right`
//                  `uk-position-cover`
//
// Modifiers:       `uk-position-small`
//                  `uk-position-medium`
//                  `uk-position-large`
//
// ========================================================================


// Variables
// ========================================================================

$position-small-margin: var(--position-small-margin);
$position-medium-margin: var(--position-medium-margin);
$position-large-margin: var(--position-large-margin);
$position-large-margin-l: var(--position-large-margin);


// Set custom properties
// ========================================================================

:where([class*='uk-position']) {

    --uk-position-margin-offset: 0px;

    --position-small-margin:                                var(--global-small-gutter);
    --position-medium-margin:                               var(--global-gutter);
    --position-large-margin:                                var(--global-gutter);

    @media (min-width: $breakpoint-large) {

        --position-large-margin:                            50px;

    }

}
