// Name:            Progress
// Description:     Component to create progress bars
//
// ========================================================================


// Variables
// ========================================================================

$progress-height: var(--progress-height);
$progress-margin-vertical: var(--progress-margin-vertical);
$progress-background: var(--progress-background);

$progress-bar-background: var(--progress-bar-background);


// Set custom properties
// ========================================================================

:root {

    --progress-height:                               15px;
    --progress-margin-vertical:                      var(--global-margin);
    --progress-background:                           var(--theme-muted-background, var(--global-muted-background));

    --progress-bar-background:                       var(--theme-primary-background, var(--global-primary-background));

}
