// Name:            Section
// Description:     Component to create horizontal layout section
//
// ========================================================================


// Variables
// ========================================================================

$section-padding-vertical:                        var(--global-medium-margin);
$section-padding-vertical-m:                      var(--global-large-margin);

$section-xsmall-padding-vertical:                 var(--global-margin);

$section-small-padding-vertical:                  var(--global-medium-margin);

$section-large-padding-vertical:                  var(--global-large-margin);
$section-large-padding-vertical-m:                var(--global-xlarge-margin);

$section-xlarge-padding-vertical:                 var(--global-xlarge-margin);
$section-xlarge-padding-vertical-m:               calc(var(--global-large-margin) + var(--global-xlarge-margin));

$section-default-background:                      var(--global-background);
$section-default-color-mode:                      dark;

$section-muted-background:                        var(--global-muted-background);
$section-muted-color-mode:                        dark;

$section-primary-background:                      var(--global-primary-background);
$section-primary-color-mode:                      light;

$section-secondary-background:                    var(--global-secondary-background);
$section-secondary-color-mode:                    light;


// Set custom properties
// ========================================================================

:root {

    --section-padding-vertical: #{$section-padding-vertical};

    --section-xsmall-padding-vertical: #{$section-xsmall-padding-vertical};

    --section-small-padding-vertical: #{$section-small-padding-vertical};

    --section-large-padding-vertical: #{$section-large-padding-vertical};

    --section-xlarge-padding-vertical: #{$section-xlarge-padding-vertical};

    --section-default-background: #{$section-default-background};
    --section-default-color-mode: #{$section-default-color-mode};

    --section-muted-background: #{$section-muted-background};
    --section-muted-color-mode: #{$section-muted-color-mode};

    --section-primary-background: #{$section-primary-background};
    --section-primary-color-mode: #{$section-primary-color-mode};

    --section-secondary-background: #{$section-secondary-background};
    --section-secondary-color-mode: #{$section-secondary-color-mode};

    @media (min-width: $breakpoint-medium) {

        --section-padding-vertical: #{$section-padding-vertical-m};
        --section-large-padding-vertical: #{$section-large-padding-vertical-m};
        --section-xlarge-padding-vertical: #{$section-xlarge-padding-vertical-m};

    }

}
