// Name:            Slidenav
// Description:     Component to create previous/next icon navigations
//
// Component:       `uk-slidenav`
//
// Sub-objects:     `uk-slidenav-container`
//
// Modifiers:       `uk-slidenav-previous`
//                  `uk-slidenav-next`
//                  `uk-slidenav-large`
//
// ========================================================================


// Variables
// ========================================================================

$slidenav-padding-vertical:                     5px;
$slidenav-padding-horizontal:                   10px;

$slidenav-color:                                color-mix(in srgb, $global-color 50%, transparent);
$slidenav-hover-color:                          color-mix(in srgb, $global-color 10%, transparent);
$slidenav-active-color:                         color-mix(in srgb, $global-color 50%, transparent);

$slidenav-large-padding-vertical:               10px;
$slidenav-large-padding-horizontal:             $slidenav-large-padding-vertical;


// Set custom properties
// ========================================================================

:root {

    --slidenav-padding-vertical: $slidenav-padding-vertical;
    --slidenav-padding-horizontal: $slidenav-padding-horizontal;

    --slidenav-color: $slidenav-color;
    --slidenav-hover-color: $slidenav-hover-color;
    --slidenav-active-color: $slidenav-active-color;

    --slidenav-large-padding-vertical: $slidenav-large-padding-vertical;
    --slidenav-large-padding-horizontal: $slidenav-large-padding-horizontal;

}
