// Name:            Slider
// Description:     Component to create horizontal sliders
//
// Component:       `uk-slider`
//
// Sub-objects:     `uk-slider-container`
//                  `uk-slider-items`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

// $slider-container-margin-top: var(--slider-container-margin-top);
// $slider-container-margin-bottom: var(--slider-container-margin-bottom);
$slider-container-margin-left: var(--slider-container-margin-left);
$slider-container-margin-right: var(--slider-container-margin-right);


// Set custom properties
// ========================================================================

:root {

    // --slider-container-margin-top:                       -11px;
    // --slider-container-margin-bottom:                    -39px;
    --slider-container-margin-left:                      -25px;
    --slider-container-margin-right:                     var(--slider-container-margin-left);

}


// Mixins and overrides
// ========================================================================

@mixin hook-slider-misc() {

    .uk-slider-container-offset {
        padding-left: calc( var(--slider-container-margin-left) * -1 );
        padding-right: calc( var(--slider-container-margin-right) * -1 );
    }

}