// Name:            Sortable
// Description:     Component to create sortable grids and lists
//
// Component:       `uk-sortable`
//
// Sub-objects:     `uk-sortable-drag`
//                  `uk-sortable-placeholder`
//                  `uk-sortable-handle`
//
// Modifiers:       `uk-sortable-empty`
//
// States:          `uk-drag`
//
// ========================================================================


// Variables
// ========================================================================

:where([class*='uk-sortable']) {

    --sortable-dragged-z-index:                       calc(var(--global-z-index) + 50);

    --sortable-placeholder-opacity:                   0;

    --sortable-empty-height:                          50px;

}


/* ========================================================================
   Component: Sortable
 ========================================================================== */

.uk-sortable {
    position: relative;
}

/*
 * Remove margin from the last-child
 */

.uk-sortable > :last-child { margin-block-end: 0; }


/* Drag
 ========================================================================== */

.uk-sortable-drag {
    position: fixed !important;
    z-index: var(--sortable-dragged-z-index) !important;
    pointer-events: none;
}


/* Placeholder
 ========================================================================== */

.uk-sortable-placeholder {
    opacity: var(--sortable-placeholder-opacity);
    pointer-events: none;
}


/* Empty modifier
 ========================================================================== */

.uk-sortable-empty {
    min-block-size: var(--sortable-empty-height);
}


/* Handle
 ========================================================================== */

/* Hover */
.uk-sortable-handle:hover { cursor: move; }
