// Name:            Spinner
// Description:     Component to create a loading spinner
//
// Component:       `uk-spinner`
//
// ========================================================================


// Variables
// ========================================================================

$spinner-size: var(--spinner-size);
$spinner-stroke-width: var(--spinner-stroke-width);
$spinner-radius: var(--spinner-radius);
$spinner-circumference: var(--spinner-circumference);
$spinner-duration: var(--spinner-duration);


// Set custom properties
// ========================================================================

:root {

    --spinner-size:                                  30px;
    --spinner-stroke-width:                          1;
    --spinner-radius:                                calc( ( var(--spinner-size) - var(--spinner-stroke-width) ) / 2); /* Minus stroke width to prevent overflow clipping */
    --spinner-circumference:                         calc( 2 * 3.141 * var(--spinner-radius) );
    --spinner-duration:                              1.4s;

}
