// Name:            Sticky
// Description:     Component to make elements sticky in the viewport
//
// Component:       `uk-sticky`
//
// Modifier:        `uk-sticky-fixed`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$sticky-z-index: var(--sticky-z-index);

$sticky-animation-duration: var(--sticky-animation-duration);
$sticky-reverse-animation-duration: var(--sticky-reverse-animation-duration);


// Set custom properties
// ========================================================================

:where([class*='uk-sticky']) {

    --sticky-z-index:                                calc(var(--global-z-index) - 20);

    --sticky-animation-duration:                     0.2s;
    --sticky-reverse-animation-duration:             0.2s;

}
