// Name:            Subnav
// Description:     Component to create a sub navigation
//
// Component:       `uk-subnav`
//
// Modifiers:       `uk-subnav-divider`
//                  `uk-subnav-pill`
//
// States:          `uk-active`
//                  `uk-first-column`
//
// ========================================================================


// Variables
// ========================================================================

$subnav-margin-horizontal: var(--subnav-margin-horizontal);

$subnav-item-color: var(--subnav-item-color);
$subnav-item-hover-color: var(--subnav-item-hover-color);
$subnav-item-hover-text-decoration: var(--subnav-item-hover-text-decoration);
$subnav-item-active-color: var(--subnav-item-active-color);

$subnav-divider-margin-horizontal: -20px; // var(--subnav-divider-margin-horizontal);
$subnav-divider-border-height: var(--subnav-divider-border-height);
$subnav-divider-border-width: var(--subnav-divider-border-width);
$subnav-divider-border: var(--subnav-divider-border);

$subnav-pill-margin-horizontal: var(--subnav-pill-margin-horizontal);
$subnav-pill-item-padding-vertical: var(--subnav-pill-item-padding-vertical);
$subnav-pill-item-padding-horizontal: var(--subnav-pill-item-padding-horizontal);
$subnav-pill-item-background: var(--subnav-pill-item-background);
$subnav-pill-item-color: var(--subnav-pill-item-color);
$subnav-pill-item-hover-background: var(--subnav-pill-item-hover-background);
$subnav-pill-item-hover-color: var(--subnav-pill-item-hover-color);
$subnav-pill-item-onclick-background: var(--subnav-pill-item-onclick-background);
$subnav-pill-item-onclick-color: var(--subnav-pill-item-onclick-color);
$subnav-pill-item-active-background: var(--subnav-pill-item-active-background);
$subnav-pill-item-active-color: var(--subnav-pill-item-active-color);

$subnav-item-disabled-color: var(--subnav-item-disabled-color);


// Set custom properties
// ========================================================================

:root {

    --subnav-margin-horizontal:                      20px;

    --subnav-item-color:                             var(--theme-muted-color, var(--global-muted-color));
    --subnav-item-hover-color:                       var(--theme-color, var(--global-color));
    --subnav-item-hover-text-decoration:             none;
    --subnav-item-active-color:                      var(--theme-emphasis-color, var(--global-emphasis-color));

    --subnav-divider-margin-horizontal:              calc(var(--subnav-margin-horizontal) * -1);
    --subnav-divider-border-height:                  1.5em;
    --subnav-divider-border-width:                   var(--global-border-width);
    --subnav-divider-border:                         var(--theme-border, var(--global-border));

    --subnav-pill-margin-horizontal:                 var(--subnav-margin-horizontal);
    --subnav-pill-item-padding-vertical:             5px;
    --subnav-pill-item-padding-horizontal:           10px;
    --subnav-pill-item-background:                   transparent;
    --subnav-pill-item-color:                        var(--subnav-item-color);
    --subnav-pill-item-hover-background:             var(--theme-muted-background, var(--global-muted-background));
    --subnav-pill-item-hover-color:                  var(--theme-color, var(--global-color));
    --subnav-pill-item-onclick-background:           var(--subnav-pill-item-hover-background);
    --subnav-pill-item-onclick-color:                var(--subnav-pill-item-hover-color);
    --subnav-pill-item-active-background:            var(--theme-primary-background, var(--global-primary-background));
    --subnav-pill-item-active-color:                 var(--inverse-theme-emphasis-color, var(--global-inverse-color));

    --subnav-item-disabled-color:                    var(--theme-muted-color, var(--global-muted-color));

}


// Mixins and overrides
// ========================================================================

@mixin hook-subnav() {
    margin-left: calc( var(--subnav-margin-horizontal) * -1 );
};

@mixin hook-subnav-misc() {

    .uk-subnav-pill { margin-left: calc( var(--subnav-pill-margin-horizontal) * -1 ); }

    .uk-subnav-divider { margin-left: calc( ( var(--subnav-divider-margin-horizontal) * 2) + var(--subnav-divider-border-width) * -1 ); }

};
