// Name:            Tab
// Description:     Component to create a tabbed navigation
//
// Component:       `uk-tab`
//
// Modifiers:       `uk-tab-bottom`
//                  `uk-tab-left`
//                  `uk-tab-right`
//
// States:          `uk-active`
//                  `uk-disabled`
//
// ========================================================================


// Variables
// ========================================================================

$tab-margin-horizontal:                  20px;

$tab-item-padding-horizontal:            10px;
$tab-item-padding-vertical:              5px;
$tab-item-color:                         $global-muted-color;
$tab-item-hover-color:                   $global-color;
$tab-item-hover-text-decoration:         none;
$tab-item-active-color:                  $global-emphasis-color;
$tab-item-disabled-color:                $global-muted-color;


// Set custom properties
// ========================================================================

:root {

    --tab-margin-horizontal: #{$tab-margin-horizontal};

    --tab-item-padding-horizontal: #{$tab-item-padding-horizontal};
    --tab-item-padding-vertical: #{$tab-item-padding-vertical};
    --tab-item-color: #{$tab-item-color};
    --tab-item-hover-color: #{$tab-item-hover-color};
    --tab-item-hover-text-decoration: #{$tab-item-hover-text-decoration};
    --tab-item-active-color: #{$tab-item-active-color};
    --tab-item-disabled-color: #{$tab-item-disabled-color};

}
