// Name:            Theme switcher
// Description:     Styles for the off-canvas theme switcher
//
// Component:       `uk-themenav-nav`
//                  `uk-themenav-button`
//                  `uk-themenav-swatch`
//
// ========================================================================


// Variables
// ========================================================================

.uk-themenav,
[class*='uk-themenav-'] {

	// --theme-button-color:                             var(--text-color);
	// --theme-button-hover-color:                       var(--text-color);
	// --theme-button-active-color:                      var(--text-color);

	// --theme-button-background:                        var(--surface-default);
	// --theme-button-hover-background:                  var(--surface-default);
	// --theme-button-active-background:                 var(--surface-default);

	--theme-button-border:                            2px solid var(--border-color);

}


/* ========================================================================
   Component: Theme Switcher
 ========================================================================== */

/* Buttons
 ========================================================================== */

/* Active */
.uk-themenav > li.uk-active {
	background: var(--invert-surface-muted);
	margin: calc(0.5 * var(--list-large-margin-top)) calc(-1 * var(--offcanvas-bar-padding-horizontal)) calc(-0.5 * var(--list-large-margin-top));
	padding: calc(0.5 * var(--list-large-margin-top)) var(--offcanvas-bar-padding-horizontal);
}

.uk-themenav .uk-nav-divider + li.uk-active {
	margin-block-start: calc(-0.5 * var(--list-large-margin-top));
}


/* Buttons
 ========================================================================== */

.uk-themenav-button {
	--button-default-color: var(--text-color);
	--button-default-hover-color: var(--text-color);
	--button-default-active-color: var(--text-color);
	--button-default-background: var(--surface-default);
	--button-default-hover-background: var(--surface-default);
	--button-default-active-background: var(--surface-default);

	border: var(--theme-button-border);
}


/* Swatches
 ========================================================================== */

.uk-themenav-swatch {
	margin-top: calc(-1 * var(--global-margin));
}

/* Items */
.uk-themenav-swatch > * {
	border: 2px solid var(--border-color);
	border-radius: 5px;
	display: inline-block;
	height: 1.25rem;
	vertical-align: middle;
	width: 1.25rem;
}

.uk-themenav-swatch > :nth-child(1) { background-color: var(--text-color); }
.uk-themenav-swatch > :nth-child(2) { background-color: var(--surface-primary); }
.uk-themenav-swatch > :nth-child(3) { background-color: var(--surface-muted); }
.uk-themenav-swatch > :nth-child(4) { background-color: var(--invert-surface-default); }
.uk-themenav-swatch > :nth-child(5) { background-color: var(--link-color); }
