//
// Component:       Themes
// Description:     Defines light and dark themes
//
// ========================================================================


* {

    //
    // Light
    //

    // --text-color-light: var(--gray-7);
    // --text-emphasis-light: var(--gray-9);
    // --text-muted-light: var(--gray-6);

    --text-color-light: oklch(0% 0 0 / 0.7);
    --text-emphasis-light: var(--gray-9);
    --text-muted-light: oklch(0% 0 0 / 0.5);

    --link-color-light: var(--violet-7);
    --link-hover-light: var(--violet-9);

    --surface-default-light: white;
    --surface-muted-light: var(--gray-2);
    --surface-primary-light: var(--violet-7);

    --surface-success-light: var(--green-7);
    --surface-warning-light: var(--orange-7);
    --surface-danger-light: var(--red-7);

    // --border-color-light: var(--gray-2);

    --border-color-light: oklch(0% 0 0 / 0.08);

    //
    // Dark
    //

    // --text-color-dark: var(--gray-2);
    // --text-emphasis-dark: white;
    // --text-muted-dark: var(--gray-5);

    --text-color-dark: oklch(100% 0 0 / 0.8);
    --text-emphasis-dark: white;
    --text-muted-dark: oklch(100% 0 0 / 0.6);

    --link-color-dark: var(--violet-3);
    --link-hover-dark: var(--violet-1);

    --surface-default-dark: var(--gray-9);
    --surface-muted-dark: var(--gray-8);
    --surface-primary-dark: var(--violet-3);

    --surface-success-dark: var(--green-3);
    --surface-warning-dark: var(--orange-3);
    --surface-danger-dark: var(--red-3);

    // --border-color-dark: var(--gray-7);

    --border-color-dark: oklch(100% 0 0 / 0.12);

}

:root,
[data-theme='uk-theme-auto'] {

    color-scheme: light;

    //
    // Defaults
    //

    --text-color: var(--text-color-light);
    --text-emphasis: var(--text-emphasis-light);
    --text-muted: var(--text-muted-light);

    --link-color: var(--link-color-light);
    --link-hover: var(--link-hover-light);

    --surface-default: var(--surface-default-light);
    --surface-muted: var(--surface-muted-light);
    --surface-primary: var(--surface-primary-light);

    --surface-success: var(--surface-success-light);
    --surface-warning: var(--surface-warning-light);
    --surface-danger: var(--surface-danger-light);

    --border-color: var(--border-color-light);

    --invert-text-color: var(--text-color-dark);
    --invert-text-emphasis: var(--text-emphasis-dark);
    --invert-text-muted: var(--text-muted-dark);

    --invert-link-color: var(--link-color-dark);
    --invert-link-hover: var(--link-hover-dark);

    --invert-surface-default: var(--surface-default-dark);
    --invert-surface-muted: var(--surface-muted-dark);
    --invert-surface-primary: var(--surface-primary-dark);

    --invert-border-color: var(--border-color-dark);

}

@media (prefers-color-scheme: dark) {

    :root,
	[data-theme='uk-theme-auto'] {

        color-scheme: dark;

        --text-color: var(--text-color-dark);
        --text-emphasis: var(--text-emphasis-dark);
        --text-muted: var(--text-muted-dark);

        --link-color: var(--link-color-dark);
        --link-hover: var(--link-hover-dark);

        --surface-default: var(--surface-default-dark);
        --surface-muted: var(--surface-muted-dark);
        --surface-primary: var(--surface-primary-dark);

        --surface-success: var(--surface-success-dark);
        --surface-warning: var(--surface-warning-dark);
        --surface-danger: var(--surface-danger-dark);

        --border-color: var(--border-color-dark);

        --invert-text-color: var(--text-color-light);
        --invert-text-emphasis: var(--text-emphasis-light);
        --invert-text-muted: var(--text-muted-light);

        --invert-link-color: var(--link-color-light);
        --invert-link-hover: var(--link-hover-light);

        --invert-surface-default: var(--surface-default-light);
        --invert-surface-muted: var(--surface-muted-light);
        --invert-surface-primary: var(--surface-primary-light);

        --invert-border-color: var(--border-color-light);

    }

}

.uk-theme-light,
[data-theme='uk-theme-light'] {

    color-scheme: light;

    --text-color: var(--text-color-light);
    --text-emphasis: var(--text-emphasis-light);
    --text-muted: var(--text-muted-light);

    --link-color: var(--link-color-light);
    --link-hover: var(--link-hover-light);

    --surface-default: var(--surface-default-light);
    --surface-muted: var(--surface-muted-light);
    --surface-primary: var(--surface-primary-light);

    --surface-success: var(--surface-success-light);
    --surface-warning: var(--surface-warning-light);
    --surface-danger: var(--surface-danger-light);

    --border-color: var(--border-color-light);

    --invert-text-color: var(--text-color-dark);
    --invert-text-emphasis: var(--text-emphasis-dark);
    --invert-text-muted: var(--text-muted-dark);

    --invert-link-color: var(--link-color-dark);
    --invert-link-hover: var(--link-hover-dark);

    --invert-surface-default: var(--surface-default-dark);
    --invert-surface-muted: var(--surface-muted-dark);
    --invert-surface-primary: var(--surface-primary-dark);

    --invert-border-color: var(--border-color-dark);

}

.uk-theme-dark,
[data-theme='uk-theme-dark'] {

    color-scheme: dark;

    --text-color: var(--text-color-dark);
    --text-emphasis: var(--text-emphasis-dark);
    --text-muted: var(--text-muted-dark);

    --link-color: var(--link-color-dark);
    --link-hover: var(--link-hover-dark);

    --surface-default: var(--surface-default-dark);
    --surface-muted: var(--surface-muted-dark);
    --surface-primary: var(--surface-primary-dark);

    --surface-success: var(--surface-success-dark);
    --surface-warning: var(--surface-warning-dark);
    --surface-danger: var(--surface-danger-dark);

    --border-color: var(--border-color-dark);

    --invert-text-color: var(--text-color-light);
    --invert-text-emphasis: var(--text-emphasis-light);
    --invert-text-muted: var(--text-muted-light);

    --invert-link-color: var(--link-color-light);
    --invert-link-hover: var(--link-hover-light);

    --invert-surface-default: var(--surface-default-light);
    --invert-surface-muted: var(--surface-muted-light);
    --invert-surface-primary: var(--surface-primary-light);

    --invert-border-color: var(--border-color-light);

}

.uk-theme-punk,
[data-theme='uk-theme-punk'] {

    color-scheme: light;

    --text-color: var(--gray-9);
    --text-emphasis: black;
    --text-muted: var(--gray-7);

    --link-color: var(--cyan-7);
    --link-hover: var(--cyan-9);

    --surface-default: var(--yellow-3);
    --surface-muted: var(--yellow-1);
    --surface-primary: var(--pink-5);

    --surface-success: var(--surface-success-light);
    --surface-warning: var(--surface-warning-light);
    --surface-danger: var(--surface-danger-light);

    --border-color: var(--border-color-light);

    --invert-text-color: var(--text-color-dark);
    --invert-text-emphasis: var(--text-emphasis-dark);
    --invert-text-muted: var(--text-muted-dark);

    --invert-link-color: var(--cyan-3);
    --invert-link-hover: var(--cyan-1);

    --invert-surface-default: black;
    --invert-surface-muted: hsl(220 10% 18%);
    --invert-surface-primary: var(--pink-4);

    --invert-border-color: hsl(0 0% 100% / 0.25);


	// .uk-heading-small,
	.uk-heading-medium,
	.uk-heading-large,
	.uk-heading-xlarge,
	.uk-heading-2xlarge {

		--base-heading-font-family: 'Rubik Wet Paint', 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	}

	.tm-page-title { transform: rotate(-2deg); }

}

.uk-theme-metal,
[data-theme='uk-theme-metal'] {

    color-scheme: dark;

    --text-color: hsl(0 0% 100% / 0.8);
    --text-emphasis: white;
    --text-muted: hsl(0 0% 100% / 0.6);

    --link-color: var(--red-3);
    --link-hover: var(--red-1);

    --surface-default: black;
    --surface-muted: var(--gray-8);
    --surface-primary: var(--red-7);

    --surface-success: var(--surface-success-light);
    --surface-warning: var(--surface-warning-light);
    --surface-danger: var(--surface-danger-light);

    --border-color: var(--border-color-dark);

    --invert-text-color: var(--text-color-dark);
    --invert-text-emphasis: var(--text-emphasis-dark);
    --invert-text-muted: var(--text-muted-dark);

    --invert-link-color: var(--red-3);
    --invert-link-hover: var(--red-1);

    --invert-surface-default: black;
    --invert-surface-muted: hsl(220 10% 18%);
    --invert-surface-primary: var(--red-7);

    --invert-border-color: hsl(0 0% 100% / 0.25);


	// .uk-heading-small,
	.uk-heading-medium,
	.uk-heading-large,
	.uk-heading-xlarge,
	.uk-heading-2xlarge {

		--base-heading-font-family: 'Rubik Beastly', 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	}

	.uk-slidenav {

		--slidenav-color: rgb( 255 255 255 / 0.5 );
		--slidenav-hover-color: rgb( 255 255 255 / 0.9 );
		--slidenav-active-color: rgb( 255 255 255 / 0.5 );

	}

	.uk-label {

		--label-background: rgb( 255 255 255 / 0.25 );

	}

}

/*
.uk-theme-psychedelic,
[data-theme='uk-theme-psychedelic'] {

	color-scheme: light;

	--text-color: var(--text-color-light);
	--text-emphasis: var(--text-emphasis-light);
	--text-muted: var(--text-muted-light);

	--link-color: var(--link-color-light);
	--link-hover: var(--link-hover-light);

	--surface-default: var(--orange-0);
    --surface-muted: var(--orange-2);
    --surface-primary: var(--cyan-6);

	--surface-success: var(--surface-success-light);
	--surface-warning: var(--surface-warning-light);
	--surface-danger: var(--surface-danger-light);

	--border-color: var(--border-color-light);

	--invert-text-color: var(--text-color-dark);
	--invert-text-emphasis: var(--text-emphasis-dark);
	--invert-text-muted: var(--text-muted-dark);

	--invert-link-color: var(--link-color-dark);
	--invert-link-hover: var(--link-hover-dark);

	--invert-surface-default: var(--surface-default-dark);
	--invert-surface-muted: var(--surface-muted-dark);
	--invert-surface-primary: var(--surface-primary-dark);

	--invert-border-color: var(--border-color-dark);


	// .uk-heading-small,
	.uk-heading-medium,
	.uk-heading-large,
	.uk-heading-xlarge,
	.uk-heading-2xlarge {

		--base-heading-font-family: 'Rubik Bubbles';

	}

}
*/

.uk-theme-grunge,
[data-theme='uk-theme-grunge'] {

    color-scheme: light;

	--text-color: var(--text-color-light);
	--text-emphasis: var(--text-emphasis-light);
	--text-muted: var(--text-muted-light);

	--link-color: var(--cyan-7);
	--link-hover: var(--cyan-9);

	--surface-default: var(--orange-0);
    --surface-muted: var(--orange-2);
    --surface-primary: var(--cyan-6);

	--surface-success: var(--surface-success-light);
	--surface-warning: var(--surface-warning-light);
	--surface-danger: var(--surface-danger-light);

	--border-color: var(--border-color-light);

	--invert-text-color: var(--text-color-dark);
	--invert-text-emphasis: var(--text-emphasis-dark);
	--invert-text-muted: var(--text-muted-dark);

	--invert-link-color: var(--orange-1);
	--invert-link-hover: var(--orange-0);

	--invert-surface-default: hsl(192.5, 38.1%, 27.3%);
	--invert-surface-muted: hsl(198.6, 33.9%, 24.3%);
	--invert-surface-primary: var(--cyan-3);

	--invert-border-color: var(--border-color-dark);


	// .uk-heading-small,
	.uk-heading-medium,
	.uk-heading-large,
	.uk-heading-xlarge,
	.uk-heading-2xlarge {

		--base-heading-font-family: 'Rubik Dirt', 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	}

	// noise texture
	body,
	.uk-section {

		background-blend-mode: difference;
		background-image: url("images/noise.svg");
		background-position: center top;

	}

}
