// Name:            Thumbnav
// Description:     Component to create thumbnail navigations
//
// Component:       `uk-thumbnav`
//
// Modifier:        `uk-thumbnav-vertical`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$thumbnav-margin-horizontal: var(--thumbnav-margin-horizontal);
$thumbnav-margin-vertical: var(--thumbnav-margin-vertical);

$thumbnav-item-gradient: var(--thumbnav-item-gradient);
$thumbnav-item-hover-opacity: var(--thumbnav-item-hover-opacity);
$thumbnav-item-active-opacity: var(--thumbnav-item-active-opacity);


// Set custom properties
// ========================================================================

:root {

    --thumbnav-margin-horizontal:                    15px;
    --thumbnav-margin-vertical:                      var(--thumbnav-margin-horizontal);

    --thumbnav-item-gradient:                        linear-gradient(180deg, color-mix(in oklab, var(--theme-background, var(--global-background)), transparent 100%), color-mix(in oklab, var(--theme-background, var(--global-background)), transparent 50%) );
    --thumbnav-item-hover-opacity:                   0;
    --thumbnav-item-active-opacity:                  0;

}


// Mixins
// ========================================================================

@mixin hook-thumbnav() {
    margin-left: calc( var(--thumbnav-margin-horizontal) * -1 );
}

@mixin hook-thumbnav-item() {

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: var(--thumbnav-item-gradient);
        transition: opacity 0.1s ease-in-out;
    }

}

@mixin hook-thumbnav-item-hover() {
    &::after { opacity: var(--thumbnav-item-hover-opacity); }
}

@mixin hook-thumbnav-item-active() {
    &::after { opacity: var(--thumbnav-item-active-opacity); }
}

@mixin hook-thumbnav-misc() {

    .uk-thumbnav-vertical {
        margin-top: calc( var(--thumbnav-margin-vertical) * -1 );
    }

}

