// Name:            Thumbnav
// Description:     Component to create thumbnail navigations
//
// Component:       `uk-thumbnav`
//
// Modifier:        `uk-thumbnav-vertical`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$thumbnav-margin-horizontal:                    15px;
$thumbnav-margin-vertical:                      $thumbnav-margin-horizontal;


// Set custom properties
// ========================================================================

:root {

    --thumbnav-margin-horizontal: $thumbnav-margin-horizontal;
    --thumbnav-margin-vertical: $thumbnav-margin-vertical;

}
