// Name:            Tooltip
// Description:     Component to create tooltips
//
// ========================================================================


// Variables
// ========================================================================

$tooltip-z-index:                               $global-z-index + 30;
$tooltip-margin:                                10px;
$tooltip-max-width:                             200px;
$tooltip-padding-vertical:                      3px;
$tooltip-padding-horizontal:                    6px;
$tooltip-background:                            #666;
$tooltip-border-radius:                         2px;
$tooltip-color:                                 $global-inverse-color;
$tooltip-font-size:                             12px;


// Set custom properties
// ========================================================================

:root {

    --tooltip-z-index: #{$tooltip-z-index};
    --tooltip-margin: #{$tooltip-margin};
    --tooltip-max-width: #{$tooltip-max-width};
    --tooltip-padding-vertical: #{$tooltip-padding-vertical};
    --tooltip-padding-horizontal: #{$tooltip-padding-horizontal};
    --tooltip-background: #{$tooltip-background};
    --tooltip-border-radius: #{$tooltip-border-radius};
    --tooltip-color: #{$tooltip-color};
    --tooltip-font-size: #{$tooltip-font-size};

}