// Name:            Totop
// Description:     Component to create an icon to scroll back to top
//
// Component:       `uk-totop`
//
// ========================================================================


// Variables
// ========================================================================

.uk-totop,
[class*='uk-totop-'] {

    --totop-padding:                                  5px;
    --totop-color:                                    var(--theme-muted-color, var(--global-muted-color) );

    --totop-hover-color:                              var(--theme-color, var(--global-color) );

    --totop-active-color:                             var(--theme-emphasis-color, var(--global-emphasis-color) );

}


/* ========================================================================
   Component: Totop
 ========================================================================== */

/*
 * Addopts `uk-icon`
 */

.uk-totop {
    padding: var(--totop-padding);
    color: var(--totop-color);
}

/* Hover */
.uk-totop:hover {
    color: var(--totop-hover-color);
}

/* OnClick */
.uk-totop:active {
    color: var(--totop-active-color);
}
