// Name:            Totop
// Description:     Component to create an icon to scroll back to top
//
// Component:       `uk-totop`
//
// ========================================================================


// Variables
// ========================================================================

$totop-padding: var(--totop-padding);
$totop-color: var(--totop-color);

$totop-hover-color: var(--totop-hover-color);

$totop-active-color: var(--totop-active-color);


// Set custom properties
// ========================================================================

:root {

    --totop-padding:                                 5px;
    --totop-color:                                   var(--theme-muted-color, var(--global-muted-color));

    --totop-hover-color:                             var(--theme-color, var(--global-color));

    --totop-active-color:                            var(--theme-emphasis-color, var(--global-emphasis-color));

}
