// Name:            Transition
// Description:     Utilities for transitions
//
// ========================================================================


// Variables
// ========================================================================

$transition-duration:                           0.3s;

$transition-scale:                              1.03;

$transition-slide-small-translate:              10px;
$transition-slide-medium-translate:             50px;

$transition-slow-duration:                      0.7s;


// Set custom properties
// ========================================================================

:root {

    --transition-duration: #{$transition-duration};

    --transition-scale: #{$transition-scale};

    --transition-slide-small-translate: #{$transition-slide-small-translate};
    --transition-slide-medium-translate: #{$transition-slide-medium-translate};

    --transition-slow-duration: #{$transition-slow-duration};

}
