// Name:            Utility
// Description:     Utilities collection
//
// Component:       `uk-panel-*`
//                  `uk-clearfix`
//                  `uk-float-*`
//                  `uk-overflow-*`
//                  `uk-resize-*`
//                  `uk-display-*`
//                  `uk-inline-*`
//                  `uk-responsive-*`
//                  `uk-preserve-width`
//                  `uk-object-*`
//                  `uk-border-*`
//                  `uk-box-shadow-*`
//                  `uk-box-shadow-bottom`
//                  `uk-dropcap`
//                  `uk-logo`
//                  `uk-blend-*`
//                  `uk-transform-*`
//                  `uk-transform-origin-*`
//
// States:          `uk-disabled`
//                  `uk-drag`
//                  `uk-dragover`
//                  `uk-preserve`
//
// ========================================================================


// Variables
// ========================================================================

$panel-scrollable-height:                       170px;
$panel-scrollable-padding:                      10px;
$panel-scrollable-border-width:                 $global-border-width;
$panel-scrollable-border:                       $global-border;

$overflow-fade-size:                            100px;

$border-rounded-border-radius:                  5px;

$box-shadow-duration:                           0.1s;

$box-shadow-bottom-height:                      30px;
$box-shadow-bottom-bottom:                      -$box-shadow-bottom-height;
$box-shadow-bottom-border-radius:               100%;
$box-shadow-bottom-background:                  #444;
$box-shadow-bottom-blur:                        20px;

$dropcap-margin-right:                          10px;
$dropcap-font-size:                             (($global-line-height * 3) * 1em);
$dropcap-line-height:                           1;

$logo-font-size:                                $global-large-font-size;
$logo-font-family:                              $global-font-family;
$logo-color:                                    $global-emphasis-color;
$logo-hover-color:                              $global-emphasis-color;

$dragover-box-shadow:                           0 0 20px rgba(100,100,100,0.3);


// Set custom properties
// ========================================================================

:root {

    --panel-scrollable-height: $panel-scrollable-height;
    --panel-scrollable-padding: $panel-scrollable-padding;
    --panel-scrollable-border-width: $panel-scrollable-border-width;
    --panel-scrollable-border: $panel-scrollable-border;

    --overflow-fade-size: $overflow-fade-size;

    --border-rounded-border-radius: $border-rounded-border-radius;

    --box-shadow-duration: $box-shadow-duration;

    --box-shadow-bottom-height: $box-shadow-bottom-height;
    --box-shadow-bottom-bottom: $box-shadow-bottom-bottom;
    --box-shadow-bottom-border-radius: $box-shadow-bottom-border-radius;
    --box-shadow-bottom-background: $box-shadow-bottom-background;
    --box-shadow-bottom-blur: $box-shadow-bottom-blur;

    --dropcap-margin-right: $dropcap-margin-right;
    --dropcap-font-size: $dropcap-font-size;
    --dropcap-line-height: $dropcap-line-height;

    --logo-font-size: $logo-font-size;
    --logo-font-family: $logo-font-family;
    --logo-color: $logo-color;
    --logo-hover-color: $logo-hover-color;

    --dragover-box-shadow: $dragover-box-shadow;

}
