// Name:            Width
// Description:     Utilities for widths
//
// Component:       `uk-child-width-*`
//                  `uk-width-*`
//
// ========================================================================


// Variables
// ========================================================================

$width-small-width:                             150px;
$width-medium-width:                            300px;
$width-large-width:                             450px;
$width-xlarge-width:                            600px;
$width-2xlarge-width:                           750px;


// Set custom properties
// ========================================================================

:root {

    --width-small-width: $width-small-width;
    --width-medium-width: $width-medium-width;
    --width-large-width: $width-large-width;
    --width-xlarge-width: $width-xlarge-width;
    --width-2xlarge-width: $width-2xlarge-width;

}
