// Name:            Width
// Description:     Utilities for widths
//
// Component:       `uk-child-width-*`
//                  `uk-width-*`
//
// ========================================================================


// Variables
// ========================================================================

$width-small-width: var(--width-small-width);
$width-medium-width: var(--width-medium-width);
$width-large-width: var(--width-large-width);
$width-xlarge-width: var(--width-xlarge-width);
$width-2xlarge-width: var(--width-2xlarge-width);


// Set custom properties
// ========================================================================

:root {

    --width-small-width:                             150px;
    --width-medium-width:                            300px;
    --width-large-width:                             450px;
    --width-xlarge-width:                            600px;
    --width-2xlarge-width:                           750px;

}
