{% extends "base.html" %}

{%- block page_title %}
	<p class="uk-margin-remove">
		<a href="{{ get_url(path='@/posts/_index.md') }}" class="uk-inline">
			<span uk-icon="icon: arrow-left;" class="uk-margin-xsmall-right"></span>
			All Posts
		</a>
	</p>
	{{- super() -}}
{% endblock page_title %}

{%- block subnav %}
{# There has to be a better way to get the feed URL #}
{% if section.generate_feeds %}
	<a href="{{ current_url }}atom.xml" class="uk-button uk-button-small uk-button-default uk-flex-inline uk-flex-middle">
		<span>Subscribe</span>
		<span uk-icon="icon: rss; ratio: 0.75" class="uk-margin-xsmall-left uk-icon"></span>
	</a>
{% endif %}
{% endblock subnav %}

{%- block content %}
<section class="uk-section" style="padding-block-end: var(--section-large-padding-vertical);">
	<div class="uk-container uk-container-small">

		<div class="uk-grid uk-grid-stack uk-grid-divider uk-flex-column " uk-grid>
		{%- for jam in paginator.pages %}

			<article class="h-entry">
				<div class="uk-grid uk-flex-middle uk-grid-row-small" uk-grid>

					{% if jam.extra.thumbnail %}
					<div class="uk-width-auto@s">
						<a class="" href="{{ jam.permalink }}">
							{% if jam.extra.thumbnail is starting_with("/images") %}
								{% set thumbnail_image = resize_image(path=jam.extra.thumbnail, width=100, height=100, op='scale', format='webp') %}
								<img src="{{ thumbnail_image.url }}" alt="album art for {{ jam.title }}" width="100" height="100" loading="lazy" />
							{% else %}
								<img src="{{ jam.extra.thumbnail }}" alt="album art for {{ jam.title }}" width="100" height="100" loading="lazy" />
							{% endif %}
						</a>
					</div>
					{% endif %}

					<div class="uk-width-expand@s">
						<h3 class="p-name uk-card-title uk-margin-small-bottom">
							<a class="uk-link-heading" href="{{ jam.permalink }}">{{ jam.title }}</a>
						</h3>
						{%- if jam.taxonomies.tags %}
						<div>
							{% for genre in jam.taxonomies.tags %}
								<span class="p-category uk-label" rel="tag">{{ genre }}</span>
							{% endfor %}
						</div>
						{% endif %}
					</div>

				</div>
			</article>

		{% endfor %}
		</div>


		{% if paginator.previous or paginator.next %}
		<ul class="uk-pagination">
			{% if paginator.previous %}
			<li><a href="{{ paginator.previous }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}
			{% if paginator.next %}
			<li class="uk-margin-auto-left"><a href="{{ paginator.next }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}
		</ul>
		{% endif %}

	</div>
</section>
{%- endblock content %}
