{% extends "base.html" %}

{%- block seo %}
	{{- super() }}
	{%- set title = "Jams" %}

	{%- if config.title %}
		{%- set title_addition = title_separator ~ config.title %}
	{%- else %}
		{%- set title_addition = "" %}
	{%- endif %}

	{%- set description = config.description %}

	{{- macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<header class="uk-section uk-text-center">
	<div class="uk-container uk-container-large">
		<h1 class="uk-heading-large uk-text-bold uk-text-uppercase">
			{{ section.title }}
		</h1>
		{% if section.description %}
		<p class="uk-width-large uk-margin-auto">
			{{ section.description }}
		</p>
		{% endif %}
	</div>
</header>


<section class="uk-section">
	<div class="uk-container uk-container-small">

		{% for jam in paginator.pages %}

		<article class="uk-card uk-card-default uk-card-body uk-margin-medium">
			<div class="uk-grid uk-flex-middle" uk-grid>
				<div>
					<img src="{{ jam.extra.thumbnail }}" alt="album art for {{ jam.title }}" width="100" />
				</div>
				<div>
					<h3 class="uk-card-title">{{ jam.title }}</h3>
				</div>
			</div>
			<hr class="uk-margin-medium" />
			{%- if jam.extra.service == "bandcamp" -%}
			<iframe
				loading="lazy"
				class="embed-bandcamp"
				src="https://bandcamp.com/EmbeddedPlayer/track={{ jam.extra.id }}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
				style="border: 0; width: 100%; max-width: 700px; height: 120px;"
				seamless
			></iframe>
			{%- elif jam.extra.service == "soundcloud" -%}
			<iframe
				loading="lazy"
				class="embed-soundcloud"
				src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ jam.extra.id }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
				width="100%"
				height="166"
				scrolling="no"
				frameborder="no"
			></iframe>
			{%- elif jam.extra.service == "youtube" -%}
			<iframe
				loading="lazy"
				class="embed-youtube"
				src="https://www.youtube-nocookie.com/embed/{{ jam.extra.id }}"
				style="height: 50vw; margin: 1rem 0; max-height: 25rem; width: 100%;"
				frameborder="0"
				allowfullscreen
			></iframe>
			{%- endif -%}
		</article>

		<!-- <article class="uk-card uk-card-default uk-grid-collapse uk-margin-medium" uk-grid>
			<div class="uk-width-1-4@s uk-card-media-left uk-cover-container">
				<img src="{{ jam.extra.thumbnail }}" alt="album art for {{ jam.title }}" uk-cover />
				<canvas width="400" height="400"></canvas>
			</div>
			<div class="uk-width-expand">
				<div class="uk-card-body">
					<h3 class="uk-card-title">{{ jam.title }}</h3>
					{%- if jam.extra.service == "bandcamp" -%}
					<iframe
						class="embed-bandcamp"
						src="https://bandcamp.com/EmbeddedPlayer/track={{ jam.extra.id }}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
						style="border: 0; width: 100%; height: 120px;"
						seamless
					></iframe>
					{%- elif jam.extra.service == "soundcloud" -%}
					<iframe
						class="embed-soundcloud"
						src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ jam.extra.id }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
						width="100%"
						height="166"
						scrolling="no"
						frameborder="no"
					></iframe>
					{%- elif jam.extra.service == "youtube" -%}
					<iframe
						class="embed-youtube"
						src="https://www.youtube-nocookie.com/embed/{{ jam.extra.id }}"
						style="height: 50vw; margin: 1rem 0; max-height: 25rem; width: 100%;"
						frameborder="0"
						allowfullscreen
					></iframe>
					{%- endif -%}
				</div>
			</div>
		</article> -->

		{% endfor %}

		{% if paginator.previous or paginator.next %}
		<ul class="uk-pagination">
			{% if paginator.previous %}
			<li><a href="{{ paginator.previous }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}
			{% if paginator.next %}
			<li class="uk-margin-auto-left"><a href="{{ paginator.next }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}
		</ul>
		{% endif %}

	</div>
</section>

{%- endblock content %}
