{% extends "base.html" %}

{%- block content %}
<section class="uk-section" style="padding-block-end: var(--section-large-padding-vertical);">
	<div class="uk-container uk-container-small">

		{% for bookmark in paginator.pages %}

			<article class="uk-card uk-card-default uk-card-hover uk-margin-medium">
				<a href="{{ bookmark.extra.bookmarkOf }}" class="uk-card-body uk-link-reset">
					<div class="uk-grid uk-flex-middle">
						<div class="uk-width-expand">
							<h3 class="uk-card-title uk-margin-xsmall">{{ bookmark.title }}</h3>
							<p class="uk-text-meta uk-margin-xsmall">
								{{ bookmark.extra.bookmarkOf }}
							</p>
						</div>
						<div class="uk-width-auto">
							<span
								class="uk-icon-button"
								uk-icon="link"
								style="
									--icon-button-background: var(--global-background);
									--icon-button-hover-background: var(--global-background);
								"
							>
							</span>
						</div>
					</div>

					{# bookmark.content | safe #}

				</a>
			</article>

			<!-- <p class="uk-text-meta">
				{{ bookmark.date | date(format="%d %b %Y") }}
			</p> -->

		{% endfor %}

		{% if paginator.previous or paginator.next %}
		<ul class="uk-pagination">
			{% if paginator.previous %}
			<li><a href="{{ paginator.previous }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}
			{% if paginator.next %}
			<li class="uk-margin-auto-left"><a href="{{ paginator.next }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}
		</ul>
		{% endif %}

	</div>
</section>
{%- endblock content %}
