{% extends "base.html" %}

{%- block main %}

<article class="h-entry">
	{% include "partials/post-properties.html" %}

	<header class="uk-section uk-section-small">

		<div class="uk-container uk-container-large uk-text-center">

			{% include "partials/post-taxonomies.html" %}

			<h1 class="p-name uk-heading-small uk-text-bold uk-text-uppercase uk-margin-remove">{{ title }}</h1>

			{%- if page.date %}
			<time class="uk-text-meta uk-margin-medium-top" datetime="{{ page.date | date(format='%Y-%m-%dT%H:%M:%S%:z') }}">
				{{ page.date | date(format="%d %B, %Y") }}
			</time>
			{% endif %}

		</div>

	</header>

	<div class="e-content uk-section-secondary">

		<div class="uk-section uk-container uk-flex uk-flex-column uk-flex-middle">

			<a class="u-bookmark-of uk-button uk-button-primary uk-button-large" href="{{ page.extra["bookmark-of"] }}">
				Direct Link
				<span
					class="uk-margin-small-left"
					uk-icon="link"
				>
				</span>
			</a>

		</div>

		{% if page.content %}
		<hr class="uk-margin-remove">

		<div class="uk-section uk-section-large">

			<div class="uk-container uk-container-xsmall uk-margin-large">

				{{ page.content | safe }}

			</div>

		</div>
		{% endif %}

	</div>

</article>

{%- endblock main %}
