{% extends "page.html" %}

{% block subnav %}
<div class="uk-margin-medium" uk-margin>
	<a class="uk-button uk-button-primary uk-button-small" href="{{ get_url(path='@/pages/uses.md') }}">Uses</a>
	{# <a class="uk-button uk-button-primary uk-button-small" href="{{ get_url(path='@/pages/now.md') }}">Now</a> #}
	<a class="uk-button uk-button-primary uk-button-small" href="{{ get_url(path='@/pages/colophon.md') }}">Colophon</a>
</div>
{% endblock subnav %}

{%- block content %}
<section class="uk-section">
	<div class="uk-grid-margin uk-container uk-container-expand-right">
		<div class="grid-expand uk-grid-column-large uk-grid" uk-grid>
			<div class="uk-width-3-5@l">
				<div class="uk-margin uk-container-item-padding-remove-right">
					<div class="uk-panel uk-margin-remove-first-child">
						{%- set feature_image = "/images/chris-ried-ieic5Tq8YMk-unsplash.jpg" %}
						{%- set feature_image_640 = resize_image(path=feature_image, width=640, height=420, format="webp", quality=80) %}
						{%- set feature_image_960 = resize_image(path=feature_image, width=960, height=640, format="webp", quality=80) %}
						{%- set feature_image_1200 = resize_image(path=feature_image, width=1200, height=800, format="webp", quality=80) %}
						{%- set feature_image_1600 = resize_image(path=feature_image, width=1600, height=1060, format="webp", quality=80) %}

						<img class="" loading="lazy" alt="" width="3000" height="2000"
						srcset="{{ feature_image_640.url | safe }} 640w,
								{{ feature_image_960.url | safe }} 960w,
								{{ feature_image_1200.url | safe }} 1200w,
								{{ feature_image_1600.url | safe }} 1600w"
						sizes="(max-width: 640px) 640px,
								(max-width: 960px) 960px,
								(max-width: 1200px) 1200px,
								1600px">

						{# <img class="" alt data-src="{{ config.base_url | safe }}/images/nartan-buyukyildiz-hr_feH2URs0-unsplash.jpg" data-sizes="(min-width: 1200px) 1200px" data-width="1200" data-height="600" uk-img>
						<div class="uk-h4 uk-margin-top uk-margin-remove-bottom">Mike Rockwood</div>
						<div class="uk-text-meta uk-text-emphasis">Digital Overlord / David Bowie Impersonator</div> #}
					</div>
				</div>
			</div>
			<div class="uk-width-2-5@l uk-flex-first@l">
				<div class="uk-panel uk-margin uk-width-xlarge uk-margin-auto-right@s uk-margin-remove-left@s uk-margin-auto uk-text-left">
					<p>Much of my life has been spent at the crossroads of creativity and technology. I grew up tinkering with early table-based website builders and making terrible electronic music. Eventually, these interests led to the Digital Media program at Utah Valley University. The program was brand new then, and the future was unclear, but nothing was more exciting than the opportunity to explore web development, filmmaking, music production, and 3D modeling.</p>
					<p>My professional journey began at a small credit union. Throughout my tenure there, I gained a wealth of experience writing semantic and accessible HTML, constructing and maintaining CSS, and using JavaScript to create interactive components. I also developed a robust understanding of web performance optimization and cross-browser compatibility.</p>
					<p>Right now, I'm a Senior Web Developer at University of Utah Health. This role has included writing code, crafting interfaces, solving intricate challenges, working together with teams, and mentoring others. I was a driving force behind the planning and production of the Gloss Design System, which has been adopted across the organization.</p>
					<p>I strongly believe that coding and design are complimentary skills, and I strive to be proficient in both. To develop and maintain these skills and stay on top of the latest trends and technologies requires dedication, a keen eye for detail, and a thorough understanding of the fundamentals. Above all, I take pride in my work and do my best to deliver quality products.</p>
					<p>Even after all these years in the digital media landscape, I'm still optimistic about the potential it holds to unleash creativity and bring people closer together. I hope that my work can play some role in helping to make that happen, however small it may be.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="uk-section">
	<div class="uk-child-width-1-1 uk-grid-margin" uk-grid>
		<div class="uk-width-1-1@m">
			<div uk-slider="center: 1; autoplay: 1;" class="uk-margin uk-text-center">
				<div class="uk-position-relative">
					<ul class="uk-slider-items uk-grid uk-grid-large">
						<li class="el-item uk-width-1-1 uk-width-3-5@s uk-width-1-2@m">
							<div class="uk-cover-container">
								<picture>

									{%- set slider_image3 = "/images/marcelo-leal-v6aIiHkNTMo-unsplash.jpg" %}
									{%- set slider_image3_600 = resize_image(path=slider_image3, width=600, height=400, format="webp", quality=80) %}
									{%- set slider_image3_1200 = resize_image(path=slider_image3, width=1200, height=800, format="webp", quality=80) %}

									<img class="uk-transition-opaque" loading="lazy" alt="" width="3000" width="2000"
										srcset="{{ slider_image3_600.url | safe }} 600w,
												{{ slider_image3_1200.url | safe }} 1200w"
										sizes="(max-width: 600px) 600px,
												1200px">
								</picture>
							</div>
						</li>
						<li class="el-item uk-width-1-1 uk-width-3-5@s uk-width-1-2@m">
							<div class="uk-cover-container">
								<picture>

									{%- set slider_image1 = "/images/mitchell-johnson-CZRNxAIYLzI-unsplash.jpg" %}
									{%- set slider_image1_600 = resize_image(path=slider_image1, width=600, height=400, format="webp", quality=80) %}
									{%- set slider_image1_1200 = resize_image(path=slider_image1, width=1200, height=800, format="webp", quality=80) %}

									<img class="uk-transition-opaque" loading="lazy" alt="" width="3000" width="2000"
										srcset="{{ slider_image1_600.url | safe }} 600w,
												{{ slider_image1_1200.url | safe }} 1200w"
										sizes="(max-width: 600px) 600px,
												1200px">
								</picture>
							</div>
						</li>
						<li class="el-item uk-width-1-1 uk-width-3-5@s uk-width-1-2@m">
							<div class="uk-cover-container">
								<picture>

									{%- set slider_image2 = "/images/ashton-bingham-pzzHdzlFFXE-unsplash.jpg" %}
									{%- set slider_image2_600 = resize_image(path=slider_image2, width=600, height=400, format="webp", quality=80) %}
									{%- set slider_image2_1200 = resize_image(path=slider_image2, width=1200, height=800, format="webp", quality=80) %}

									<img class="uk-transition-opaque" loading="lazy" alt="" width="3000" width="2000"
										srcset="{{ slider_image2_600.url | safe }} 600w,
												{{ slider_image2_1200.url | safe }} 1200w"
										sizes="(max-width: 600px) 600px,
												1200px">
								</picture>
							</div>
						</li>
						<li class="el-item uk-width-1-1 uk-width-3-5@s uk-width-1-2@m">
							<div class="uk-cover-container">
								<picture>

									{%- set slider_image4 = "/images/ryan-carpenter-PdBa4ALgwVc-unsplash.jpg" %}
									{%- set slider_image4_600 = resize_image(path=slider_image4, width=600, height=400, format="webp", quality=80) %}
									{%- set slider_image4_1200 = resize_image(path=slider_image4, width=1200, height=800, format="webp", quality=80) %}

									<img class="uk-transition-opaque" loading="lazy" alt="" width="3000" width="2000"
										srcset="{{ slider_image4_600.url | safe }} 600w,
												{{ slider_image4_1200.url | safe }} 1200w"
										sizes="(max-width: 600px) 600px,
												1200px">
								</picture>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-section" style="padding-block-end: var(--section-large-padding-vertical);">
	<div class="uk-container uk-container-large">
		<div class="uk-child-width-1-1 uk-margin-large uk-grid uk-grid-stack" uk-grid>
			<div class="uk-width-1-1@m uk-first-column">
				<h2 class="uk-heading-small">
					Other interests
				</h2>
			</div>
		</div>
		<div class="uk-grid-large uk-margin-large uk-grid" uk-grid>
			<div class="uk-width-1-2@s uk-width-1-4@m">
				<div class="uk-panel uk-margin-remove-first-child uk-margin uk-width-large@s uk-margin-auto">
					<div class="uk-icon-button uk-icon" aria-label="Headphone icon">
						<svg stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M3 14h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7a9 9 0 0 1 18 0v7a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3"/>
						</svg>
					</div>
					<h3 class="uk-margin-top uk-margin-remove-bottom">Music</h3>
					<div class="uk-panel uk-margin-small-top">
						<p>I try to spend a little time each day listening to new music. It is a great way to broaden my musical palette, gain inspiration, and appreciate different cultures. In addition, I have been playing guitar for many years. I love the challenge of learning new songs and techniques.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2@s uk-width-1-4@m">
				<div class="uk-panel uk-margin-remove-first-child uk-margin uk-width-large@s uk-margin-auto">
					<div class="uk-icon-button uk-icon" aria-label="Headphone icon">
						<svg stroke="currentColor" fill="none" stroke-width="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<rect width="20" height="12" x="2" y="6" rx="2"/>
							<circle cx="12" cy="12" r="2"/>
							<path d="M6 12h.01M18 12h.01"/>
						</svg>
					</div>
					<h3 class="uk-margin-top uk-margin-remove-bottom">Economics</h3>
					<div class="uk-panel uk-margin-small-top">
						<p>After graduating during a recession and getting my first (real) job at a bank, I almost feel like I was forced to take a crash course in economics against my will. Nonetheless, learning about economics has provided powerful insights into human behavior and current events.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2@s uk-width-1-4@m">
				<div class="uk-panel uk-margin-remove-first-child uk-margin uk-width-large@s uk-margin-auto">
					<div class="uk-icon-button uk-icon" aria-label="Headphone icon">
						<svg stroke="currentColor" fill="none" stroke-width="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="m2 4 3 12h14l3-12-6 7-4-7-4 7-6-7zm3 16h14"/>
						</svg>
					</div>
					<h3 class="uk-margin-top uk-margin-remove-bottom">Chess</h3>
					<div class="uk-panel uk-margin-small-top">
						<p>My middle school offered a chess class as an elective. Who could pass up the chance to get school credit for playing games? Thus began an on-again, off-again fascination with chess. Even after years of play I continue to find new ways to appreciate this beautiful and complex game.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2@s uk-width-1-4@m">
				<div class="uk-panel uk-margin-remove-first-child uk-margin uk-width-large@s uk-margin-auto">
					<div class="uk-icon-button uk-icon" aria-label="Headphone icon">
						<svg stroke="currentColor" fill="none" stroke-width="2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"/>
							<path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"/>
							<path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"/>
							<path d="M10 6h4"/>
							<path d="M10 10h4"/>
							<path d="M10 14h4"/>
							<path d="M10 18h4"/>
						</svg>
					</div>
					<h3 class="uk-margin-top uk-margin-remove-bottom">Urbanism</h3>
					<div class="uk-panel uk-margin-small-top">
						<p>Frustrations with the built environment have lead to an interest in urbanism. Urbanism helps us understand the complex dynamics between people and their surroundings, and how cities are planned, function, and impact the environment, society, and culture. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="uk-section uk-section-secondary uk-section-large">
	<div class="uk-container uk-container-large">
		<div class="uk-grid-column-large" uk-grid>
			<div class="uk-width-1-2@m">
				<h2 class="uk-heading-small uk-margin-medium-bottom">Infrequently asked <br class="uk-visible@m">questions</h2>
			</div>
			<div class="uk-width-1-2@m">
				<ul
					class="uk-accordion-divider"
					uk-accordion="multiple: true"
					style="
						--accordion-title-font-size: var(--global-large-font-size);
					"
				>
					<li>
						<a class="uk-accordion-title" href="#">What kind of a name is Rockwood?</a>
						<div class="uk-accordion-content">
							<p>It was made up by an ancestor to escape persecution after a distant relative <a href="https://en.wikipedia.org/wiki/Gunpowder_Plot">tried to kill the king of England</a>.</p>
						</div>
					</li>
					<li>
						<a class="uk-accordion-title" href="#">Do you have any unusual talents?</a>
						<div class="uk-accordion-content">
							<p>Throughout high school and college I played video games competitively and reached top levels in several games you've probably never heard of.</p>
						</div>
					</li>
					<li>
						<a class="uk-accordion-title" href="#">What is your strange obsession?</a>
						<div class="uk-accordion-content">
							<p>I absolutely cannot stand computer fan noise and have gone to borderline absurd lengths to eliminate it from my life. (<a href="https://www.youtube.com/watch?v=lKie-vgUGdI">There are dozens of us!</a>)</p>
						</div>
					</li>
					<li>
						<a class="uk-accordion-title" href="#">What is the smallest hill you're willing to die on?</a>
						<div class="uk-accordion-content">
							<p>Any movie that ends with "to be continued" is a failure.</p>
						</div>
					</li>
					<li>
						<a class="uk-accordion-title" href="#">Tabs or spaces?</a>
						<div class="uk-accordion-content">
							<p>Tabs, but I'm not dogmatic about it.</p>
						</div>
					</li>
					{# <li>
						<a class="uk-accordion-title" href="#">Is <abbr title="Artificial General Intelligence">AGI</abbr> going to kill us all?</a>
						<div class="uk-accordion-content">
							<p>No LOL</p>
						</div>
					</li> #}
				</ul>
			</div>
		</div>
	</div>
</div>


{# <section class="uk-section ">
	<div class="uk-margin-auto uk-width-xlarge@s uk-text-center">
		<div class="uk-child-width-1-1 uk-child-width-1-3@s uk-grid-large uk-grid-divider uk-grid-match" uk-grid>
			<div>
				<div class="uk-panel uk-margin-remove-first-child" uk-scrollspy="target: [uk-scrollspy-class];">
					<h3 class="uk-h6 uk-margin-top uk-margin-remove-bottom">Hardness</h3>
					<img class="uk-text-emphasis uk-margin-top" alt uk-svg src="{{ config.base_url | safe }}/images/materials-icon-01.svg">
				</div>
			</div>
			<div>
				<div class="uk-panel uk-margin-remove-first-child" uk-scrollspy="target: [uk-scrollspy-class];">
					<h3 class="uk-h6 uk-margin-top uk-margin-remove-bottom">Origin</h3>
					<img class="uk-text-emphasis uk-margin-top" alt uk-svg src="{{ config.base_url | safe }}/images/materials-icon-02.svg">
				</div>
			</div>
			<div>
				<div class="uk-panel uk-margin-remove-first-child" uk-scrollspy="target: [uk-scrollspy-class];">
					<h3 class="uk-h6 uk-margin-top uk-margin-remove-bottom">Certificate</h3>
					<img class="uk-text-emphasis uk-margin-top" alt uk-svg src="{{ config.base_url | safe }}/images/materials-icon-03.svg">
				</div>
			</div>
		</div>
	</div>
</section> #}

{%- endblock content %}
