{% extends "page.html" %}

{%- block content %}

<div class="uk-section">
	<div class="uk-container uk-container-xsmall">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis pellentesque id nibh tortor. Sed ullamcorper morbi tincidunt ornare massa eget egestas. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
		</p>
		<p>
			Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Vitae purus faucibus ornare suspendisse. Ut tellus elementum sagittis vitae et leo. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Ac turpis egestas maecenas pharetra convallis posuere morbi.
		</p>
	</div>
</div>


<div class="uk-section uk-section-large uk-section-secondary">
	<div class="uk-container uk-container-large">
		<div>
			<h2 class="uk-heading-small uk-margin-remove-vertical">
				What&rsquo;s going on<br />
				behind the scenes
			</h2>
		</div>
		<div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-margin-remove-bottom uk-margin-large" uk-grid>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Generator</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://www.getzola.org/" class="uk-link-heading">Zola</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">CMS</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://decapcms.org/" class="uk-link-heading">Decap CMS</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Host</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://pages.github.com/" class="uk-link-heading">Github Pages</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">CSS Framework</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://getuikit.com/" class="uk-link-heading" uk-tooltip="title: Heavily modified; pos: bottom">UIkit</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Font</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://fonts.google.com/specimen/Rubik" class="uk-link-heading">Rubik</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Photography</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://unsplash.com/" class="uk-link-heading">Unsplash</a></div>
				<hr />
			</div>
		</div>
	</div>
</div>


<div class="uk-section uk-section-large">
	<div class="uk-container uk-container-large" uk-slider="finite: 1;" >
		<div class="uk-flex uk-flex-middle">
			<h2 class="uk-heading-small uk-margin-remove-vertical">
				Previous versions
			</h2>
			<div class="uk-slidenav-container uk-margin-auto-left">
				<a class="uk-slidenav-large" href="#" uk-slidenav-previous uk-slider-item="previous" aria-label="Previous slide"></a>
				<a class="uk-slidenav-large" href="#" uk-slidenav-next uk-slider-item="next" aria-label="Next slide"></a>
			</div>
		</div>		
		<div class="uk-margin-medium uk-container-item-padding-remove-right">
			<div class="uk-position-relative">				
				<ul class="uk-slider-items uk-grid uk-grid-large">
					<li class="uk-width-1-1 uk-width-3-4@m uk-width-1-2@xl">
						<div class="">
							<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2017 - 2023</div>
							<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 4</h3>
							<div class="uk-cover-container">
								<picture>
									<!-- <source
										type="image/webp"
										srcset="
											https://demo.yootheme.com/wordpress/themes/district/wp-admin/admin-ajax.php?action=kernel&amp;p=image&amp;src=file%3D..%252Fdemo%252Fdistrict%252Fimages%252Fgallery-slider-01.jpg%26type%3Dwebp%2C85%26thumbnail%3D768%2C528&amp;hash=c532b06c  768w,
											/wordpress/wp-content/themes/yootheme/cache/bc/gallery-slider-01-bcb6ca1a.webp                                                                                                                                                                  1024w,
											/wordpress/wp-content/themes/yootheme/cache/d5/gallery-slider-01-d577ffcf.webp                                                                                                                                                                  1366w,
											/wordpress/wp-content/themes/yootheme/cache/8b/gallery-slider-01-8b80cafb.webp                                                                                                                                                                  1600w
										"
										sizes="(min-width: 1600px) 1600px"
									/> -->
									<img decoding="async" src="http://via.placeholder.com/1600x1100" width="1600" height="1100" alt loading="eager" class="uk-transition-opaque" />
								</picture>
							</div>
						</div>
					</li>
					<li class="uk-width-1-1 uk-width-3-4@m uk-width-1-2@xl">
						<div class="">
							<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2013 - 2017</div>
							<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 3</h3>
							<div class="uk-cover-container">
								<picture>
									<!-- <source
										type="image/webp"
										srcset="
											https://demo.yootheme.com/wordpress/themes/district/wp-admin/admin-ajax.php?action=kernel&amp;p=image&amp;src=file%3D..%252Fdemo%252Fdistrict%252Fimages%252Fgallery-slider-02.jpg%26type%3Dwebp%2C85%26thumbnail%3D768%2C528&amp;hash=0ae0577e  768w,
											/wordpress/wp-content/themes/yootheme/cache/07/gallery-slider-02-073dd7b5.webp                                                                                                                                                                  1024w,
											/wordpress/wp-content/themes/yootheme/cache/6e/gallery-slider-02-6efce260.webp                                                                                                                                                                  1366w,
											/wordpress/wp-content/themes/yootheme/cache/a1/gallery-slider-02-a13c7a73.webp                                                                                                                                                                  1600w
										"
										sizes="(min-width: 1600px) 1600px"
									/> -->
									<img decoding="async" src="http://via.placeholder.com/1600x1100" width="1600" height="1100" alt loading="eager" class="uk-transition-opaque" />
								</picture>
							</div>
						</div>
					</li>
					<li class="uk-width-1-1 uk-width-3-4@m uk-width-1-2@xl">
						<div class="">
							<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2011 - 2013</div>
							<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 2</h3>
							<div class="uk-cover-container">
								<picture>
									<!-- <source
										type="image/webp"
										srcset="
											https://demo.yootheme.com/wordpress/themes/district/wp-admin/admin-ajax.php?action=kernel&amp;p=image&amp;src=file%3D..%252Fdemo%252Fdistrict%252Fimages%252Fgallery-slider-03.jpg%26type%3Dwebp%2C85%26thumbnail%3D768%2C528&amp;hash=4ff85c13  768w,
											/wordpress/wp-content/themes/yootheme/cache/6e/gallery-slider-03-6e44dcd0.webp                                                                                                                                                                  1024w,
											/wordpress/wp-content/themes/yootheme/cache/07/gallery-slider-03-0785e905.webp                                                                                                                                                                  1366w,
											/wordpress/wp-content/themes/yootheme/cache/0e/gallery-slider-03-0e78e834.webp                                                                                                                                                                  1600w
										"
										sizes="(min-width: 1600px) 1600px"
									/> -->
									<img decoding="async" src="http://via.placeholder.com/1600x1100" width="1600" height="1100" alt loading="eager" class="uk-transition-opaque" />
								</picture>
							</div>
						</div>
					</li>
					<li class="uk-width-1-1 uk-width-3-4@m uk-width-1-2@xl">
						<div class="">
							<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2008 - 2011</div>
							<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 1</h3>
							<div class="uk-cover-container">
								<picture>
									<!-- <source
										type="image/webp"
										srcset="
											https://demo.yootheme.com/wordpress/themes/district/wp-admin/admin-ajax.php?action=kernel&amp;p=image&amp;src=file%3D..%252Fdemo%252Fdistrict%252Fimages%252Fgallery-slider-04.jpg%26type%3Dwebp%2C85%26thumbnail%3D768%2C528&amp;hash=bb08612c  768w,
											/wordpress/wp-content/themes/yootheme/cache/ab/gallery-slider-04-ab5aeaaa.webp                                                                                                                                                                  1024w,
											/wordpress/wp-content/themes/yootheme/cache/c2/gallery-slider-04-c29bdf7f.webp                                                                                                                                                                  1366w,
											/wordpress/wp-content/themes/yootheme/cache/f4/gallery-slider-04-f4451b63.webp                                                                                                                                                                  1600w
										"
										sizes="(min-width: 1600px) 1600px"
									/> -->
									<img decoding="async" src="http://via.placeholder.com/1600x1100" width="1600" height="1100" alt loading="eager" class="uk-transition-opaque" />
								</picture>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="uk-child-width-1-2@m uk-margin-medium" uk-grid>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2017 - 2023</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 4</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2013 - 2017</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 3</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2011 - 2013</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 2</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2008 - 2011</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 1</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
		</div> -->
	</div>
</div>

{%- endblock content %}
