{% extends "page.html" %}

{%- block content %}

<div class="uk-section">
	<div class="uk-container uk-container-xsmall">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis pellentesque id nibh tortor. Sed ullamcorper morbi tincidunt ornare massa eget egestas. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
		</p>
		<p>
			Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Vitae purus faucibus ornare suspendisse. Ut tellus elementum sagittis vitae et leo. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Ac turpis egestas maecenas pharetra convallis posuere morbi.
		</p>
	</div>
</div>


<div class="uk-section uk-section-large uk-section-secondary">
	<div class="uk-container uk-container-large">
		<div>
			<h2 class="uk-heading-small uk-margin-remove-vertical">
				What&rsquo;s going on<br />
				behind the scenes
			</h2>
		</div>
		<div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-margin-remove-bottom uk-margin-large" uk-grid>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Generator</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://www.getzola.org/" class="uk-link-heading">Zola</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">CMS</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://decapcms.org/" class="uk-link-heading">Decap CMS</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Host</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://pages.github.com/" class="uk-link-heading">Github Pages</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">CSS Framework</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://getuikit.com/" class="uk-link-heading" uk-tooltip="title: Heavily modified; pos: bottom">UIkit</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Font</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://fonts.google.com/specimen/Rubik" class="uk-link-heading">Rubik</a></div>
				<hr />
			</div>
			<div class="uk-panel uk-margin-remove-first-child">
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">Photography</div>
				<div class="uk-h2 uk-margin-remove-bottom uk-margin-remove-top"><a href="https://unsplash.com/" class="uk-link-heading">Unsplash</a></div>
				<hr />
			</div>
		</div>
	</div>
</div>


<div class="uk-section uk-section-large">
	<div class="uk-container uk-container-large">
		<h2 class="uk-heading-small uk-margin-remove-vertical">
			Previous versions
		</h2>
		<div class="uk-child-width-1-2@m uk-margin-medium" uk-grid>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2017 - 2023</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 4</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2013 - 2017</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 3</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2011 - 2013</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 2</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
			<div>
				<div class="uk-h6 uk-text-muted uk-text-uppercase uk-margin-top uk-margin-small-bottom">2008 - 2011</div>
				<h3 class="uk-h2 uk-margin-bottom uk-margin-remove-top">Version 1</h3>
				<img src="http://via.placeholder.com/640x360" alt="" />
			</div>
		</div>
	</div>
</div>

{%- endblock content %}
