{% extends "page.html" %}

{%- block content %}

<div class="uk-section uk-section-muted uk-padding-remove uk-flex">
	<div class="uk-inline uk-margin-auto">
		{%- set desk_image = resize_image(path="/images/ryan-carpenter-PdBa4ALgwVc-unsplash.jpg", width=2000, height=1500, format='webp', quality=90) %}
		<img src="{{ desk_image.url }}" width="2000" height="auto" alt="">
		<!-- <a class="uk-position-absolute uk-transform-center" style="left: 20%; top: 30%" href="#" uk-marker></a>
		<a class="uk-position-absolute uk-transform-center" style="left: 74%; top: 47%" href="#" uk-marker></a>
		<a class="uk-position-absolute uk-transform-center" style="left: 80%; top: 70%" href="#" uk-marker></a> -->
		<div class="uk-position-medium uk-position-bottom uk-light">
			<div class="uk-container uk-container-large" style="padding-inline: 0;">
				<p class="uk-text-meta uk-margin-remove">This isn't my actual desk, but my setup is very similar, albeit messier.</p>
			</div>
		</div>
	</div>
	{# <div class="uk-container uk-container-large uk-margin">
		<p class="uk-text-meta">This isn't my actual desk, but my setup is very similar, albeit messier.</p>
	</div> #}
</div>

<div class="uk-section uk-section-large uk-section-secondary uk-overflow-auto">
	<div class="uk-container uk-container-large">
		<h2 class="uk-heading-small uk-margin-remove-vertical">Hardware</h2>
		<table class="uk-table uk-table-large uk-table-divider uk-table-justify uk-table-middle uk-margin-remove-bottom uk-margin-large">
			<!-- <caption hidden>Hardware</caption> -->
			<tr>
				<td style="inline-size: 10%; min-inline-size: 140px"></td>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Desktop</th>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Laptop, work</th>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Laptop, personal</th>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Model</th>
				<td>HP Pavilion 510-p136</td>
				<td>Macbook Pro 16" (2019)</td>
				<td>Dell Latitude 7370</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle"><abbr title="Central Processing Unit">CPU</abbr></th>
				<td>Intel i7-6700T</td>
				<td>Intel i7-9750H</td>
				<td>Intel m7-6Y75</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle"><abbr title="Graphics Processing Unit">GPU</abbr></th>
				<td>Sapphire Nitro+ Radeon RX 580</td>
				<td>
					AMD Radeon Pro 5300M<br>
					Intel UHD Graphics 630
				</td>
				<td>Intel HD Graphics 515</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Storage</th>
				<td>
					1 TB<br>
					256 GB
				</td>
				<td>500 GB</td>
				<td>500 GB</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Memory</th>
				<td>16 GB</td>
				<td>16 GB</td>
				<td>8 GB</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle"><abbr title="Operating System">OS</abbr></th>
				<td>
					macOS Big Sur<br>
					Nobara Linux
				</td>
				<td>macOS Big Sur</td>
				<td>macOS Monterey</td>
			</tr>
		</table>
	</div>
</div>

<div class="uk-section uk-section-large">
	<div class="uk-container uk-container-xsmall">
		<h2 class="uk-heading-small uk-margin-remove-vertical">Software</h2>
		<ul class="uk-list uk-list-large uk-list-divider uk-margin-remove-bottom uk-margin-medium">
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://www.mozilla.org/en-US/firefox/">
							<img src="{{ config.base_url }}/images/apps/Firefox_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://www.mozilla.org/en-US/firefox/">Firefox</a></strong> &ndash; Like most developers, I have many browsers installed at any given time. However, Firefox is the one I gravitate toward the most. It's open source, free, and relatively private. All values I care about.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://vscodium.com/">
							<img src="{{ config.base_url }}/images/apps/VSCodium_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://vscodium.com/">VSCodium</a></strong> &ndash; A community-run fork of VSCode without Microsoft's telemetry and tracking. Importantly, it's compatible with standard VSCode plugins.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://desktop.github.com/">
							<img src="{{ config.base_url }}/images/apps/GithubDesktop_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://desktop.github.com/">Github Desktop</a></strong> &ndash; Other developers may look down on me for this, but I find Git much easier to use with a <abbr title="Graphical user interface">GUI</abbr>. That said, I would love to find an alternative that is not electron based.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://www.dropbox.com/">
							<img src="{{ config.base_url }}/images/apps/Dropbox_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://www.dropbox.com/">Dropbox</a></strong> &ndash; Pretty much anything that isn't code, I keep in Dropbox. It's also where I keep other important things, like recipes and embarrassing photos from childhood.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://affinity.serif.com/en-us/photo/">
							<img src="{{ config.base_url }}/images/apps/AffinityPhoto_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://affinity.serif.com/en-us/photo/">Affinity Photo</a></strong> &ndash; Affinity makes great alternatives to Adobe products. I bought Photo years ago for a one-time fee and have used it for years with zero regrets.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://www.spotify.com/us/download/">
							<img src="{{ config.base_url }}/images/apps/Spotify_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://www.spotify.com/us/download/">Spotify</a></strong> &ndash; Probably the app I use most outside of a browser. I have been using Spotify since the day it became available in the U.S. Although I find the podcast experience frustrating.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://netnewswire.com/">
							<img src="{{ config.base_url }}/images/apps/NetNewsWire_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://netnewswire.com/">NetNewsWire</a></strong> &ndash; Simply the best RSS reader I have ever used. It also happens to be open source and free. I currently keep my subscriptions synced with Feedly.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://simplenote.com/">
							<img src="{{ config.base_url }}/images/apps/Simplenote_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://simplenote.com/">Simplenote</a></strong> &ndash; 
							Every now and then I try to find an <abbr title="End-to-end encryption">E2EE</abbr> note-taking app, but they all have too many compromises. Thus, I'm sticking with Simplenote, even if it gets hacked and someone steals my killer band name ideas.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<a rel=”noreferrer” href="https://bitwarden.com/">
							<img src="{{ config.base_url }}/images/apps/Bitwarden_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
						</a>
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a rel=”noreferrer” href="https://bitwarden.com/">Bitwarden</a></strong> &ndash; My password manager of choice. Although there is a desktop app, I mostly use the browser plugin.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="uk-section uk-padding-remove">
	<h2 hidden>Other commonly used items</h2>
	<div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-collapse" uk-grid>
		{%- set work_bag = resize_image(path='/images/uses/marten-bjork-6dW3xyQvcYE-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ work_bag.url }}" loading="lazy" alt="Work bag">
		{%- set strat = resize_image(path='/images/uses/maksym-pozniak-haraburda-nNhMKr0ejIw-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ strat.url }}" loading="lazy" alt="Fender Stratocaster">
		{%- set helix = resize_image(path='/images/uses/91244_helix-lt-p.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ helix.url }}" loading="lazy" alt="Line 6 Helix">
		{%- set lgg8 = resize_image(path='/images/uses/hs-yoo-47452643221_54d1a38630_flickr-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ lgg8.url }}" loading="lazy" alt="LG G8 ThinQ">
		{%- set stadia = resize_image(path='/images/uses/mike-van-den-bos-NJUuTqckplc-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ stadia.url }}" loading="lazy" alt="Stadia controller">
		{%- set midi = resize_image(path='/images/uses/gvz-42-MSqMNN90sDs-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ midi.url }}" loading="lazy" alt="Nektar Impact LX61+">
		{%- set wallet = resize_image(path='/images/uses/stephen-phillips-hostreviews-co-uk-em37kS8WJJQ-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ wallet.url }}" loading="lazy" alt="Thin wallet">
		{%- set mazda6 = resize_image(path='/images/uses/mojtaba-mosayebzadeh-0wRenFA50XE-unsplash-cropped.jpg', width=600, height=600, format='webp', quality=75) %}
		<img src="{{ mazda6.url }}" loading="lazy" alt="Mazda6">
	</div>
</div>

<div class="uk-section" style="padding-block-start: var(--global-medium-gutter);">
	<div class="uk-container uk-text-center">
		<p class="uk-text-small">Last updated: {{ page.date | date(format="%B %Y") }}</p>
	</div>
</div>

{%- endblock content %}
