{% extends "page.html" %}

{%- block content %}

<div class="uk-section uk-padding-remove">
	<div class="uk-inline">
		{%- set desk_image = resize_image(path="/images/ryan-carpenter-PdBa4ALgwVc-unsplash.jpg", width=2000, height=1500, format='webp', quality=90) %}
		<img src="{{ desk_image.url }}" width="2000" height="auto" alt="">
		<!-- <a class="uk-position-absolute uk-transform-center" style="left: 20%; top: 30%" href="#" uk-marker></a>
		<a class="uk-position-absolute uk-transform-center" style="left: 74%; top: 47%" href="#" uk-marker></a>
		<a class="uk-position-absolute uk-transform-center" style="left: 80%; top: 70%" href="#" uk-marker></a> -->
		<div class="uk-position-medium uk-position-bottom uk-light">
			<p class="uk-text-meta uk-margin-remove">This isn't my actual desk, but my setup is very similar.</p>
		</div>
	</div>
	{# <div class="uk-container uk-container-large uk-margin">
		<p class="uk-text-meta">This isn't my actual desk, but my setup is very similar.</p>
	</div> #}
</div>

<div class="uk-section uk-section-large uk-section-secondary uk-overflow-auto">
	<div class="uk-container uk-container-large">
		<h2 class="uk-heading-small uk-margin-remove-vertical">Computers</h2>
		<table class="uk-table uk-table-large uk-table-divider uk-table-justify uk-table-middle uk-margin-remove-bottom uk-margin-large">
			<!-- <caption hidden>Hardware</caption> -->
			<tr>
				<td style="inline-size: 10%; min-inline-size: 140px"></td>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Desktop</th>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Laptop, work</th>
				<th class="uk-table-expand" scope="col" style="inline-size: 30%; min-inline-size: 240px">Laptop, personal</th>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Model</th>
				<td>HP Pavilion 510-p136</td>
				<td>Macbook Pro 16" (2019)</td>
				<td>Dell Latitude 7370</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">CPU</th>
				<td>Intel i7-6700T</td>
				<td>Intel i7-9750H</td>
				<td>Intel m7-6Y75</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">GPU</th>
				<td>Sapphire Nitro+ Radeon RX 580</td>
				<td>
					AMD Radeon Pro 5300M<br>
					Intel UHD Graphics 630
				</td>
				<td>Intel HD Graphics 515</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Storage</th>
				<td>
					1 TB<br>
					256 GB
				</td>
				<td>500 GB</td>
				<td>500 GB</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle">Memory</th>
				<td>16 GB</td>
				<td>16 GB</td>
				<td>8 GB</td>
			</tr>
			<tr>
				<th scope="row" style="vertical-align: middle"><abbr title="Operating System">OS</abbr></th>
				<td>
					macOS Big Sur<br>
					Nobara Linux
				</td>
				<td>macOS Big Sur</td>
				<td>macOS Monterey</td>
			</tr>
		</table>
	</div>
</div>

<div class="uk-section uk-section-large">
	<div class="uk-container uk-container-xsmall">
		<h2 class="">Software</h2>
		<ul class="uk-list uk-list-large uk-list-divider">
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/Firefox_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Firefox</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/VSCodium_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>VSCodium</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/GithubDesktop_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Github Desktop</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/Dropbox_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Dropbox</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/AffinityPhoto_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Affinity Photo</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/Spotify_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Spotify</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/NetNewsWire_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>NetNewsWire</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/Simplenote_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Simplenote</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-small@s">
						<img src="{{ config.base_url }}/images/apps/Bitwarden_256x256x32.png" width="128" height="128" style="margin-inline: -12px">
					</div>
					<div class="uk-width-expand@s">
						<p>
							<strong><a href>Bitwarden</a></strong> &ndash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="uk-section uk-section-small">
	<div class="uk-container uk-container-xsmall">
		<hr>
		<p class="uk-text-small">Last updated: {{ page.date | date(format="%B %Y") }}</p>
	</div>
</div>

{%- endblock content %}
