{% extends "base.html" %}

{%- block content %}
<section class="uk-section">
	<div class="uk-container uk-container-small">

		{% for note in paginator.pages %}

		<article class="uk-card uk-card-body uk-card-default uk-margin-medium">

			<p>
				<a class="uk-link-muted uk-text-small" href="{{ note.permalink }}">
					<time class="dt-published" datetime="{{ note.date | date(format='%Y-%m-%d %H:%M:%S') }}">
						{{ note.date | date(format="%d %b %Y at %H:%M") }}
					</time>
				</a>
			</p>

			{{ note.content | safe }}

		</article>

		{% endfor %}

		{% if paginator.previous or paginator.next %}
		<ul class="uk-pagination">
			{% if paginator.previous %}
			<li><a href="{{ paginator.previous }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}
			{% if paginator.next %}
			<li class="uk-margin-auto-left"><a href="{{ paginator.next }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}
		</ul>
		{% endif %}

	</div>
</section>
{%- endblock content %}
