{% extends "base.html" %}

{%- block main %}

<article class="h-entry">
	{% include "partials/post-properties.html" %}

	<header class="uk-section uk-section-small">

		<div class="uk-container uk-container-large uk-text-center">

			{% include "partials/post-taxonomies.html" %}

			<h1 class="p-name uk-heading-small uk-text-bold uk-text-uppercase uk-margin-remove">
				Note from <time datetime="{{ page.date | date(format='%Y-%m-%dT%H:%M:%S%:z') }}">{{ page.date | date(format="%d %B, %Y at %H:%M") }}</time>
			</h1>

		</div>

	</header>

	<div class="e-content uk-section-secondary">

		{% if page.content %}
		<div class="uk-section uk-section-large">

			<div class="uk-container uk-container-xsmall uk-margin-large">

				{{ page.content | safe }}

			</div>

		</div>
		{% endif %}

	</div>

</article>

{%- endblock main %}
