{% extends "base.html" %}


{%- block main %}

{# Article #}
<article class="h-entry uk-section uk-section">

	<header class="uk-container uk-container-large uk-margin-large uk-text-center">

		<div class="uk-position-relative uk-margin-small">
			<a href class="uk-label" rel="tag">Articles</a>
		</div>

		<h1 class="p-name uk-heading-small uk-text-bold uk-text-uppercase uk-margin-remove-top">{{ title }}</h1>

		{% if page.category %}
			test
		{% endif %}

	</header>

	<div class="uk-container uk-container-large">

		<div class="uk-grid-large" uk-grid>

			<div class="uk-width-1-4@m uk-text-right@m">

				{%- if page.date %}
				<time class="dt-published uk-text-meta" datetime="{{ page.date | date(format='%Y-%m-%d %H:%M:%S') }}">
					{{ page.date | date(format="%d %B, %Y") }}
				</time>
				{% endif %}

			</div>

			<div class="e-content uk-width-1-2@m">

				{{ page.content | safe }}

			</div>

			{% if page.toc %}
			<div class="uk-width-1-4@m uk-visible@m">

				<div uk-sticky="offset: 40; end: article">

					<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true; offset: 100; overflow: false">

						<li class="uk-nav-header">Table of Contents</li>
						<li class="uk-nav-divider"></li>

						{%- for heading in page.toc -%}
							{% if heading.level == 1 and heading.children %}
								{% for heading2 in heading.children %}
									<li>
										<a href="{{ heading2.permalink | safe }}">{{ heading2.title }}</a>
									</li>
								{% endfor %}
							{% elif heading.level == 2 %}
								<li>
									<a href="{{ heading.permalink | safe }}">{{ heading.title }}</a>
								</li>
							{% endif %}
						{% endfor %}

					</ul>

				</div>

			</div>
			{% endif %}

		</div>

	</div>

</article>


{# Pagination #}
{%- if page.lower or page.higher %}
<nav class="uk-section uk-section-small">

	<div class="uk-container uk-container-large">

		<hr>

		<ul class="uk-pagination">

			{% if page.lower %}
			<li><a href="{{ page.lower.permalink }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}

			{% if page.higher %}
			<li class="uk-margin-auto-left"><a href="{{ page.higher.permalink }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}

		</ul>

	</div>

</nav>
{% endif %}

{%- endblock main %}

