{% extends "base.html" %}


{%- block main %}

{# Article #}
<article class="h-entry uk-section uk-padding-remove-bottom">

	<header class="uk-container uk-container-large uk-margin-large uk-text-center">

		<div class="uk-position-relative uk-margin-small">

			{%- if page.taxonomies.categories %}
				{% for category in page.taxonomies.categories %}
					<a href="{{ get_url(path='@/posts/'~category~'/_index.md') | safe }}" class="uk-label" rel="tag">{{ category }}</a>
				{% endfor %}
			{% endif %}

		</div>

		<h1 class="p-name uk-heading-small uk-text-bold uk-text-uppercase uk-margin-remove">{{ title }}</h1>

		{%- if page.date %}
		<time class="dt-published uk-text-meta uk-margin-medium-top" datetime="{{ page.date | date(format='%Y-%m-%d %H:%M:%S') }}">
			{{ page.date | date(format="%d %B, %Y") }}
		</time>
		{% endif %}

	</header>

	{%- if page.extra.hero %}
	<div
		class="uk-section uk-padding-remove"
		style="background: linear-gradient( to bottom, hsl(var(--surface-default)) 0 50%, hsl(var(--invert-surface-default)) 50% 100% );"
	>
		<div class="uk-container uk-container-large">
			<img class="" src="{{ config.base_url | safe }}/images/photo.jpg" alt="" width="1800" height="1200">
		</div>
	</div>
	{% endif %}

	<div class="uk-section uk-section-secondary uk-section-large">

		<div class="uk-container uk-container-large">

			<div class="js-sticky-container uk-grid-large" uk-grid>


				<div class="uk-width-1-1 uk-width-1-4@m">
					{% if page.toc | length > 0 %}

					<div uk-sticky="offset: 40; end: .js-sticky-container">

						<ul
							class="uk-nav uk-nav-default uk-visible@m"
							uk-scrollspy-nav="closest: li; scroll: true; offset: 100; overflow: false"
							style="
								--nav-default-font-size: var(--global-small-font-size);
							"
						>

							<li class="uk-nav-header">On This Page</li>
							<li class="uk-nav-divider"></li>

							{%- for heading in page.toc -%}
								{% if heading.level == 1 and heading.children %}
									{% for heading2 in heading.children %}
										<li>
											<a href="{{ heading2.permalink | safe }}">{{ heading2.title }}</a>
										</li>
									{% endfor %}
								{% elif heading.level == 2 %}
									<li>
										<a href="{{ heading.permalink | safe }}">{{ heading.title }}</a>
									</li>
								{% endif %}
							{% endfor %}

						</ul>

					</div>

					{# <div class="uk-width-1-1 uk-hidden@m">

						<button
							class="js-toggle-otp uk-button uk-button-default uk-width-1-1"
							uk-toggle="target: .js-otp; animation: uk-animation-slide-top"
							type="button"
						>
							On This Page
							<span class="js-otp-icon uk-margin-small-left uk-icon" uk-icon="icon: plus-circle"></span>
						</button>
						<p class="js-otp" hidden="">test</p>
					</div>#}

					{% endif %}
				</div>

				<div class="e-content uk-width-1-2@m uk-flex-last">

					{{ page.content | safe }}

				</div>

			</div>

		</div>

	</div>

</article>


{# Pagination #}
{#
{%- if page.lower or page.higher %}
<nav class="uk-section uk-section-small">

	<div class="uk-container uk-container-large">

		<hr>

		<ul class="uk-pagination">

			{% if page.lower %}
			<li><a href="{{ page.lower.permalink }}"><span class="uk-margin-xsmall-right" uk-pagination-previous></span> Previous</a></li>
			{% endif %}

			{% if page.higher %}
			<li class="uk-margin-auto-left"><a href="{{ page.higher.permalink }}">Next <span class="uk-margin-xsmall-left" uk-pagination-next></a></li>
			{% endif %}

		</ul>

	</div>

</nav>
{% endif %}
#}

{%- endblock main %}
