---
layout: base.njk
---
{% block featuredWork %}
  {% include '../_components/_featuredWork.njk' %}
{% endblock featuredWork %}

{% block services %}
  {% include '../_components/_services.njk' %}
{% endblock services %}