---
layout: base.njk
pagination:
  data: collections.work
  size: 10
  reverse: true
  filter:
    - work
    - posts

---
{%- block singleTop-%}
  {%- include '../_components/_singletop.njk' -%}
{%- endblock singleTop-%}

<section id="work" class="mb-20">
  {% block worklist %}
    {% include '../_components/_worklist.njk' %}
  {% endblock worklist %}
</section>