{% macro footer() %}
<footer>
	<a href="mailto:{{ config.extra.author.email }}" class="uk-section uk-section-small uk-button uk-button-primary uk-margin-large-top">
		<div class="uk-container uk-text-center uk-text-large">
			<span>Want to chat?</span>
			<span class="uk-text-muted" style="--text-muted-color: hsl( var(--invert-text-muted) );">Drop me a line.</span>
		</div>
	</a>
	<div class="uk-section uk-section-small uk-section-muted">
		<div class="uk-container uk-container-large">

			<div class="uk-text-center uk-padding-small">
				<ul class="uk-child-width-auto uk-grid-small uk-flex-inline" uk-grid>
					<li>
						<a href="https://www.linkedin.com/in/{{ config.extra.social.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noreferrer">
							<span
								class="uk-icon-button"
								uk-icon="
									icon: linkedin;
									ratio: 1.2;"
								style="
									--icon-button-size: 44px;
									--icon-button-background: hsl( var(--global-background));
									--icon-button-hover-background: hsl( var(--global-background));"
							></span>
						</a>
					</li>
					<li>
						<a href="https://www.github.com/{{ config.extra.social.github }}" aria-label="Github" target="_blank" rel="noreferrer">
							<span
								class="uk-icon-button"
								uk-icon="
									icon: github;
									ratio: 1.2;"
								style="
									--icon-button-size: 44px;
									--icon-button-background: hsl( var(--global-background));
									--icon-button-hover-background: hsl( var(--global-background));"
							></span>
						</a>
					</li>
				</ul>
			</div>

			<hr class="uk-margin-medium" />

			<div class="uk-grid uk-grid-small uk-flex-between uk-flex-wrap" uk-grid>
				<p class="uk-width-1-1 uk-text-center uk-text-left@s uk-width-expand@s">&copy; {{ now() | date(format="%Y") }} Mike Rockwood</p>
				<p class="uk-flex uk-margin-auto">
					<a class="uk-link-text" href="https://hotlinewebring.club/interrobang/previous" target="_blank" aria-label="Previous Hotline Webring Site">←</a>
					<span class="uk-margin-left uk-margin-right">IndieWeb</span>
					<a class="uk-link-text" href="https://hotlinewebring.club/interrobang/next" target="_blank" aria-label="Next Hotline Webring Site">→</a>
				</p>
			</div>

		</div>
	</div>
</footer>
{% endmacro footer %}

{# This is the off-canvas theme picker #}
{% macro themeMenu() %}
<div id="js-theme-menu" uk-offcanvas="flip: true; mode: push;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        test
    </div>
</div>
{% endmacro themeMenu %}

{# This is the full-screen mobile navigation modal #}
{% macro mobileMenu() %}
<div id="js-mobile-menu" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-flex uk-height-viewport">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical uk-width-1-1">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-text-uppercase">
                {%- for i in config.extra.menu -%}
                {% set link_url = i.url | replace(from="$BASE_URL", to=config.base_url) %}
                <li {% if current_path and current_path == link_url %}class="uk-active"{% endif %}><a href="{{ get_url(path=i.url, trailing_slash=i.slash) }}{%- if i.slash and config.extra.uglyurls %}index.html{%- endif %}">{{ i.name | safe }}</a></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
</div>
{% endmacro mobileMenu %}

{% macro script() %}
<script src="{{ get_url(path="/scripts/uikit.min.js", cachebust=true) }}"></script>
<script src="{{ get_url(path="/scripts/uikit-icons.min.js", cachebust=true) }}"></script>
{% endmacro script %}
