---
layout: base
title: Blogroll
description: "A collection of other webdevelopment and design blogs I like to read."
permalink: "blogroll/index.html"
---

{%- block singleTop-%}
    {%- include '../_components/_singletop.njk' -%}
{%- endblock singleTop-%}

<div class="relative items-center w-full py-10 px-5 mx-auto md:max-w-screen-xl md:mx-auto">
    <ul class="grid w-full grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
    {% for item in blogroll %}

        <li class="">
            <div class="flex items-center">
                <img src="https://v1.indieweb-avatar.11ty.dev/{{ item.url | urlencode }}/" class="mr-6" width="60" height="60" alt="Avatar image for {{ item.title }}" loading="lazy" decoding="async" />
                <div>
                    <h2 class="text-lg font-bold">{{ item.title }}</h2>
                    <a class="text-sm" href="{{ item.url }}">{{ item.url }}</a>
                </div>
            </div>
            {% if item.description %}
                <p class="text-sm mt-4">{{ item.description }}</p>
            {% endif %}
        </li>

    {% endfor %}
    </ul>
</div>
