{% extends "base.html" %}


{#- Page Meta -#}
{% block head_page_meta %}
	<title>404 - {{ config.title }}</title>
	<meta name="description" content="Page not found!">
{%- endblock head_page_meta %}


{%- block masthead -%}
<header class="uk-section uk-text-center">
	<div class="uk-container uk-container-large">
		<h1 class="uk-heading-large uk-text-bold uk-text-uppercase uk-margin-small-bottom">
			404
		</h1>
		<p class="uk-width-large uk-margin-auto uk-margin-small-top">
			Page not found!
		</p>
	</div>
</header>
{%- endblock masthead -%}


{%- block content %}
<section class="uk-section uk-section-small">
	<div class="uk-container uk-text-center">

		<p>The page you are looking for does not exist or has been moved!</p>
		<p class="uk-margin-medium">
			<a href="{{ config.base_url | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}" class="">
				<span uk-icon="icon: arrow-left"></span>
				<span>Back to homepage</span>
			</a>
		</p>

	</div>
</section>
{%- endblock content %}
