{# This Page Shows the Posts Grouped by Year: example.com/posts/ #}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Posts" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<header class="uk-section uk-text-center">
	<div class="uk-container uk-container-large">
		<h1 class="uk-heading-xlarge uk-text-bold uk-text-uppercase">
			{{ section.title }}
		</h1>
		{% if section.description %}
		<p class="uk-width-large uk-margin-auto">
			{{ section.description }}
		</p>
		{% endif %}
	</div>
</header>

{% for subsection in section.subsections | sort %}
<section class="uk-section">
	<div class="uk-container">
		{% set subsection_item = get_section(path=subsection) %}
		<h2>{{ subsection_item.title  }}</h2>

		{% for post in subsection_item.pages %}
		<article class="uk-article">
			<h3 class="uk-article-title"><a href="{{ post.path }}">{{ post.title }}</a></h3>
			<p class="uk-article-meta">{{ post.date }}</p>
		</article>
		{% endfor %}
	</div>
</section>
{% endfor %}

{%- endblock content %}
