{# This Page Shows the Posts Grouped by Year: example.com/posts/ #}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Posts" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<header class="uk-section uk-text-center">
	<div class="uk-container uk-container-large">
		<h1 class="uk-heading-xlarge uk-text-bold uk-text-uppercase">
			{{ section.title }}
		</h1>
		{% if section.description %}
		<p class="uk-width-large uk-margin-auto">
			{{ section.description }}
		</p>
		{% endif %}
	</div>
</header>


<!-- Notes -->
{%- set notes = get_section(path="posts/notes/_index.md") %}
{% if notes.pages %}
<section class="uk-section">
	<div class="uk-container uk-container-large">

		<h2>Notes</h2>

		<div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@l" uk-grid>

		{% for note in notes.pages %}
			{% if loop.index < 5 %}

			<div>
				<article class="uk-card uk-card-body uk-card-default">

					<p class="uk-text-meta">
						{{ note.date | date(format="%d %b %Y at %H:%M") }}
					</p>

					{{ note.content | safe }}

				</article>
			</div>

			{% endif %}
		{% endfor %}

		</div>

	</div>
</section>
{% endif %}


<!-- Bookmarks -->
{%- set bookmarks = get_section(path="posts/bookmarks/_index.md") %}
{% if bookmarks.pages %}
<section class="uk-section">
	<div class="uk-container uk-container-large">

		<h2>Bookmarks</h2>

		<div class="uk-grid uk-child-width-1-2@m" uk-grid>

		{% for bookmark in bookmarks.pages %}
			{% if loop.index < 5 %}

			<div>

				<div class="uk-card uk-card-default uk-card-hover">
					<div class="uk-card-body">
						<h3 class="uk-card-title uk-margin-small">{{ bookmark.title }}</h3>
						<p class="uk-text-meta uk-margin-small">
							{{ bookmark.extra.bookmarkOf }}
						</p>
						{{ bookmark.content | safe }}
					</div>
				</div>

				<!-- <p class="uk-text-meta">
					{{ bookmark.date | date(format="%d %b %Y") }}
				</p> -->

			</div>

			{% endif %}
		{% endfor %}

		</div>

	</div>
</section>
{% endif %}


{% for subsection in section.subsections | sort %}
<section class="uk-section">
	<div class="uk-container">
		{% set subsection_item = get_section(path=subsection) %}
		<h2>{{ subsection_item.title  }}</h2>

		{% for post in subsection_item.pages %}
		<article class="uk-article">
			<h3 class="uk-article-title"><a href="{{ post.path }}">{{ post.title }}</a></h3>
			<p class="uk-article-meta">{{ post.date }}</p>
		</article>
		{% endfor %}
	</div>
</section>
{% endfor %}


{%- endblock content %}
