{# This Page Shows the Posts Grouped by Year: example.com/posts/ #}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Posts" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<header class="uk-section uk-text-center">
	<div class="uk-container uk-container-large">
		<h1 class="uk-heading-large uk-text-bold uk-text-uppercase">
			{{ section.title }}
		</h1>
		{% if section.description %}
		<p class="uk-width-large uk-margin-auto">
			{{ section.description }}
		</p>
		{% endif %}
	</div>
</header>


<!-- Articles -->
{#
{%- set articles = get_section(path="posts/articles/_index.md") %}
{% if articles.pages %}
<section class="uk-section">
	<div class="uk-container uk-container-large">

		<h2 class="uk-h1">Articles</h2>

		<uk class="uk-list uk-list-xlarge uk-list-divider">

		{% for article in articles.pages %}
			{% if loop.index < 6 %}

			<li class="">
				<!-- {% if loop.index > 1 %}<hr class="uk-margin-medium" />{% endif %} -->
				<article class="uk-panel">
					<div class="uk-child-width-expand uk-grid-column-large uk-grid-collapse uk-grid uk-flex-middle" uk-grid>
						<div class="uk-width-1-4@m">
							<time datetime="{{ article.date }}" class="uk-text-meta">{{ article.date | date(format="%d %b %Y") }}</time>
						</div>
						<div>
							<h3 class="uk-h2 uk-margin-remove">
								<a href="{{ article.permalink }}" class="uk-link-reset">{{ article.title }}</a>
							</h3>
						</div>
					</div>
				</article>
			</li>

			{% endif %}
		{% endfor %}

		</ul>

	</div>
</section>
{% endif %}
#}

<!-- Bookmarks -->
{%- set bookmarks = get_section(path="posts/bookmarks/_index.md") %}
{% if bookmarks.pages %}
<section class="uk-section">
	<div class="uk-container uk-container-large">

		<h2 class="uk-h1">Bookmarks</h2>

		<div class="uk-grid uk-child-width-1-2@m" uk-grid>

		{% for bookmark in bookmarks.pages %}
			{% if loop.index < 5 %}

			<div>

				<article class="uk-card uk-card-default uk-card-hover">
					<a href="{{ bookmark.extra.bookmarkOf }}" class="uk-card-body uk-link-reset">
						<div class="uk-grid uk-flex-middle">
							<div class="uk-width-expand">
								<h3 class="uk-card-title uk-margin-xsmall">{{ bookmark.title }}</h3>
								<p class="uk-text-meta uk-margin-xsmall">
									{{ bookmark.extra.bookmarkOf }}
								</p>
							</div>
							<div class="uk-width-auto">
								<span
									class="uk-icon-button"
									uk-icon="link"
									style="
										--icon-button-background: hsl( var(--global-background));
										--icon-button-hover-background: hsl( var(--global-background));
									"
								>
								</span>
							</div>
						</div>
						{# bookmark.content | safe #}
					</a>
				</article>

				<!-- <p class="uk-text-meta">
					{{ bookmark.date | date(format="%d %b %Y") }}
				</p> -->

			</div>

			{% endif %}
		{% endfor %}

		</div>

	</div>
</section>
{% endif %}


<!-- Jams -->
{%- set jams = get_section(path="posts/jams/_index.md") %}
{% if jams.pages %}
<section class="uk-section uk-section-secondary">
	<div class="uk-container uk-container-large">

		<h2 class="uk-h1">Jams</h2>

		<div class="uk-margin-medium-bottom uk-width-2-3@m">
			<ul class="uk-thumbnav" uk-switcher="connect: #jam-tabs; animation: uk-animation-fade">
			{% for jam in jams.pages %}
				{% if loop.index < 6 %}
				<li class="uk-width-1-5">
					<a href="#">
						<img src="{{ jam.extra.thumbnail }}" alt="album art for {{ jam.title }}" />
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

		<div>
			<ul id="jam-tabs" class="uk-switcher">
			{% for jam in jams.pages %}
				{% if loop.index < 6 %}
				<li>
					{%- if jam.extra.service == "bandcamp" -%}
					<iframe
						class="embed-bandcamp"
						src="https://bandcamp.com/EmbeddedPlayer/track={{ jam.extra.id }}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
						style="border: 0; width: 100%; height: 120px;"
						seamless
					></iframe>
					{%- elif jam.extra.service == "soundcloud" -%}
					<iframe
						class="embed-soundcloud"
						src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ jam.extra.id }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
						width="100%"
						height="166"
						scrolling="no"
						frameborder="no"
					></iframe>
					{%- elif jam.extra.service == "youtube" -%}
					<iframe
						class="embed-youtube"
						src="https://www.youtube-nocookie.com/embed/{{ jam.extra.id }}"
						style="height: 50vw; margin: 1rem 0; max-height: 25rem; width: 100%;"
						frameborder="0"
						allowfullscreen
					></iframe>
					{%- endif -%}

					{#
					{% if jam.extra.thumbnail %}
						<img src="{{ jam.extra.thumbnail }}" alt="album art for {{ jam.title }}" />
					{% else %}
						{{ jam.title }}
					{% endif %}
					#}
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

	</div>
</section>
{% endif %}


<!-- Notes -->
{%- set notes = get_section(path="posts/notes/_index.md") %}
{% if notes.pages %}
<section class="uk-section">
	<div class="uk-container uk-container-large">

		<h2 class="uk-h1">Notes</h2>

		<div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@l" uk-grid>

		{% for note in notes.pages %}
			{% if loop.index < 5 %}

			<div>
				<article class="uk-card uk-card-body uk-card-default">

					<p class="uk-text-meta">
						{{ note.date | date(format="%d %b %Y at %H:%M") }}
					</p>

					{{ note.content | safe }}

				</article>
			</div>

			{% endif %}
		{% endfor %}

		</div>

	</div>
</section>
{% endif %}


{#
{% for subsection in section.subsections | sort %}
<section class="uk-section">
	<div class="uk-container">
		{% set subsection_item = get_section(path=subsection) %}
		<h2>{{ subsection_item.title  }}</h2>

		{% for post in subsection_item.pages %}
		<article class="uk-article">
			<h3 class="uk-article-title"><a href="{{ post.path }}">{{ post.title }}</a></h3>
			<p class="uk-article-meta">{{ post.date }}</p>
		</article>
		{% endfor %}
	</div>
</section>
{% endfor %}
#}

{%- endblock content %}
