{% extends "index.html" -%}

{%- block title %}
    <title>{{ section.title }} - {{ config.extra.author }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
<main>

<header class="uk-section uk-text-center">
    <div class="uk-container uk-container-large">
        <h1 class="uk-heading-large uk-text-bold uk-text-uppercase">
            {{ section.title }}
        </h1>
        {% if section.description %}
        <p class="uk-width-large uk-margin-auto">
            {{ section.description }}
        </p>
        {% endif %}
    </div>
</header>

<article class="post">
    {#- Skipping logic for cover as was in original Terminal theme -#}

    {{ section.content | safe }}

    {# TODO: Decide if any sort of commenting functionality is desired? #}
    {#%- include "snippets/comments.html"  -%#}
</article>

</main>
{%- endblock main -%}
