{% extends "base.html" %}

{%- block content %}

<article class="h-entry">
{% include "posts/_microformats.html" %}
	{% if page.date %}<time class="dt-published" datetime="{{ page.date | date(format='%Y-%m-%d %H:%M:%S') }}" hidden>{{ page.date }}</time>{% endif %}

	<header>

		<h1 class="p-name">
			Replied to <a class="u-in-reply-to" href="{{ page.extra["in-reply-to"] }}">{{ page.extra["in-reply-to"] }}</a>
		</h1>

	</header>

	<div class="e-content">

		{{ page.content | safe }}

	</div>

</article>


{%- endblock content %}
