{% extends "posts/single.html" %}

{%- block entry_header %}
	<header class="uk-section uk-section-small">
		<div class="uk-container uk-container-large uk-text-center">
			<h1 class="p-name uk-heading-small uk-text-bold uk-text-uppercase uk-margin-remove">{{ page.title }}</h1>
			{% if page.extra.rsvp %}<data class="p-rsvp uk-label" value="{{ page.extra.rsvp }}">{{ page.extra.rsvp | capitalize }}</data>{% endif %}
			{% if page.extra["in-reply-to"] %}
			<p><a class="u-in-reply-to" href="{{ page.extra["in-reply-to"] }}">Event details</a></p>
			{% endif %}
		</div>
	</header>
{%- endblock entry_header %}

{%- block entry_content %}
	<div class="e-content uk-section uk-section-secondary">

		{{ page.content | safe }}

	</div>
{%- endblock entry_content %}
