<!-- footer start -->
<footer id="footer" class="md:pt-8 pb-10 md:pb-16 border-t border-gray-200 dark:border-gray-800">

	<div class="max-w-screen-xl m-auto px-5 grid gap-10 grid-cols-4">

		<!-- copyright -->
		<div class="mt-7 md:mt-0 text-sm flex-1 flex flex-col items-start">
			<span class="font-bold">
				© 2022
			</span>
			<span class="mt-1">
				<a class="underline hover:text-primary-gray-20" href>
					Mike Rockwood
				</a>
			</span>
		</div>

		<!-- elsewhere -->
		<div class="mt-7 md:mt-0 text-sm flex-1 flex flex-col items-start">
			<span class="font-bold">
				Elsewhere
			</span>
			<span class="mt-1">
				<a class="underline hover:text-primary-gray-20" href>
					Github
				</a>
			</span>
		</div>

		<!-- links -->
		<div class="mt-7 md:mt-0 text-sm flex-1 flex flex-col items-start">
			<span class="font-bold">
				Links
			</span>
			<span class="mt-1">
				<a class="underline hover:text-primary-gray-20" href>
					Blogroll
				</a>
			</span>
		</div>

	</div>

</footer>
<!-- footer end -->
