{% extends "index.html" %}

{% block content %}
<header class="uk-section uk-text-center">
    <div class="uk-container uk-container-large">
        <h1 class="uk-heading-large uk-text-bold uk-text-uppercase">
            {{ section.title }}
        </h1>
        {% if section.description %}
        <p class="uk-width-xlarge uk-margin-auto">
            {{ section.description }}
        </p>
        {% endif %}
    </div>
</header>

<section class="uk-section uk-section-secondary uk-section-large">
	<div class="uk-margin uk-container uk-container-large">
        <div class="uk-width-1-2@m">
            <h2 class="uk-h1" uk-scrollspy-class>Featured Projects</h2>
            <!-- <div class="uk-panel uk-margin" uk-scrollspy-class>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</div> -->
		</div>
    </div>
	<div class="uk-container uk-container-large">
		<div class="uk-grid-large uk-margin-top uk-grid uk-grid-stack" uk-grid>

		{% for project in section.pages %}
			{% if project.extra.featured and project.extra.featuredImg %}

			{% set project_relative_path_array = project.relative_path | split(pat="/")  %}
			{% set feature_image = project_relative_path_array[0] ~ "/" ~ project_relative_path_array[1] ~ "/" ~ project.extra.featuredImg %}
			{% set image = resize_image(path=feature_image, width=1200, op='fit_width', format='webp', quality=75) %}

			{% if project.extra.externalLink %}
				{% set link = project.extra.externalLink %}
			{% endif %}

			<div uk-parallax="y: 10vh,0; easing: 0.5; end: 100vh + 50%; media: @m;">
				<div class="uk-card uk-card-default">
					<div class="uk-grid-collapse uk-grid-match uk-grid uk-flex-middle" uk-grid>
						<div class="uk-width-expand@m">
							<div class="uk-panel uk-overflow-hidden">
								<canvas width="600" height="500"></canvas>
								<img src="{{ image.url }}" alt="image" data-uk-cover="" class="uk-cover">
								<div class="uk-position-cover uk-position-z-index uk-visible@m" style="background-image: linear-gradient(to right, var(--card-default-background) 8.33%, transparent);"></div>
								<div class="uk-position-cover uk-position-z-index uk-hidden@m" style="background-image: linear-gradient(to top, var(--card-default-background) 8.33%, transparent);"></div>
							</div>
						</div>
						<div class="uk-width-1-2@m uk-flex-first@m uk-first-column">
							<div class="uk-panel uk-card uk-card-body uk-card-large uk-padding-remove-right@m uk-flex-column uk-flex-between">
								<div class="uk-panel">
									<div class="uk-text-small">
										{% for task in project.taxonomies.tasks %}
										<span class="uk-label">{{ task }}</span>
										{% endfor -%}
									</div>
									<h3 class="uk-h1 uk-margin-large-top@m">{{ project.title }}</h3>
									{% if project.description %}<p class="">{{ project.description }}</p>{% endif %}
								</div>
								{% if link %}
								<div class="uk-margin-medium-top">
									<a href="{{ link }}" class="uk-button uk-button-large uk-button-primary">
										<span>View case study</span>
									</a>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

			{% endif %}
		{% endfor %}

	</div>
</section>


<div class="uk-section uk-section-default uk-section-large">
    <div class="uk-position-relative">
        <div class="uk-grid-margin uk-container uk-container-large">
            <div class="uk-grid-column-large" uk-grid>
                <div class="uk-width-1-3@m">
                    <h2 class="uk-h1 uk-position-relative">Experience</h2>
                </div>
                <div class="uk-width-2-3@m">
                    <div class="uk-position-relative uk-margin">
                        <div class="uk-child-width-1-1 uk-grid-row-large uk-grid-match" uk-grid>
							{% set experience = load_data(path="content/work/_experience.json") %}
							{% for job in experience.jobs %}
                            <div>
                                <div class="uk-panel uk-margin-remove-first-child">
                                    <div class="uk-child-width-expand uk-margin-top" uk-grid>
                                        <div class="uk-width-2-5@s uk-margin-remove-first-child">
                                            <div class="uk-text-meta uk-h6 uk-margin-top uk-margin-remove-bottom">{{ job.years }}</div>
                                            <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">{{ job.title }}</h3>
                                        </div>
                                        <div class="uk-margin-remove-first-child">
                                            <div class="uk-panel uk-margin-top">{{ job.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Graveyard -->
<div class="uk-section uk-section-default" uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-left-small;">
    <div class="uk-margin-medium uk-container uk-container-large">
        <div class="uk-width-1-2@m">
            <h2 class="uk-h1" uk-scrollspy-class>Old Stuff</h2>
            <div class="uk-panel uk-margin" uk-scrollspy-class>Most of these websites are now long gone. A testament to the fleeting nature of the web.</div>
        </div>

		<div class="uk-grid-margin uk-container uk-container-large">
			<div class="uk-child-width-1-1" uk-grid>
				<div class="uk-width-1-1@m">
					<div uk-filter="target: .js-filter;" class="uk-margin">
						<ul class="uk-subnav uk-subnav-pill uk-margin" uk-scrollspy-class>
							<li class="uk-active" uk-filter-control><a href="#">All</a></li>
							{%- set tasks = get_taxonomy(kind="tasks") %}
							{% for task in tasks.items %}
							<li uk-filter-control="[data-tag~=&#039;{{ task.name }}&#039;]">
								<a href="#">{{ task.name }}</a>
							</li>
							{% endfor -%}
						</ul>
						<div class="js-filter uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid="masonry: 1;">

							{% for project in section.pages %}
								{% if project.extra.featuredImg and project.extra.featured != true %}
									{% set project_relative_path_array = project.relative_path | split(pat="/")  %}
									{% set feature_image = project_relative_path_array[0] ~ "/" ~ project_relative_path_array[1] ~ "/" ~ project.extra.featuredImg %}
									{% set image = resize_image(path=feature_image, width=640, op='fit_width', format='webp', quality=75) %}

									<div data-tag="{% for task in project.taxonomies.tasks %}{{ task }} {% endfor %}">
										<div class="uk-light">
											<a class="uk-inline-clip uk-transition-toggle uk-link-toggle" href="" uk-scrollspy-class>
												<img alt class="uk-transition-opaque" data-src="{{ image.url }}" data-sizes="(min-width: 720px) 720px" data-width="720" data-height="1360" uk-img>
												<div class="uk-overlay-dark uk-transition-slide-bottom-small uk-position-cover">
												</div>
												<div class="uk-position-bottom-left uk-transition-slide-bottom-small">
													<div class="uk-overlay uk-margin-remove-first-child">
														<div class="uk-text-meta uk-margin-top">
															{% for task in project.taxonomies.tasks %}
																{{ task }}
																{%- if project.taxonomies.tasks | length > 1 %}
																	{% if loop.index != project.taxonomies.tasks | length %}
																		{% if loop.index == project.taxonomies.tasks | length - 1 %}
																			and
																		{% else %}
																			,
																		{% endif %}
																	{% endif %}
																{% endif -%}
															{% endfor %}
														</div>
														<h2 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
															{{ project.title }}
														</h2>
													</div>
												</div>
											</a>
										</div>
									</div>

								{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

{% endblock content %}
